{% extends 'frontend/layout.html' %}
{% load static %}
{% load mathfilters %}

{% block title %}<title>Sepetim</title>{% endblock %}
{% block cart %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/orders.css' %}">
    <hr>
    <div class="container container-240">
        <div class="checkout">
            <ul class="breadcrumb v3">
                <li><a href="{% url 'mainpage' %}">Anasayfa</a></li>
                <li class="active">Sepetim</li>
            </ul>
            <div class="row">
                <form action="{% url 'cart' %}" name="checkout" method="post" id="checkoutPrevious">
                    {% csrf_token %}
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="address-cart mb-50 bd-7">
                            <div class="cmt-title text-center abs">
                                <h1 class="page-title v2">Adres</h1>
                            </div>

                            <div class="address__button__group mb-30" style="padding-left: 20px;">
                                <a href="" data-toggle="modal" class="btn btn-primary" data-target="#addressCreate"><i
                                        class="fas fa-plus"></i>
                                    &nbsp;Yeni Adres Ekle</a>
                                <a href="" data-toggle="modal" class="btn btn-primary" data-target="#changeAddress"><i
                                        class="fas fa-arrow-right"></i>
                                    &nbsp;Adres Değiştir</a>
                            </div>
                            {% if address.is_active == "Evet" %}
                                <div class="profile-page__content mb-30" style="margin-left: 15px; margin-right: 15px;">
                                    <div class="addresses__list">
                                        <div class="addresses__list-item">
                                            <div class="address"
                                                 style="display: flex; flex-direction: row; justify-content: space-between">
                                                <div class="address__body">
                                                    <div class="address__rec">
                                                            <span class="name-contacts">
                                                                {{ address.title }} - {{ address.first_name }} {{ address.last_name }} <a
                                                                    class="phone"
                                                                    href="tel:{{ address.mobile }}">{{ address.mobile }}</a>
                                                            </span>
                                                        <input type="hidden" name="selectedAddress"
                                                               value="{{ address.id }}">
                                                        <span class="address">
                                                                {{ address.address }} {{ address.neighbourhood }} Mah. / {{ address.county }} / {{ address.city }}
                                                    </span>
                                                        {% if address.is_active == "Evet" %}
                                                            <span class="status" style="display: block">
                                                                        <span class="badge badge-grad-1 badge-lg">Geçerli Adres</span>
                                                                    </span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="address__controls"
                                                     style="display: flex; flex-direction: row; justify-content: center; align-items: center">
                                                    <a href="{% url 'update_address' address.id %}"
                                                       class="btn btn-icon-only">
                                                        <svg xmlns="https://www.w3.org/2000/svg" width="24"
                                                             height="24"
                                                             viewBox="0 0 24 24" fill="none"
                                                             stroke="currentColor"
                                                             stroke-width="2" stroke-linecap="round"
                                                             stroke-linejoin="round"
                                                             class="feather feather-edit-3">
                                                            <path d="M12 20h9"></path>
                                                            <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="profile-page__content mb-30" style="margin-left: 15px; margin-right: 15px;">
                                    <p>Seçili adresiniz veya hiç adresiniz bulunmuyor.</p>
                                </div>
                            {% endif %}

                        </div>
                        <div class="shopping-cart mt-30 bd-7">
                            <div class="cmt-title text-center abs">
                                <h1 class="page-title v2">Sepet</h1>
                            </div>
                            <div class="table-responsive">
                                <table class="table cart-table">
                                    <tbody>
                                    {% for cart_item in cart_items %}
                                        <tr class="item_cart">
                                            <td class="product-name flex align-center">
                                                <a href="{% url 'remove_cart' cart_item.product.id cart_item.id %}"
                                                   class="btn-del"><i class="fa-solid fa-xmark"></i></a>
                                                <div class="product-img">
                                                    <img src="{{ cart_item.product.get_image }}" alt="Futurelife">
                                                </div>
                                                <div class="product-info">
                                                    <a href="{{ cart_item.product.get_url }}"
                                                       title="">{{ cart_item.product.title }}</a>
                                                    {% if cart_item.variant != None %}
                                                        <span style="display: block">-{{ cart_item.variant.color }}</span>
                                                        <span style="display: block">-{{ cart_item.variant.size }}</span>
                                                    {% endif %}
                                                </div>
                                            </td>

                                            <td class="bcart-quantity single-product-detail">
                                                <div class="single-product-info">
                                                    <div class="e-quantity">
                                                        <input type="number" step="1" min="1" max="999" name="quantity"
                                                               value="{{ cart_item.quantity }}" disabled="disabled"
                                                               title="Qty"
                                                               class="qty input-text js-number"
                                                               size="4">
                                                        <div class="tc pa">
                                                            <a href="{% url 'plus_quantity' cart_item.product.id cart_item.id %}"
                                                               class="plus quantity-right-plus"><i
                                                                    class="fa-solid fa-sort-up"></i></a>
                                                            <a href="{% url 'minus_quantity' cart_item.product.id cart_item.id %}"
                                                               class="minus quantity-left-minus">
                                                                <i class="fa-solid fa-sort-down"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="total-price">
                                                {% if cart_item.product.variant != 'Yok' %}
                                                    <p class="price">{{ cart_item.variant.price|mul:cart_item.quantity|floatformat:2 }}
                                                        TL</p>
                                                {% else %}
                                                    <p class="price">{{ cart_item.sub_total|floatformat:2 }} TL</p>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <div class="d-block">
                                            <div class="placeholder-message">
                                                <div class="icon">
                                                    <span>
                                                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none"
                                                             xmlns="https://www.w3.org/2000/svg">
                                                            <path d="M18 36C27.9411 36 36 27.9411 36 18C36 8.05887 27.9411 0 18 0C8.05887 0 0 8.05887 0 18C0 27.9411 8.05887 36 18 36Z"
                                                                  fill="#FFCC4D"/>
                                                            <path d="M24.5 19C27.5376 19 30 16.5376 30 13.5C30 10.4624 27.5376 8 24.5 8C21.4624 8 19 10.4624 19 13.5C19 16.5376 21.4624 19 24.5 19Z"
                                                                  fill="#F4F7F9"/>
                                                            <path d="M11.5 19C14.5376 19 17 16.5376 17 13.5C17 10.4624 14.5376 8 11.5 8C8.46243 8 6 10.4624 6 13.5C6 16.5376 8.46243 19 11.5 19Z"
                                                                  fill="#F4F7F9"/>
                                                            <path d="M23.109 23.424C20.346 22.757 14.236 23.364 11.947 27.829C11.865 27.987 11.907 28.182 12.047 28.293C12.115 28.348 12.198 28.375 12.281 28.375C12.366 28.375 12.452 28.346 12.522 28.288C15.606 25.708 19.958 25.708 22.558 25.708C24.193 25.708 25.094 25.708 25.094 25C25.094 24.292 24.389 23.732 23.109 23.424ZM10.5 13C11.881 13 13 11.881 13 10.5C13 9.24799 12.077 8.21999 10.876 8.03799C10.086 8.12699 9.35 8.38599 8.698 8.77399C8.268 9.22299 8 9.82899 8 10.5C8 11.881 9.119 13 10.5 13ZM23.5 13C24.881 13 26 11.881 26 10.5C26 9.24799 25.077 8.21999 23.876 8.03799C23.087 8.12699 22.35 8.38599 21.699 8.77399C21.268 9.22299 21 9.82899 21 10.5C21 11.881 22.119 13 23.5 13Z"
                                                                  fill="#65471B"/>
                                                        </svg>
                                                    </span>
                                                </div>
                                                <h2>
                                                    Sepetinizde hiç ürün yok.
                                                </h2>
                                                <p>
                                                    Sepetinize ürün yükleyerek ün uygun fiyatlarla ürünleri
                                                    alabilirsiniz.
                                                    Keyifli alışverişler dileriz.
                                                </p>

                                                <div class="btn-controls">
                                                    <div class="btn-control__item">
                                                        <a href="{% url 'mainpage' %}" class="a-block">
                                                            <div class="btn btn-primary btn-icon btn-lg">
                                                                <span class="icon">
                                                                    <svg xmlns="https://www.w3.org/2000/svg" width="24"
                                                                         height="24" viewBox="0 0 24 24" fill="none"
                                                                         stroke="currentColor" stroke-width="2"
                                                                         stroke-linecap="round" stroke-linejoin="round"
                                                                         class="feather feather-arrow-up-right">
                                                                        <line x1="7" y1="17" x2="17" y2="7"></line>
                                                                        <polyline points="7 7 17 7 17 17"></polyline>
                                                                    </svg>
                                                                </span>
                                                                <span class="text">
                                                                            Hadi Alışverişe başlayalım
                                                                </span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-cart-bottom">
                                <form class="form_coupon" method="post">
                                    {% csrf_token %}
                                    <input type="text"
                                           value="{% if coupon.is_active == True %}{{ coupon.coupon_code }}{% endif %}"
                                           placeholder="Kupon Kodu" name="coupon" id="coupon"
                                           class="newsletter-input form-control">
                                    <div class="input-icon">
                                        <img src="{% static 'img/coupon-icon.png' %}" alt="">
                                    </div>
                                    <button id="getCoupon"
                                            class="button_mini btn {% if coupon.is_active == True %}coupon-passive{% endif %}"
                                            type="submit" name="applyCoupon">
                                        Kupon Uygula
                                    </button>
                                    <button id="deleteCoupon"
                                            class="button_mini btn coupon-passive {% if coupon.is_active == True %}coupon-active{% endif %}"
                                            type="button" name="cancelCoupon">
                                        Kupon Kaldır
                                    </button>
                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="cart-total bd-7">
                            <div class="cmt-title text-center abs">
                                <h1 class="page-title v3">Sepet Toplamı</h1>
                            </div>
                            <div class="table-responsive">
                                <table class="shop_table" style="width: 100%">
                                    <tbody>
                                    <tr class="cart-subtotal">
                                        <th>Ürün Toplamı</th>
                                        <td>{{ total|floatformat:2 }} TL</td>
                                    </tr>
                                    <tr class="cart-subtotal">
                                        <th>Kargo Ücreti</th>
                                        <td class="td">
                                            {% if total != 0 %}
                                                {% if total < setting.free_shipping %}
                                                    {{ setting.shipping_price|floatformat:2 }} TL
                                                    <input type="hidden"
                                                           value="{{ setting.shipping_price|floatformat:2 }}"
                                                           name="delivery_price">
                                                {% else %}
                                                    Ücretsiz
                                                {% endif %}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr class="cart-subtotal">
                                        <th>Kupon</th>
                                        <td class="td coupon">
                                            {% if coupon.is_active == True %}
                                                <input type="hidden" value="{{ coupon.coupon_price }}"
                                                       name="used_coupon">
                                                {{ coupon.coupon_price|floatformat:2 }} TL
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr class="cart-subtotal">
                                        <th><b>Toplam</b></th>
                                        <td id="total-price">
                                            {% if total != 0 %}
                                                <input type="hidden" value="{{ general_total }}" name="order_total">
                                                <b>{{ general_total|floatformat:2 }} TL</b>
                                            {% else %}
                                                <b>0 TL</b>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="cart-total bd-7 mt-30 approved-div">
                            <div class="cart-total-bottom v2" style="padding: 5px; margin: 0;">
                                <div class="form-check">
                                    <label class="form-check-label ver2">
                                        <input type="checkbox" class="form-check-input" name="approved_contract"
                                               value="True" required="">
                                        <a href="#" data-toggle="modal"
                                           data-target="#preliminaryInformationForm" class="term">Ön Bilgilendirme
                                            Formunu</a> ve <a
                                            href="#" data-toggle="modal"
                                            data-target="#distanceSellingContract"
                                            class="term">Mesafeli Satış Sözleşmesini</a>
                                        okudum ve onaylıyorum.
                                    </label>
                                    <span id="approvedNote"
                                          style="color: red;margin-left: 10px; background: white; padding: 4px; width: 100%">*Sözleşmeleri onaylamanız gerekmektedir.</span>
                                </div>
                            </div>
                        </div>

                        <div class="cart-total-bottom v2" style="margin-top: 30px;">
                            <input type="hidden" value="{% url 'checkout' %}" id="checkoutUrl">
                            <a href="{% url 'submitCheckout' %}" id="paymentBtn"
                               class="btn-gradient btn-checkout btn-co-order">Onayla ve Ödeme Yap
                            </a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="contract-card">
                        <div class="contract-card-header">
                            Ön Bilgilendirme Formu
                        </div>
                        <div class="contract-body">
                                        <textarea name="preliminary_form" id="" cols="0" rows="0"
                                                  style="display: none">{% include 'frontend/information/preliminary_information_form.html' %}</textarea>
                            {% include 'frontend/information/preliminary_information_form.html' %}
                        </div>
                    </div>

                    <div class="contract-card">
                        <div class="contract-card-header">
                            Mesafeli Satış Sözleşmesi
                        </div>
                        <div class="contract-body">
                                        <textarea name="distance_selling_form" id="" cols="0" rows="0"
                                                  style="display: none">{% include 'frontend/information/distance_selling_contract.html' %}</textarea>
                            {% include 'frontend/information/distance_selling_contract.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade confirm-actions" tabindex="-1" role="dialog"
         id="addressCreate">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Yeni Adresi Ekle
                    </h5>
                </div>
                <div class="modal-body">
                    <form class="form address-form" method="POST"
                          data-counties-url="{% url 'load_counties' %}" id="addAddressForm">
                        {% csrf_token %}
                        <div class="row">
                            {% for field in add_form %}
                                <div class="col-lg-12" id="field-{{ field.id_for_label }}">
                                    <div class="form-group mb-20">
                                        <div class="form-field">
                                            <label for="{{ field.id_for_label }}"
                                                   class="form-control-label">
                                                {{ field.label }}
                                            </label>
                                            {{ field }}
                                        </div>
                                    </div>
                                </div>
                                {{ error }}
                            {% endfor %}
                        </div>
                        <div class="flex lr">
                            <button type="submit" class="btn btn-submit btn-gradient"
                                    id="addAddressBtn"
                                    name="addAddressBtn">
                                Adres Ekle
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade confirm-actions" tabindex="-1" role="dialog"
         id="changeAddress">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Adres Değiştir
                    </h5>
                </div>
                <div class="modal-body">
                    <ul>
                        {% for a in all_address %}
                            <li>
                                <a href="{% url 'select_address' a.id %}">
                                    <div class="profile-page__content mb-30"
                                         style="margin-left: 15px; margin-right: 15px;">
                                        <div class="addresses__list">
                                            <div class="addresses__list-item">
                                                <div class="address"
                                                     style="display: flex; flex-direction: row; justify-content: space-between">
                                                    <div class="address__body">
                                                        <div class="address__rec"
                                                             style="display: flex; flex-direction: column; justify-content: start">
                                                            <span class="name-contacts">
                                                                {{ a.title }}
                                                            </span>
                                                            <input type="hidden" name="selectedAddress" value="4">
                                                            <span class="address">
                                                                {{ a.address }} {{ a.neighbourhood }} Mah. / {{ a.county }} / {{ a.city }}
                                                                </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        {% empty %}
                            <li>
                                <div class="profile-page__content mb-30" style="margin-left: 15px; margin-right: 15px;">
                                    <p>Kayıtlı farklı adresiniz bulunmamaktadır.</p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/load_counties.js' %}"></script>
    <script src="{% static 'js/address.js' %}"></script>
    <script src="{% static 'js/use_coupon.js' %}"></script>
    <script src="{% static 'js/cart.js' %}"></script>

    <script>
        document.getElementById('id_mobile').addEventListener('input', function (e) {
            var x = e.target.value.replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
            e.target.value = !x[2] ? x[1] : '(' + x[1] + ') ' + x[2] + (x[3] ? '-' + x[3] : '');
        });

    </script>

{% endblock %}