{% extends 'frontend/layout.html' %}
{% load static %}
{% load mathfilters %}

{% block title %}<title>Ödeme Kontrol</title>{% endblock %}

{% block checkout %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/orders.css' %}">
    <hr>

    <div class="main-content space1">
        <div class="container container-240">
            <ul class="breadcrumb">
                <li><a href="{% url 'mainpage' %}">Anasayfa</a></li>
                <li><a href="{% url 'cart' %}">Sepetim</a></li>
                <li class="active">Ödeme Yap</li>
            </ul>

            {% csrf_token %}
            <div class="cart-box-container-ver2">
                <div class="row">
                    <div class="col-md-8">
                        <div class="payment__method bd-7">
                            <div class="cmt-title text-center abs">
                                <h1 class="page-title v3">Ödeme Yöntemi</h1>
                            </div>
                            <div class="payment_content">
                                <script src="https://www.paytr.com/js/iframeResizer.min.js"></script>
                                <iframe src="https://www.paytr.com/odeme/guvenli/{{ token }}" id="paytriframe"
                                        frameborder="0" scrolling="no" style="width: 100%;"></iframe>
                                <script>iFrameResize({}, '#paytriframe');</script>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="cart-total bd-7">
                            <div class="cmt-title text-center abs">
                                <h1 class="page-title v3">Siparişiniz</h1>
                            </div>
                            <div class="table-responsive">
                                <div class="co-pd">
                                    <p class="co-title">
                                        Ürün<span>Fiyatı</span>
                                    </p>
                                    <ul class="co-pd-list">
                                        {% for p in cart_items %}
                                            <li class="clearfix">
                                                <div class="co-name">
                                                    <span>- </span>{{ p.product.title }} ({% if p.variant != None %}
                                                    <span>{{ p.variant.color }} {{ p.variant.size }}</span>
                                                {% endif %}) x {{ p.quantity }}
                                                </div>
                                                {% if p.product.variant != 'Yok' %}
                                                    <div class="co-price">
                                                        {{ p.variant.price|mul:p.quantity|floatformat:2 }} TL
                                                    </div>
                                                {% else %}
                                                    <div class="co-price">
                                                        {{ p.sub_total|floatformat:2 }} TL
                                                    </div>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <table class="shop_table">
                                    <tbody>
                                    <tr class="cart-subtotal">
                                        <th>Toplam</th>
                                        <td>{{ total|floatformat:2 }} TL</td>
                                    </tr>
                                    <tr class="cart-subtotal">
                                        <th>Kargo</th>
                                        <td>
                                            {% if total != 0 %}
                                                {% if total < setting.free_shipping %}
                                                    {{ setting.shipping_price|floatformat:2 }} TL
                                                {% else %}
                                                    <input type="hidden"
                                                           value="0"
                                                           name="delivery_price">
                                                    Ücretsiz
                                                {% endif %}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr class="cart-subtotal">
                                        <th>Kupon</th>
                                        <td>
                                            {% if coupon.is_active %}
                                                - {{ coupon.coupon_price }} TL
                                            {% else %}
                                                - 0,00 TL
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr class="cart-subtotal">
                                        <th><b>Genel Toplam</b></th>
                                        <td><b>{{ grand_total|floatformat:2 }} TL</b></td>
                                    </tr>
                                    <tr class="cart-subtotal">
                                        <th>Ödeme Yöntemi</th>
                                        <td id="paymentType">Banka/Kredi Kartı</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="cart-total bd-7 mt-50">
                            <div class="cmt-title text-center abs">
                                <h1 class="page-title v3">Adres</h1>
                            </div>
                            <div class="selectingAddress" style="padding: 10px 5px;">
                                - {{ pre_order.delivery_address.address }} {{ pre_order.delivery_address.neighbourhood }}
                                Mah. / {{ pre_order.delivery_address.county }} / {{ pre_order.delivery_address.city }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-30">
                    <div class="col-lg-12">
                        <div class="contract-card">
                            <div class="contract-card-header">
                                Ön Bilgilendirme Formu
                            </div>
                            <div class="contract-body">
                                {% include 'frontend/information/preliminary_information_form.html' %}
                            </div>
                        </div>

                        <div class="contract-card">
                            <div class="contract-card-header">
                                Mesafeli Satış Sözleşmesi
                            </div>
                            <div class="contract-body">
                                {% include 'frontend/information/distance_selling_contract.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="{% static 'js/payment.js' %}"></script>

{% endblock %}