{% extends 'frontend/layout.html' %}
{% load static %}

{% block title %}<title>Ödemeniz Tamamlandı</title>{% endblock %}

{% block checkout %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/orders.css' %}">
    <hr>
    <div class="main-content space1">
        <div class="container container-240">
            <div class="row">
                <div class="col-lg-12">
                    <div class="payment_completed">
                        <div class="payment_completed__header">
                            <h3>Siparişiniz oluşturuldu. <i class="fa fa-check-circle"></i></h3>
                        </div>
                        <div class="payment_completed__info">
                            <div class="total__price">
                                <span>Sipariş Numarası:</span>
                                <span>{{ order.order_number }}</span>
                            </div>
                            <div class="total__price">
                                <span>Toplam Ücret: {{ order.order_total|floatformat:2 }} TL</span>
                                <span></span>
                            </div>
                            <div class="total__price">
                                <span>Ödeme Şekli: {% if order.is_installment %}{{ order.installment }} Taksit {% else %}Peşin
                                    Ödeme{% endif %}</span>
                                <span></span>
                            </div>
                            <div class="total__price">
                                <span>Ödeme Yöntemi: Banka/Kredi Kartı</span>
                                <span></span>
                            </div>
                        </div>
                        <div class="payment_completed__button">
                            <a href="{% url 'order_page' %}" class="cart-btn btn-viewcart btn-ordering">Siparişlerime
                                Git</a>
                            <a href="{% url 'mainpage' %}" class="cart-btn e-checkout btn-gradient btn-continue">Alışverişe
                                Devam
                                Et</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}