{% extends 'frontend/layout.html' %}
{% load static %}
{% block title %}<title>En Uygun Fiyatlı En Şık Ürünler</title>{% endblock %}
{% block seodescription %}
    <meta name="description" content="{{ setting.description }}">{% endblock %}
{% block seokeyword %}
    <meta name="keywords" content="{{ setting.keywords }}">{% endblock %}
{% block canonical %}
    <link rel="canonical" href="https://www.tredyshop.com">{% endblock %}

{% block mainpage %}
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
    <section class="all-s">

        <div class="ads-group v2 bd-slick">
            <div class="container container-240">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        {% include 'frontend/partials/slider.html' %}
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="row">
                            <div class="col-md-12 banner-img-item">
                                <div class="banner-img banner-img2">
                                    <a href="{% url 'under_50_price' %}"><img
                                            src="{% static 'img/banner/under_price.jpg' %}"
                                            alt=""
                                            class="img-responsive" style="height: 299px!important;"></a>
                                </div>
                            </div>
                            <div class="col-md-12 banner-img-item">
                                <div class="banner-img banner-img2">
                                    <a href="{% url 'most_discount_product' %}"><img
                                            src="{% static 'img/banner/most_discount.jpg' %}" alt=""
                                            class="img-responsive" style="height: 299px!important;"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% include 'frontend/partials/__flash_deals.html' %}
        {% include 'frontend/partials/most_seller.html' %}
        {% include 'frontend/partials/ust_giyim_yeni_yayınlananlar.html' %}
        {% include 'frontend/partials/alt_giyim_yeni_yayınlananlar.html' %}
        {% include 'frontend/partials/elbise_yeni_yayınlananlar.html' %}
        {% include 'frontend/partials/ayakkabi_yeni_yayınlananlar.html' %}
        {% include 'frontend/partials/aksesuar_yeni_yayınlananlar.html' %}
        {% include 'frontend/partials/ic_giyim_yeni_yayınlananlar.html' %}
        {% include 'frontend/partials/en_begenilenler.html' %}
        {% include 'frontend/partials/en_yorumlananlar.html' %}


    </section>

    <script src="{% static 'js/mainpage_api.js' %}"></script>

{% endblock %}