{% extends 'frontend/layout.html' %}
{% load static %}

{% block title %}<title>{{ product.title }}</title>{% endblock %}
{% block seodescription %}
    <meta name="description" content="{{ product.description }}">{% endblock %}
{% block seokeyword %}
    <meta name="keywords" content="{{ product.keywords }}">{% endblock %}
{% block canonical %}
    <link rel="canonical" href="{% url 'products_detail' product.slug %}">{% endblock %}

{% block product %}
    <link rel="stylesheet" href="{% static 'css/reviews.css' %}">
    <link rel="stylesheet" href="{% static 'css/venobox.min.css' %}">

    <div class="container container-240 page-container product">
        <div class="single-product-detail product-bundle product-aff">
            <ul class="breadcrumb">
                <li><a href="#">Anasayfa</a></li>
                <li class="active"><a
                        href="{% url 'product_by_category' product.category.slug %}">{{ product.category.title }}</a>
                </li>
                <li class="active"><a
                        href="{% url 'product_by_subcategory' product.category.slug product.subcategory.slug %}">{{ product.subcategory.title }}</a>
                </li>
                <li class="active">{{ product.title }}</li>
            </ul>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">

                    <div class="flex product-img-slide">


                        <div class="product-images">
                            <div class="main-img js-product-slider">
                                {% for i in image_urls %}
                                    {% if i != None %}
                                        <a href="#" class="hover-images effect"><img src="{{ i }}"
                                                                                     alt="photo"
                                                                                     class="img-reponsive"
                                                                                     style="height: 600px;object-fit: contain"></a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="multiple-img-list-ver2 js-click-product">
                            {% for i in image_urls %}
                                {% if i != None %}
                                    <div class="product-col {% if forloop.first %}slick-current{% endif %}">
                                        <div class="img active">
                                            <img src="{{ i }}" alt="photo" class="img-reponsive">
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>


                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="single-flex">
                        <div class="single-product-info product-info product-grid-v2">
                            <p class="product-cate">{{ product.category.title }}</p>
                            <div class="product-rating">
                                <span class="rating">
                                    <i class="fa fa-star{% if product.averageReview < 0.5 %}-o{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}-half-alt {% endif %}"></i><i
                                        class="fa fa-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-half-alt {% endif %}"></i><i
                                        class="fa fa-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-half-alt {% endif %}"></i><i
                                        class="fa fa-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-half-alt {% endif %}"></i><i
                                        class="fa fa-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-half-alt {% endif %}"></i>
                                </span>
                                <div class="average-rating" style="margin-left: 10px;">{{ product.averageReview }}</div>
                                <div class="number-rating">( {{ product.countReview }} değerlendirme )</div>
                            </div>
                            <h3 class="product-title"><a href="{{ product.get_url }}">
                                {% if variant.title %}{{ variant.title }}{% else %}
                                    {{ product.title }}{% endif %}</a></h3>
                            <div class="product-price">
                                {% if product.is_discountprice == True %}
                                    <span style="text-decoration-line: line-through; color: red; font-size: 1.8rem">{{ product.price }} TL</span>
                                    &nbsp; <span>{{ product.discountprice }} TL</span>{% else %}{{ product.price }}
                                    TL{% endif %}
                            </div>
                            <div class="availability">
                                <p class="product-inventory"><label>Stok Durumu
                                    : </label><span>
                                    {% if product.quantity > 0 %}
                                        Stokta
                                    {% else %}
                                        <span style="color: red;">Stokta Yok</span>
                                    {% endif %}
                                </span></p>
                            </div>
                            <div class="product-brand">
                                <p>Marka : {{ product.brand.title }}</p>
                            </div>
                            <div class="product-sku">
                                <label>SKU :</label><span> {{ product.stock_code }}</span>
                            </div>
                            <div class="short-desc">
                                <p class="product-desc">{{ product.description }}</p>
                                <ul class="desc-list">
                                    {% for d in product_descriptions %}
                                        <li>{{ d.list }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="product-color">
                                <label>Renk:</label>
                                <span>{{ product.color }}</span>
                            </div>
                            <div class="product-size">
                                <label>Beden:</label>
                                <div class="size-group" id="size">

                                    <div class="size active">
                                        {{ product.size }}
                                    </div>
                                    {% for size in same_products %}
                                        <div class="size">
                                            <a href="{% url 'products_detail' size.slug %}">{{ size.size }}</a>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>

                            <div class="single-product-button-group">
                                {% if product.quantity > 0 %}
                                    <div class="e-btn cart-qtt btn-gradient">
                                        <div class="e-quantity">
                                            <input type="number" step="1" min="1" max="{{ product.quantity }}"
                                                   id="quantity" disabled
                                                   name="quantity" value="1"
                                                   title="Qty" class="qty input-text js-number" size="4">
                                            <div class="tc pa">
                                                <a class="js-plus quantity-right-plus"><i
                                                        class="fa fa-caret-up"></i></a>
                                                <a class="js-minus quantity-left-minus"><i
                                                        class="fa fa-caret-down"></i></a>
                                            </div>
                                        </div>

                                        <a href="#" id="addingCard" class="btn-add-cart">Sepete Ekle <span
                                                class="icon-bg icon-cart v2"></span></a>
                                        <a href="#" id="waitingCard" class="btn-add-cart">Sepete Eklendi</a>
                                    </div>
                                {% else %}
                                    <button id="stockAlarm" class="btn btn-primary"
                                            {% if stock_alarm.is_active == True %}disabled="disabled"{% endif %}
                                            style="margin-right: 10px;">
                                        <i class="fa fa-bell"></i>
                                        <span>Gelince Haber Ver</span>
                                    </button>
                                {% endif %}


                                <a href="#" id="addingFavourite" class="e-btn btn-icon">
                                    <i class="fa fa-heart"
                                       style="{% if favourite_status == 1 %}color:#D31027;{% endif %}"></i>
                                </a>
                                <a href="#" type="button" data-toggle="modal" data-target="#share-item-modal"
                                   class="e-btn btn-icon">
                                    <span class="icon-bg icon-compare"></span>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="product-details-content">
                    <ul class="product-tab-sw2">
                        <li class="active"><a data-toggle="tab" href="#product-description" aria-expanded="true">Ürün
                            Açıklaması</a></li>
                        <li class=""><a data-toggle="tab" href="#product-feature" aria-expanded="false">Ürün
                            Özellikleri</a>
                        </li>
                        <li class=""><a data-toggle="tab" href="#payment-options" aria-expanded="false">Taksit
                            Seçenekleri</a>
                        </li>
                        <li class=""><a data-toggle="tab" href="#product-comments" aria-expanded="false">Ürün
                            Yorumları ({{ product.countReview }})</a></li>
                        <li class=""><a data-toggle="tab" href="#product-question" aria-expanded="false">Soru ve
                            Cevaplar ({{ product.countQuestion }})</a></li>

                    </ul>
                    <div class="tab-content container">
                        <div id="product-description" class="tab-pane fade in active">
                            <p>{{ product.detail|safe }}</p>
                        </div>
                        <div id="product-feature" class="tab-pane fade">
                            <div class="page-section prod-specifications" id="prod-specifications">
                                <div class="page-margin">
                                    <div class="page-margin__content">
                                        <div class="page-section__body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="prod-specifications__body">
                                                        <div class="row mb-30">
                                                            {% for spesicifation in product_spesicifation %}
                                                                <div class="col-lg-12">
                                                                    <div class="specifications">
                                                                        <div class="specifications__item">
                                                                            <div class="prop">
                                                        <span>
                                                            {{ spesicifation.title }}
                                                        </span>
                                                                            </div>
                                                                            <div class="dots"></div>
                                                                            <div class="val">
                                                        <span>
                                                            {{ spesicifation.description }}
                                                        </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="specifications__item">
                                                                            <div class="prop">
                                                        <span>
                                                            Brand name:
                                                        </span>
                                                                            </div>
                                                                            <div class="dots"></div>
                                                                            <div class="val">
                                                        <span>
                                                            Xiaomi
                                                        </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% empty %}
                                                                <p>Ürüne ait özellik bulunmamaktadır.</p>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div id="payment-options" class="tab-pane fade">
                            <style>
                                #paytr_taksit_tablosu {
                                    clear: both;
                                    font-size: 12px;
                                    max-width: 1200px;
                                    text-align: center;
                                    font-family: Arial, sans-serif;
                                }

                                #paytr_taksit_tablosu::before {
                                    display: table;
                                    content: " ";
                                }

                                #paytr_taksit_tablosu::after {
                                    content: "";
                                    clear: both;
                                    display: table;
                                }

                                .taksit-tablosu-wrapper {
                                    margin: 5px;
                                    width: 280px;
                                    padding: 12px;
                                    cursor: default;
                                    text-align: center;
                                    display: inline-block;
                                    border: 1px solid #e1e1e1;
                                }

                                .taksit-logo img {
                                    max-height: 28px;
                                    padding-bottom: 10px;
                                }

                                .taksit-tutari-text {
                                    float: left;
                                    width: 126px;
                                    color: #a2a2a2;
                                    margin-bottom: 5px;
                                }

                                .taksit-tutar-wrapper {
                                    display: inline-block;
                                    background-color: #f7f7f7;
                                }

                                .taksit-tutar-wrapper:hover {
                                    background-color: #e8e8e8;
                                }

                                .taksit-tutari {
                                    float: left;
                                    width: 126px;
                                    padding: 6px 0;
                                    color: #474747;
                                    border: 2px solid #ffffff;
                                }

                                .taksit-tutari-bold {
                                    font-weight: bold;
                                }

                                @media all and (max-width: 600px) {
                                    .taksit-tablosu-wrapper {
                                        margin: 5px 0;
                                    }
                                }
                            </style>
                            <div id="paytr_taksit_tablosu"></div>
                            {% if product.is_discoutprice %}
                                <script src="https://www.paytr.com/odeme/taksit-tablosu/v2?token=97d66de340d447484202bc6b5405dcd0cc826f765e2b53f1f21986f784ba23ee&merchant_id=379607&amount={{ product.discountprice }}&taksit=0&tumu=0"></script>
                            {% else %}
                                <script src="https://www.paytr.com/odeme/taksit-tablosu/v2?token=97d66de340d447484202bc6b5405dcd0cc826f765e2b53f1f21986f784ba23ee&merchant_id=379607&amount={{ product.price }}&taksit=0&tumu=0"></script>
                            {% endif %}
                        </div>
                        <div id="product-comments" class="tab-pane fade">
                            <div class="page-container product">
                                <div class="page-section prod-reviews" id="prod-reviews">
                                    <div class="page-margin">
                                        <div class="page-margin__content">
                                            <div class="page-section__body">
                                                <div class="row">
                                                    <div class="col-lg-9 col-sm-12">
                                                        <div class="reviews">
                                                            <div class="reviews__header">
                                                                <div class="reviews-gallery">
                                                                    <div class="reviews-gallery__header">
                                                                        Fotoğraflı Değerlendirmeler
                                                                    </div>

                                                                    <div class="reviews-gallery__body">
                                                                        <div class="row">
                                                                            <div class="single-space">
                                                                                <div class="owl-carousel owl-theme owl-cate v2 js-owl-cate owl-loaded owl-drag">
                                                                                    {% for i in product.photoReview %}
                                                                                        <div class="reviews-gallery__item">
                                                                                            <div class="image">
                                                                                                <a data-gall="reviews-gallery"
                                                                                                   href="{{ i.get_image }}"
                                                                                                   class="a-block venobox vbox-item">
                                                                                                    <img src="{{ i.get_image }}"
                                                                                                         alt="IMG">
                                                                                                </a>
                                                                                            </div>
                                                                                        </div>
                                                                                    {% endfor %}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="reviews__body">

                                                                <div class="reviews__list">
                                                                    {% for r in product_reviews %}
                                                                        <div class="reviews__list-item">
                                                                            <div class="review-data">
                                                                                <div class="review-data-topline">
                                                                                    <div class="review-data-topline__avatar">
                                                                                        <div class="avatar">
                                                                                            <span>{{ r.user.first_name|slice:1 }} {{ r.user.last_name|slice:1 }}</span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="review-data-topline__name">
                                                                                        <span class="name">
                                                                                           {{ r.user.first_name|truncatechars_html:3 }} {{ r.user.last_name|truncatechars_html:3 }}
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="review-data-topline__grade">
                                                                                            <span class="rating">
                                                                           <i class="fa fa-star{% if r.rating < 0.5 %}-o{% elif r.rating >= 0.5 and r.rating < 1 %}-half-alt {% endif %}"></i>
                                                                            <i class="fa fa-star{% if r.rating < 1.5 %}-o{% elif r.rating >= 1.5 and r.rating < 2 %}-half-alt {% endif %}"></i>
                                                                            <i class="fa fa-star{% if r.rating < 2.5 %}-o{% elif r.rating >= 2.5 and r.rating < 3 %}-half-alt {% endif %}"></i>
                                                                            <i class="fa fa-star{% if r.rating < 3.5 %}-o{% elif r.rating >= 3.5 and r.rating < 4 %}-half-alt {% endif %}"></i>
                                                                            <i class="fa fa-star{% if r.rating < 4.5 %}-o{% elif r.rating >= 4.5 and r.rating < 5 %}-half-alt {% endif %}"></i>
                                                                        </span>
                                                                                        <span class="date">
                                                                                            {{ r.created_at }}
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="review-data-midline">
                                                                                    <div class="review-text-box">
                                                                                        {{ r.review }}
                                                                                    </div>
                                                                                    <div class="review-media-box">
                                                                                        <div class="row">
                                                                                            {% for i in r.photoReview %}
                                                                                                <div class="col-xxl-1 col-xl-2 col-lg-2 col-md-3 col-3">
                                                                                                    <div class="review-media-item">
                                                                                                        <a data-gall="review-1-attachements"
                                                                                                           href="{{ i.get_image }}"
                                                                                                           class="a-block venobox vbox-item">
                                                                                                            <img src="{{ i.get_image }}"
                                                                                                                 alt="IMG">
                                                                                                        </a>
                                                                                                    </div>
                                                                                                </div>
                                                                                            {% endfor %}
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    {% endfor %}
                                                                    <div class="reviews__list-item">
                                                                        <p>Bu ürün için henüz değerlendirme
                                                                            yapılmamıştır.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="loading-review hide">
                                                                <div class="spinner-border text-danger" role="status">
                                                                    <span class="visually-hidden">Yükleniyor...</span>
                                                                </div>
                                                            </div>
                                                            {% if product.countReview > 10 %}
                                                                <div class="reviews__footer">
                                                                    <button class="btn btn-gradient" id="loadMoreBtn">
                                                                    <span>
                                                                        <i class="fa fa-arrow-down"></i>
                                                                    </span>
                                                                        <span>
                                                                        Daha Fazla Göster
                                                                    </span>
                                                                    </button>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-3 col-sm-12">
                                                        <div class="top-sticky-block-b-wrap top-sticky-block">
                                                            <div class="ratings-chart">
                                                                <div class="ratings-chart__header">
                                                                    <div class="ratings-chart__num">
                                                                        <span>
                                                                            {{ product.averageReview }}
                                                                        </span>
                                                                    </div>
                                                                    <div class="ratings-chart__stars">
                                                                        <span class="rating">
                                                                           <i class="fa fa-star{% if product.averageReview < 0.5 %}-o{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}-half-alt {% endif %}"></i>
                                                                            <i class="fa fa-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-half-alt {% endif %}"></i>
                                                                            <i class="fa fa-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-half-alt {% endif %}"></i>
                                                                            <i class="fa fa-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-half-alt {% endif %}"></i>
                                                                            <i class="fa fa-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-half-alt {% endif %}"></i>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="ratings-chart__body">
                                                                    <div class="ratings-base-num">
                                                                        <span>
                                                                            Toplam {{ product.countReview }} değerlendirme
                                                                        </span>
                                                                    </div>
                                                                    <div class="ratings-chart__bars">
                                                                        <div class="rating-bar">
                                                                            <div class="rating-bar__grade">
                                                        <span>
                                                            5
                                                        </span>
                                                                            </div>
                                                                            <div class="rating-bar__line">
                                                        <span class="prog-line">
                                                            <span class="prog-line-bar"
                                                                  style="width: {{ product.five_star }}%;"></span>
                                                        </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="rating-bar">
                                                                            <div class="rating-bar__grade">
                                                        <span>
                                                            4
                                                        </span>
                                                                            </div>
                                                                            <div class="rating-bar__line">
                                                        <span class="prog-line">
                                                            <span class="prog-line-bar"
                                                                  style="width: {{ product.four_star }}%;"></span>
                                                        </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="rating-bar">
                                                                            <div class="rating-bar__grade">
                                                        <span>
                                                            3
                                                        </span>
                                                                            </div>
                                                                            <div class="rating-bar__line">
                                                        <span class="prog-line">
                                                            <span class="prog-line-bar"
                                                                  style="width: {{ product.three_star }}%;"></span>
                                                        </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="rating-bar">
                                                                            <div class="rating-bar__grade">
                                                        <span>
                                                            2
                                                        </span>
                                                                            </div>
                                                                            <div class="rating-bar__line">
                                                        <span class="prog-line">
                                                            <span class="prog-line-bar"
                                                                  style="width: {{ product.two_star }}%;"></span>
                                                        </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="rating-bar">
                                                                            <div class="rating-bar__grade">
                                                        <span>
                                                            1
                                                        </span>
                                                                            </div>
                                                                            <div class="rating-bar__line">
                                                        <span class="prog-line">
                                                            <span class="prog-line-bar"
                                                                  style="width: {{ product.one_star }}%;"></span>
                                                        </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="ratings-chart__footer">
                                                                    {% if orderproduct == True %}
                                                                        <button class="btn btn-gradient btn-icon btn-lg"
                                                                                data-toggle="modal"
                                                                                data-target="#adding-comment">
                                                                        <span class="icon"><i class="fa fa-comment"
                                                                                              style="margin-right: 10px;"></i></span>
                                                                            <span class="text">Yorum Ekle</span>
                                                                        </button>
                                                                    {% else %}
                                                                        <span class="text">Ürünü satın almadan değerlendirme yapamazsınız!</span>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="product-question" class="tab-pane  fade">
                            <div class="e-qa">
                                <div class="row">

                                    <div class="col-lg-12">
                                        <div class="question-box">
                                            {% for q in product_question %}
                                                <div class="qa-element">
                                                    <div class="qa-quest">
                                                        <span class="qa-icon">Q</span>
                                                        <h3>{{ q.question }}</h3>
                                                    </div>
                                                    <div class="qa-answer">
                                                        <span class="qa-icon">A</span>
                                                        <p>{% if q.answer == None %}Cevap verilmesi
                                                            bekleniyor...{% else %}
                                                            {{ q.answer }}{% endif %}</p>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            <div class="loading-review hide">
                                                <div class="spinner-border text-danger" role="status">
                                                    <span class="visually-hidden">Yükleniyor...</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                {% if product_question_count > 10 %}
                                    <button id="loadMoreQuestionBtn" class="btn-qa">Daha Fazla Görüntüle<i
                                            class="ion-ios-arrow-down"></i></button>

                                {% endif %}
                                <form class="form_newsletter" action="#" method="post">
                                    {% csrf_token %}
                                    <input type="text" name="question"
                                           placeholder="Ürün ile ilgili bir sorunuz mu var ? "
                                           class="newsletter-input form-control">
                                    <button id="subscribe2" name="addQuestionBtn"
                                            class="button_mini btn btn-gradient"
                                            type="submit">
                                        Gönder<i class="ion-ios-arrow-forward"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        {% include 'frontend/partials/__similar_product.html' %}

    </div>

    <div class="modal fade confirm-actions" tabindex="-1" role="dialog"
         id="adding-comment">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Yorum Ekle
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="confirmation">
                        <form method="post" enctype="multipart/form-data" style="margin-bottom: 30px;">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group mb-20">
                                        <div class="form-field">
                                            <label for="" class="form-control-label">Ürünü Puanla</label>
                                            <div class="rate">
                                                <input type="radio" name="rating" id="rating5"
                                                       value="5" required><label class="fa fa-star"
                                                                                 for="rating5"
                                                                                 title="5"></label>
                                                <input type="radio" name="rating" id="rating4"
                                                       value="4" required><label for="rating4"
                                                                                 class="fa fa-star"
                                                                                 title="4"></label>
                                                <input type="radio" name="rating" id="rating3"
                                                       value="3.0" required><label for="rating3"
                                                                                   class="fa fa-star"
                                                                                   title="3"></label>
                                                <input type="radio" name="rating" id="rating2"
                                                       value="2" required><label for="rating2"
                                                                                 class="fa fa-star"
                                                                                 title="2"></label>
                                                <input type="radio" name="rating" id="rating1"
                                                       value="1" required><label for="rating1"
                                                                                 class="fa fa-star"
                                                                                 title="1"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group mb-20">
                                        <div class="form-field">
                                            <label for="comments"
                                                   class="form-control-label">
                                                Değerlendirme
                                            </label>
                                            <textarea name="comments" cols="2" required rows="2" class="form-control"
                                                      id="comments"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group mb-20">
                                        <div class="form-field">
                                            <label for="images"
                                                   class="form-control-label">
                                                Fotoğraf Yükle
                                            </label>
                                            <input class="form-control" type="file" name="images" id="images"
                                                   accept="image/png, image/jpeg" multiple>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    {% if orderproduct == True %}
                                        <button type="submit" class="btn btn-submit btn-gradient"
                                                id="submitComment"
                                                name="submitComment">
                                            Gönder
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade share-product" tabindex="-1" id="share-item-modal" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        {{ product.title }} ürününü paylaş !
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="share-product-item">
                        <div class="social-media-links">
                            <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}"
                               target="_blank" class="link-item twitter">
                                <i class="fa fa-twitter share share-twitter"></i>
                            </a>
                            <a href="https://www.facebook.com/sharer.php?u={{ request.build_absolute_uri }}"
                               target="_blank" class="link-item facebook">
                                <i class="fa fa-facebook share share-facebook"></i>
                            </a>
                            <a href="https://api.whatsapp.com/send?text=" target="_blank" class="link-item whatsapp">
                                <i class="fa fa-whatsapp share share-whatsapp"></i>
                            </a>
                            <a href="https://telegram.me/share/url?url=" target="_blank" class="link-item telegram">
                                <i class="fa fa-telegram share share-telegram"></i>
                            </a>

                        </div>
                        <div class="raw-link">
                            <form action="#" class="form">
                                <div class="form-group">
                                    <div class="form-field">
                                        <label class="form-control-label">
                                            Veya kopyala
                                        </label>
                                        <input id="share-product-link-input"
                                               value="{{ request.build_absolute_uri }}"
                                               type="url" class="form-control" placeholder="Optional">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-icon btn-lg btn-block clip-board-copy outline"
                            data-clipboard-target="#share-product-link-input" onclick="copyFunction()">
                        <span class="icon">
                            <i class="fa fa-copy"></i>
                        </span>
                        <span class="text clip-board-success">
                            Linki Kopyala
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <input type="hidden" id="product_id" value="{{ product.id }}">
    </div>

    <div class="quickview-wrapper">
        <div class="quick-modal">
            <div id="quickview-content">
                <a href="#" onclick="location.reload();" class="close-btn quickview-close"></a>
                <div class="single-product-detail">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="adding__cart_contain">
                                <img src="{% static 'img/add_cart.png' %}" alt="Add Cart">
                                <h3 class="adding__cart_title">Sepete Eklendi!</h3>
                                <p class="adding__cart_text">Ürün başarıyla sepetinize eklendi.</p>
                                <div class="adding__cart_buttons">
                                    <a href="{% url 'cart' %}" class="cart-btn btn-viewcart">Sepetime Git</a>
                                    <a href="{% url 'mainpage' %}" class="cart-btn btn-gradient">Alışverişe Devam Et</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'plugins/venobox.min.js' %}"></script>
    <script src="{% static 'plugins/jquery.nice-select.js' %}"></script>
    <script>
        $(document).ready(function () {
            $("#loadMoreBtn").on('click', function () {
                var _currentResult = $('.reviews__list-item').length;
                $.ajax({
                    url: "{% url 'load_more_reviews' %}",
                    type: 'get',
                    data: {
                        'offset': _currentResult,
                        'product_id': {{ product.id }},
                    },
                    dataType: 'json',
                    beforeSend: function () {
                        $("#loadmoreBtn").addClass('disabled').text('Loading...');
                        $(".loading-review").removeClass('hide');
                    },
                    success: function (res) {
                        $(".loading-review").addClass('hide');
                        $(".reviews__list").append(res.data)
                        var _countTotal = $(".reviews__list-item").length;
                        if (_countTotal == res.totalResult) {
                            $("#loadmoreBtn").remove();
                        } else {
                            $("#loadmoreBtn").removeClass('disabled').text('Daha Fazla Göster');
                        }
                    }
                })
            });

            $("#loadMoreQuestionBtn").on('click', function () {
                var _currentResult = $('.qa-element').length;
                $.ajax({
                    url: "{% url 'load_more_question' %}",
                    type: 'get',
                    data: {
                        'offset': _currentResult,
                        'product_id': {{ product.id }},
                    },
                    dataType: 'json',
                    beforeSend: function () {
                        $("#loadmoreBtn").addClass('disabled').text('Loading...');
                        $(".loading-review").removeClass('hide');
                    },
                    success: function (res) {
                        $(".loading-review").addClass('hide');
                        $(".question-box").append(res.data)
                        var _countTotal = $(".qa-element").length;
                        if (_countTotal == res.totalResult) {
                            $("#loadMoreQuestionBtn").remove();
                        } else {
                            $("#loadMoreQuestionBtn").removeClass('disabled').text('Daha Fazla Göster');
                        }
                    }
                })
            });


            $("#addingFavourite").on('click', function (e) {
                e.preventDefault();
                $.ajax({
                    url: "{% url 'ajax_favourite' %}",
                    type: 'get',
                    data: {
                        'product_id': {{ product.id }},
                    },
                    dataType: 'json',

                    success: function (res) {
                        if (res.data.favourite === 'added') {
                            $(".fa-heart").css({
                                'color': '#D31027',
                            });
                        } else {
                            $(".fa-heart").css({
                                'color': '#D2D2D2',
                            });
                        }
                    }
                })
            });
        });
    </script>
    <script>
        if ($('.venobox').length && $.fn.venobox != undefined) {
            $('.venobox').venobox();
        }
    </script>
    <script src="{% static 'js/copytext.js' %}"></script>
    <script src="{% static 'js/add_cart.js' %}"></script>
    <script src="{% static 'js/stockalarm.js' %}"></script>
{% endblock %}