.send-email {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-email__container {
    width: 375px;
    height: 450px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 12px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 10px 5px;
}

send-email__header img{
    width: 75px;
    height: 75px;
}

.send-email-body {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    position: relative;
}

.send-email-body h3 {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.send-email-body p{
    font-size: var(--text-fontSize1);
}

.digit-group {
    margin-top: 20px;
}

.digit-group input {
    width: 30px;
    height: 30px;
    background-color: #18182a;
    border: none;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    color: white;
    margin: 0 2px;
}

.digit-group .splitter {
    padding: 0 5px;
    color: black;
    font-size: 24px;
}

.prompt {
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
}

.send-email-footer {
    margin-top: 20px;
    display: flex;
    width: 100%;
    flex-direction: row;
}

.send-email-footer button{
    border-radius: unset!important;
}

#errorOtp {
    position: absolute;
    bottom: -5px;
    color: red;
    font-size: 0.9rem;
    margin-top: 10px;
}

#message {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 35px;
    font-size: 12px;
}

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    background: rgba(0, 0, 0, 0.2);
}

.loader img {
    margin-top: 350px;
}

.info-password {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    background: #efeff0;
    height: 50px;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}
