{% extends 'frontend/layout.html' %}
{% load static %}


{% block profile %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <div class="container container-240 page-container profile mt-20">
        <div class="page-section profile-page">
            <div class="page-margin">
                <div class="page-margin__content">
                    <div class="page-section__body">
                        <div class="profile-page__body">
                            <div class="row">
                                <div class="col-lg-3">
                                    {% include 'frontend/pages/profile/partials/_sidebar.html' %}
                                </div>
                                <div class="col-lg-9">
                                    <div class="profile-page__content mb-30">
                                        <form class="form" method="POST">
                                            {% csrf_token %}
                                            <div class="form-group mb-20">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-field">
                                                            <label for="first_name" class="form-control-label">
                                                                Ad
                                                            </label>
                                                            <input name="first_name" type="text" class="form-control"
                                                                   id="first_name"
                                                                   value="{{ request.user.first_name }}">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-field">
                                                            <label for="last_name" class="form-control-label">
                                                                Ad
                                                            </label>
                                                            <input name="last_name" type="text" class="form-control"
                                                                   id="last_name" value="{{ request.user.last_name }}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-devider"></div>

                                            <div class="form-group mb-20">
                                                <div class="row">
                                                    <div class="col-lg-8 col-md-10 col-sm-12">
                                                        <div class="form-field">
                                                            <label for="birthday" class="form-control-label">
                                                                Doğum Günü
                                                            </label>
                                                            <input type="date" class="form-control" name="birthday"
                                                                   id="birthday"
                                                                   value="{{ request.user.birthday|date:"Y-m-d" }}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group mb-20">
                                                <div class="user-gender">
                                                    <div class="user-gender__option">
                                                        <div class="form-check"
                                                             style="display: flex; justify-content: start; align-content: center; flex-direction: row">
                                                            <input class="form-check-input"
                                                                   {% if request.user.gender == False %}checked=""{% endif %}
                                                                   type="radio"
                                                                   name="gender" id="gender-male">
                                                            <label class="form-check-label" for="gender-male">
                                                                Erkek
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="user-gender__option">
                                                        <div class="form-check"
                                                             style="display: flex; justify-content: start; align-content: center; flex-direction: row">
                                                            <input class="form-check-input" type="radio"
                                                                   {% if request.user.gender == True %}checked=""{% endif %}
                                                                   name="gender"
                                                                   id="gender-female">
                                                            <label class="form-check-label" for="gender-female">
                                                                Kadın
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-devider"></div>

                                            <div class="form-group mb-20">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-field">
                                                            <label for="mobile" class="form-control-label">
                                                                Cep Telefonu
                                                            </label>
                                                            <input name="mobile" id="mobile" type="text"
                                                                   class="form-control"
                                                                   value="{{ request.user.mobile }}"
                                                                   placeholder="(555) 555-5555">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 mt-30">
                                                        <div class="form-field">
                                                            <label for="email" class="form-control-label">
                                                                E-Mail
                                                            </label>
                                                            <input name="email" id="email" type="email"
                                                                   class="form-control"
                                                                   value="{{ request.user.email }}">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="flex lr">
                                                <button type="submit" class="btn btn-submit btn-gradient"
                                                        id="userInfoBtn"
                                                        name="userInfoBtn">
                                                    Güncelle
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="profile-page__content mb-30">
                                        <div class="warning">
                                            <span><i class="fa fa-exclamation-circle"></i></span>
                                            <p>
                                                Şifreniz en az bir harf, rakam veya özel karakter içermeli. Ayrıca
                                                şifreniz en az 8
                                                karakterden oluşmalı.
                                            </p>
                                        </div>
                                        <form action="" method="post" class="form" id="changePasswordForm">
                                            {% csrf_token %}
                                            <div class="form-group mb-20">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-field">
                                                            <label for="current_password" class="form-control-label">
                                                                Mevcut Şifre
                                                            </label>
                                                            <input name="current_password" type="password"
                                                                   class="form-control" id="current_password">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 mt-30">
                                                        <div class="form-field">
                                                            <label for="new_password" class="form-control-label">
                                                                Yeni Şifre
                                                            </label>
                                                            <input name="new_password" type="password"
                                                                   class="form-control" id="new_password"
                                                                   onkeyup="checkPassword(this.value);">
                                                            <span id="showPassword"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 mt-30">
                                                        <div class="password-validation">
                                                            <ul>
                                                                <li id="validation_lower">En az bir adet küçük karakter
                                                                    olmalı
                                                                </li>
                                                                <li id="validation_upper">En az bir adet büyük karakter
                                                                    olmalı
                                                                </li>
                                                                <li id="validation_number">En az bir adet numara
                                                                    olmalı
                                                                </li>
                                                                <li id="validation_length">En az 8 karakter olmalı</li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="flex lr">
                                                    <button type="submit" class="btn btn-submit btn-gradient"
                                                            disabled
                                                            id="changePasswordBtn"
                                                            name="changePasswordBtn">
                                                        Şifre Değiştir
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('mobile').addEventListener('input', function (e) {
            var x = e.target.value.replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
            e.target.value = !x[2] ? x[1] : '(' + x[1] + ') ' + x[2] + (x[3] ? '-' + x[3] : '');
        });
    </script>
    <script src="{% static 'js/password_validation.js' %}"></script>
{% endblock %}