{% extends 'backend/adminpage/layout.html' %}
{% load static %}

{% block title %}<title>Kullanıcı Ekle</title>{% endblock %}

{% block users %}

    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.default.min.css"
            integrity="sha512-pTaEn+6gF1IeWv3W1+7X7eM60TFu/agjgoHmYhAfLEU8Phuf6JKiiE8YmsNC0aCgQv4192s4Vai8YZ6VNM6vyQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Kullanıcı Ekle</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'mainpage' %}">Anasayfa</a></li>
                        <li class="breadcrumb-item active">Kullanıcı Ekle</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Kullanıcı Ekle</h3>
                        </div>
                        <div class="card-body ">
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="userType">Kullanıcı Tipi</label>
                                    <select id="userType" name="user_type" required class="form-control">
                                        <option value="">-----</option>
                                        <option value="Yönetici">Yönetici</option>
                                        <option value="Personel">Personel</option>
                                        <option value="Müşteri">Müşteri</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="first_name">Ad</label>
                                    <input type="text" class="form-control" required
                                           name="first_name" id="first_name">
                                </div>
                                <div class="form-group">
                                    <label for="last_name">Soyad</label>
                                    <input type="text" class="form-control" required
                                           name="last_name" id="last_name">
                                </div>
                                <div class="form-group">
                                    <label for="id_email">E-Posta</label>
                                    <input type="text" class="form-control" required maxlength="255"
                                           name="email" placeholder="E-Posta adresi giriniz..."
                                           id="email">
                                    <div class="check-email warning text-danger ml-1">* Bu e-posta adresi zaten
                                        kayıtlı.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="phone">Telefon Numarası</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                        </div>
                                        <input type="number" onkeydown="limit(this);" onkeyup="limit(this);" required
                                               minlength="11" maxlength="11" class="form-control"
                                               id="phone"
                                               name="mobile">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="password">Şifre</label>
                                    <input type="password" name="password" placeholder="Şifre oluştur"
                                           class="form-control"
                                           id="password">
                                    <button type="button" class="btn btn-sm btn-info mt-3" onclick="genPassword();">
                                        Şifre
                                        Oluştur
                                    </button>
                                </div>
                                <button type="submit" name="create_user" class="btn btn-primary" id="create_button">
                                    Kullanıcı Oluştur
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Filtreleme</h3>
                        </div>
                        <div class="card-body">
                            <form action="" method="get">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <input type="text" name="filter_full_name" id="filter_full_name"
                                               class="form-control float-right filter-checkbox"
                                               placeholder="Ad - Soyad"
                                               value="{% if harcama_adi %}{{ harcama_adi }}{% endif %}">
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" name="filter_email" id="filter_email"
                                               class="form-control float-right filter-checkbox"
                                               placeholder="E-Posta"
                                               value="{% if harcama_adi %}{{ harcama_adi }}{% endif %}">
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" name="filter_mobile" id="filter_mobile"
                                               class="form-control float-right filter-checkbox"
                                               placeholder="Telefon Numarası"
                                               value="{% if harcama_adi %}{{ harcama_adi }}{% endif %}">
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-lg-4 col-sm-6 mb-2">
                                        <select id="select-tip" name="filter_user_type"
                                                class="demo-default filter-checkbox"
                                                placeholder="Üyelik Tipi Seçiniz...">
                                            <option value="">Üyelik Tipi Seçiniz...</option>
                                            <option value="None">Hepsi</option>
                                            <option value="Yönetici">Yönetici</option>
                                            <option value="Personel">Personel</option>
                                            <option value="Müşteri">Müşteri</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4 col-sm-6 mb-2">
                                        <select id="select-active" name="filter_activated"
                                                class="demo-default filter-checkbox"
                                                placeholder="Aktiflik Durumu...">
                                            <option value="">Aktiflik Durumu...</option>
                                            <option value="None">Hepsi</option>
                                            <option value="True">Aktif</option>
                                            <option value="False">Akitf Değil</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4 col-sm-12">
                                        <button type="submit" name="filter_btn" class="btn btn-primary float-right">
                                            Filtreleme
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap" id="userTable">
                                <thead>
                                <tr>
                                    <th>Ad-Soyad</th>
                                    <th>E-Posta</th>
                                    <th>Telefon</th>
                                    <th>Üyelik Tipi</th>
                                    <th>Üyelik Tarihi</th>
                                    <th>İşlemler</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for u in users %}
                                    <tr>
                                        <td>{{ u.get_full_name }}</td>
                                        <td>{{ u.email }}</td>
                                        <td>{{ u.mobile }}</td>
                                        <td>{% if u.is_superuser %}Yönetici{% elif u.is_staff %}
                                            Personel{% elif u.is_customer %}Müşteri{% endif %}</td>
                                        <td>{{ u.created_date }}</td>
                                        <td>
                                            <a href="{% url 'kullanici_goruntule' u.id %}" class="btn btn-sm btn-block btn-primary">Gör</a>
                                            <a href="{% url 'kullanici_izinleri' u.id %}" class="btn btn-sm btn-block bg-gradient-maroon">Yetkilendir</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div id="no-data"
                                 style="width: 100%; text-align: center; margin-top: 5px; margin-bottom: 5px;"></div>
                        </div>
                        <div class="card-footer p-0">
                            <div class="mailbox-controls">
                                <div class="float-right">
                                    {{ users.number }} / {{ users.paginator.num_pages }}
                                    <div class="btn-group">
                                        {% if users.has_previous %}
                                            <a href="?{{ query }}&page={{ users.previous_page_number }}"
                                               class="btn btn-default btn-sm">
                                                <i class="fas fa-chevron-left"></i>
                                            </a>
                                        {% endif %}
                                        {% if users.has_next %}
                                            <a href="?{{ query }}&page={{ users.next_page_number }}"
                                               class="btn btn-default btn-sm">
                                                <i class="fas fa-chevron-right"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <script src="{% static 'adminpage/js/generator_password.js' %}"></script>
    <script src="{% static 'js/check_email.js' %}"></script>
    <script src="{% static 'adminpage/plugins/inputmask/jquery.inputmask.min.js' %}"></script>
    <script>$('[data-mask]').inputmask()</script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js"
            integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    ></script>

    <script>

        function limit(element) {
            var max_chars = 11;

            if (element.value.length > max_chars) {
                element.value = element.value.substr(0, max_chars);
            }
        }

        $('#select-tip').selectize({sortField: ''})
        $('#select-active').selectize({sortField: ''})

    </script>
{% endblock %}