{% extends 'frontend/v_2_0/base.html' %}
{% load static %}

{% block title %}<title>{{ request.user.get_full_name }} | Ödeme Sonucu</title>{% endblock %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static 'frontend/css/sepet.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% endblock %}

{% block sepet %}
    <div class="page-container message">
        <!-- ~~~~~~~~~~~~~~~~~ Success message content section [START] ~~~~~~~~~~~~~~~~~ -->
        <div class="page-section">
            <div class="page-margin">
                <div class="page-margin__content">
                    <div class="page-section__body">
                        <div class="d-block">
                            <div class="placeholder-message success">
                                <div class="icon">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-patch-check" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
  <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911z"/>
</svg>
                                    </span>
                                </div>
                                <h2>
                                    Ödeme işleminiz başarılı
                                </h2>
                                <p>
                                    Ödeme işleminiz başarıyla gerçekleştirilmiş olup siparişiniz alınmıştır. Siparişlerinizi hesabım sayfasındaki
                                    <a href="{% url 'order_page' %}" target="_blank">Siparişlerim</a> menüsünden takip edilebilirsiniz.
                                </p>
                                <p>
                                    Bilgi mailleri kayıtlı olduğunuz mail adresinize iletilecektir. Keyifli günlerde kullanmanız dileğiyle...
                                </p>
                                <div class="btn-controls">
                                    <div class="btn-control__item">
                                        <div class="btn-control__item">
                                            <a href="{% url 'mainpage' %}" class="a-block">
                                                <div class="btn btn-primary btn-icon btn-lg">
                                                    <span class="icon">
                                                        <svg xmlns="https://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up-right">
                                                            <line x1="7" y1="17" x2="17" y2="7"></line>
                                                            <polyline points="7 7 17 7 17 17"></polyline>
                                                        </svg>
                                                    </span>
                                                    <span class="text">
                                                        Alışverişe Devam Et
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ~~~~~~~~~~~~~~~~~ Success message content section [END] ~~~~~~~~~~~~~~~~~ -->
    </div>


{% endblock %}

{% block extra_script %}
    <script src="{% static 'frontend/js/pages/basket/script.master.js' %}"></script>
{% endblock %}