{% extends 'frontend/v_2_0/base.html' %}
{% load static %}

{% block title %}<title>{{ request.user.get_full_name }} | Ödeme Sonucu</title>{% endblock %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static 'frontend/css/sepet.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% endblock %}

{% block sepet %}
    <div class="page-container message">
        <!-- ~~~~~~~~~~~~~~~~~ Success message content section [START] ~~~~~~~~~~~~~~~~~ -->
        <div class="page-section">
            <div class="page-margin">
                <div class="page-margin__content">
                    <div class="page-section__body">
                        <div class="d-block">
                            <div class="placeholder-message success">
                                <div class="icon">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-x-octagon" viewBox="0 0 16 16">
  <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1z"/>
  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
</svg>
                                    </span>
                                </div>
                                <h2>
                                    Ödeme işlemi başarısız
                                </h2>
                                <p>
                                    Ödeme işlemi sırasında bir hata meydana geldi. Lütfen tekrar deneyiniz.
                                </p>

                                <div class="btn-controls">
                                    <div class="btn-control__item">
                                        <div class="btn-control__item">
                                            <a href="{% url 'mainpage' %}" class="a-block">
                                                <div class="btn btn-primary btn-icon btn-lg">
                                                    <span class="icon">
                                                        <svg xmlns="https://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up-right">
                                                            <line x1="7" y1="17" x2="17" y2="7"></line>
                                                            <polyline points="7 7 17 7 17 17"></polyline>
                                                        </svg>
                                                    </span>
                                                    <span class="text">
                                                        Alışverişe Devam Et
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ~~~~~~~~~~~~~~~~~ Success message content section [END] ~~~~~~~~~~~~~~~~~ -->
    </div>


{% endblock %}

{% block extra_script %}
    <script src="{% static 'frontend/js/pages/basket/script.master.js' %}"></script>
{% endblock %}