{% extends 'backend/yonetim/base.html' %}
{% load static %}

{% block title %}<title>{{ subcategory }} Alt Kategorileri</title>{% endblock %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static 'backend/css/table_select.css' %}">
{% endblock %}


{% block kategoriler %}

    <section class="section">
        <div class="section-header">
            <h1>{{ subcategory }} Alt Kategorileri</h1>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item"><a href="{% url 'admin_mainpage' %}">Anasayfa</a></div>
                <div class="breadcrumb-item"><a href="{% url 'kategoriler_seviye1' %}">Kategoriler</a></div>
                <div class="breadcrumb-item"><a
                        href="{% url 'kategoriler_seviye2' subcategory.slug %}">{{ subcategory.title }}</a></div>
                <div class="breadcrumb-item active">{{ subcategory }} Alt Kategorileri</div>
            </div>
        </div>

        <div class="section-body">
            <div class="row">

                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Filtreleme</h4>
                        </div>
                        <div class="card-body">
                            <form action="" method="get" class="">
                                <div class="row my-2">
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="kategoriAdi">Kategori Adı</label>
                                            <input id="kategoriAdi" type="text" name="kategori_adi"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-9">
                                        <div class="buttons float-right mt-4">
                                            <button type="submit" class="btn btn-warning" name="queryBtn">Sorgula
                                            </button>
                                            <button type="reset" class="btn btn-light">Sıfırla</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="buttons">
                                <div class="dropdown d-inline mr-2">
                                    <button class="btn btn-info dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                        İşlemler
                                    </button>
                                    <div class="dropdown-menu">
                                        <a type="button" id="cancelRow" class="dropdown-item" href="#">İptal Et</a>
                                        <a type="button" id="selectRow" class="dropdown-item" href="#">Seç</a>
                                        <a class="dropdown-item" href="#" type="button" data-toggle="modal"
                                           data-target="#modal-select-delete" id="deleteRow">Seçilileri Sil</a>
                                        <a class="dropdown-item" href="#">Hepsini Sil</a>
                                        <a class="dropdown-item"
                                           href="{% url 'kategoriler_seviye2_export_excel' maincategory.slug %}">Excel
                                            İndir</a>
                                    </div>
                                </div>
                                <a href="#" class="btn btn-warning" data-toggle="modal"
                                   data-target="#createCategory"><i class="fa fa-plus"></i> Kategori Ekle</a>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tbody>
                                    <tr>
                                        <th class="select-row" style="text-align: start; vertical-align: middle"></th>
                                        <th>Kategori Adı</th>
                                        <th>Kategori Numarası</th>
                                        <th>Oluşturulma Tarihi</th>
                                        <th>Güncellenme Tarihi</th>
                                        <th style="text-align: center;">İşlemler</th>
                                    </tr>
                                    {% for sbc in subbottomcategory %}
                                        <tr>
                                            <td class="select-row"
                                                style="text-align: center; vertical-align: middle; display: none; justify-content: center; ">
                                                <div class="form-check">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" data-filter="seviye3-category"
                                                               class="custom-control-input select-checkbox"
                                                               id="check-{{ sbc.id }}" name="select_category"
                                                               value="{{ sbc.id }}">
                                                        <label class="custom-control-label"
                                                               for="check-{{ sbc.id }}"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="text-align: start; vertical-align: middle"><b>{{ sbc.title }}</b>
                                            </td>
                                            <td style="text-align: start; vertical-align: middle"><b>{{ sbc.category_no }}</b></td>
                                            <td style="text-align: start; vertical-align: middle">{{ sbc.created_at|date:'d-m-Y' }}</td>
                                            <td style="text-align: start; vertical-align: middle">{{ sbc.updated_at|date:'d-m-Y' }}</td>
                                            <td style="text-align: start; vertical-align: middle">
                                                <a href="{% url 'kategoriler_seviye3_guncelle' maincategory.slug subcategory.slug sbc.id %}"
                                                   class="btn btn-block btn-primary">Güncelle</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
    <div class="modal fade" id="modal-select-delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Emin misin?</h4>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Seçili kategoriler silinecektir.</p>
                    <p>*Secili kategorilere bağlı alt kategorilerde silinecektir.</p>
                </div>
                <div class="modal-footer justify-content-between">
                    <button id="deleteNow" class="btn btn-danger"
                            data-dismiss="modal">
                        Sil
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="createCategory">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Kategori Ekle</h4>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.name != 'is_active' %}
                                <div class="form-group">
                                    <label id="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {% if field.field.required %}
                                        <span style="color: red;" class="required">*</span>
                                    {% endif %}
                                    {{ field }}
                                </div>
                            {% elif field.name == 'is_active' %}
                                <div class="custom-control custom-checkbox mb-5 ">
                                    {{ field }}
                                    <label class="custom-control-label" for="{{ field.id_for_label }}">Yayınlansın
                                        mı?</label>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <button type="submit" class="btn btn-primary btn-block" name="addBtn">Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_script %}

    <script>
        $(document).ready(function () {
            $(".waiting").hide()
            $("#deleteRow").hide();
            $("#cancelRow").hide()
            $("#selectRow").on('click', function () {
                $("#cancelRow").show()
                $(".select-row").css('display', 'block')
                $("#selectRow").hide()
                $("#deleteRow").show();
                $("#cancelRow").on('click', function () {
                    $("#selectRow").show();
                    $("#cancelRow").hide();
                    $("#deleteRow").hide();
                    $(".select-row").css('display', 'none')
                })
            })
        });

        $("#deleteRow").on('click', function () {
            var _filterObj = {};
            $(".select-checkbox").each(function (index, ele) {
                var _filterVal = $(this).val();
                var _filterKey = $(this).data('filter');
                _filterObj[_filterKey] = Array.from(document.querySelectorAll('input[data-filter=' + _filterKey + ']:checked')).map(function (el) {
                    return el.value;
                });
            });
            $("#deleteNow").on('click', function () {
                $.ajax({
                    url: `/yonetim/kategori-yonetimi/ucuncu-seviye-kategoriler/secili-kategori-sil/`,
                    data: _filterObj,
                    dataType: 'json',
                    beforeSend: function () {
                        $(".waiting").show()
                    },
                    success: function (data) {
                        $(".waiting").hide()
                        location.reload();
                    }
                });
            });
        })
    </script>

{% endblock %}



