{% extends 'backend/yonetim/base.html' %}
{% load static %}

{% block title %}<title>Kategorisi Hatalı Ürünler</title>{% endblock %}
{% block extra_style %}
<link rel="stylesheet" href="{% static 'backend/modules/select2/dist/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'backend/css/table.css' %}">
{% endblock %}
{% block urunler %}

<section class="section">
    <div class="section-header">
        <h1>Kategorisi Hatalı Ürünler</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="{% url 'admin_mainpage' %}">Anasayfa</a></div>
            <div class="breadcrumb-item active"><a href="{% url 'admin_product' %}">Tüm Ürünler</a></div>
            <div class="breadcrumb-item">Kategorisi Hatalı Ürünler</div>
        </div>
    </div>

    <div class="section-body">
        <div class="row mb-3">
            <div class="col-12">
                <form action="" method="get">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="select-category">Kategori</label>
                                <select class="form-control select2 kategoriSelect filter-checkbox" id="select-category"
                                    name="kategori" style="width: 100%;">
                                    <option value="">--------</option>
                                    {% for c in seviye_3 %}
                                    <option value="{{ c.id }}" {% if kategori == c.id %}selected{% endif %}>
                                        {{ c.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="keyword">Anahtar Kelime</label>
                                <input type="text" class="form-control" id="keyword" name="keyword"
                                    value="{{ keyword }}">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="barkod">Barkod</label>
                                <input type="text" class="form-control" id="barkod" name="barkod" value="{{ barkod }}">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="select-yayin_durumu">Yayın Durumu</label>
                                <select class="form-control select2 kategoriyayin_durumu filter-checkbox"
                                    id="select-yayin_durumu" name="yayin_durumu" style="width: 100%;">
                                    <option value="">--------</option>
                                    <option value="True" {% if yayin_durumu == "True" %}selected{% endif %}>
                                        Yayında
                                    </option>
                                    <option value="False" {% if yayin_durumu == "False" %}selected{% endif %}>
                                        Yayında Değil
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-12 col-sm-12">
                            <button class="btn btn-lg btn-primary">Ara</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table table-hover text-nowrap" id="productTable">
                                <thead>
                                    <tr>
                                        <th scope="col">Görsel</th>
                                        <th scope="col">Ürün Adı</th>
                                        <th scope="col">1. Seviye Kategori</th>
                                        <th scope="col">2. Seviye Kategori</th>
                                        <th scope="col">3. Seviye Kategori</th>
                                        <th scope="col">İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                    <tr>
                                        <form action="" method="get">

                                            <td>
                                                <img src="{{ product.image_url1 }}" alt=""
                                                    style="width: 50px; height: auto;">
                                            </td>
                                            <td>{{ product.title }}</td>
                                            <td>
                                                <select class="form-control select2 kategoriSelect filter-checkbox"
                                                    id="select-category1" name="kategori1-{{ product.id }}"
                                                    style="width: 100%;">
                                                    <option value="">--------</option>
                                                    {% for c in seviye_1 %}
                                                    <option value="{{ c.id }}"
                                                        {% if c.id == product.category.id %}selected{% endif %}>
                                                        {{ c.title }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <select class="form-control select2 kategoriSelect filter-checkbox"
                                                    id="select-category2" name="kategori2-{{ product.id }}"
                                                    style="width: 100%;">
                                                    <option value="">--------</option>
                                                    {% for c in seviye_2 %}
                                                    <option value="{{ c.id }}"
                                                        {% if c.id == product.subcategory.id %}selected{% endif %}>
                                                        {{ c.title }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <select class="form-control select2 kategoriSelect filter-checkbox"
                                                    id="select-category2" name="kategori3-{{ product.id }}"
                                                    style="width: 100%;">
                                                    <option value="">--------</option>
                                                    {% for c in seviye_3 %}
                                                    <option value="{{ c.id }}"
                                                        {% if c.id == product.subbottomcategory.id %}selected{% endif %}>
                                                        {{ c.title }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <div class="btn-group-vertical" role="group" aria-label="Basic example">
                                                    <button class="btn btn-success" id="update-{{ product.id }}">
                                                        Güncelle
                                                    </button>
                                                    <a href="{% url 'product_detail' product.barcode %}"
                                                        class="btn btn-primary">Ürüne Git</a>
                                                    <script>
                                                        $("#update-{{ product.id }}").on('click', function (e) {
                                                            e.preventDefault();
                                                            $.ajax({
                                                                type: "GET",
                                                                url: `/yonetim/urunler/kategorisi-hatali-urunler/kategori-duzelt/`,
                                                                data: {
                                                                    'productID': {{ product.id }},
                                                                    'kategori1': $(
                                                                        "select[name='kategori1-{{ product.id }}']"
                                                                        ).val(),
                                                                    'kategori2': $(
                                                                        "select[name='kategori2-{{ product.id }}']"
                                                                        ).val(),
                                                                    'kategori3': $(
                                                                        "select[name='kategori3-{{ product.id }}']"
                                                                        ).val(),
                                                                },
                                                                dataType: 'json',
                                                                beforeSend: function () {
                                                                    $(".waiting").css('display',
                                                                        'flex')
                                                                    $(".waiting").css('visibility',
                                                                        'visible')
                                                                },
                                                                success: function (data) {
                                                                    $(".waiting").css('display',
                                                                        'none')
                                                                    $(".waiting").css('visibility',
                                                                        'hidden')
                                                                    swal('Kategori Güncellendi', '',
                                                                        'success');
                                                                    if (data === 'success') {
                                                                        window.location.reload()
                                                                    }
                                                                },
                                                                error: function (e) {
                                                                    iziToast.error({
                                                                        title: 'Hata !',
                                                                        message: `Bir hata meydana geldi. ${e}.`,
                                                                        position: 'topRight'
                                                                    });
                                                                }
                                                            });
                                                        })
                                                    </script>
                                                </div>
                                            </td>
                                        </form>

                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="6" class="text-center">
                                            <div class = "mt-5 mb-5"
                                                style="width: 100%; height: 100%; display:flex; justify-content: center; align-items: center; flex-direction: column;">
                                                <i class="fa-regular fa-face-meh mb-3 fa-4x"></i>
                                                <h5>Aradığınız kategori - kelimede ürün bulanamadı.</h5>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <nav aria-label="pagination" class="pagination_area">
                            <div class="row">
                                {% if products.end_index > 0 %}
                                <div class="col-sm-12 col-md-5 d-none d-md-block">
                                    <p>Showing {{ products.start_index }} to {{ products.end_index }}
                                        of {{ products.paginator.count }}.</p>
                                </div>
                                {% endif %}
                                {% if products.paginator.num_pages > 1 %}
                                <div class="col-sm-12 col-md-7 dataTables_pager">
                                    <ul class="pagination">
                                        {% if products.has_previous %}

                                        <li class="page-item">
                                            <a class="page-link" data-page="1" href="?page=1">
                                                <i class="fa fa-angle-double-left"></i>
                                            </a>
                                        </li>
                                        {% if products.previous_page_number > 1 %}
                                        <li class="page-item">
                                            <a class="page-link " data-page="{{ products.previous_page_number }}"
                                                href="{{ query }}&page={{ products.previous_page_number }}">
                                                <i class="fa fa-angle-left"></i>
                                            </a>
                                        </li>
                                        {% endif %}

                                        {% endif %}

                                        {% if products.previous_page_number > 2 %}
                                        <li class="page-item">
                                            <a class="page-link " data-page="{{ products.number|add:'-2' }}"
                                                href="{{ query }}&page={{ products.number|add:'-2' }}">
                                                {{ products.number|add:"-2" }} </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link " data-page="{{ products.number|add:'-1' }}"
                                                href="{{ query }}&page={{ products.number|add:'-1' }}">
                                                {{ products.number|add:"-1" }} </a>
                                        </li>
                                        {% endif %}

                                        <li class="page-item active"><span
                                                class="page-link ">{{ products.number }}</span></li>

                                        {% if products.paginator.num_pages > products.number|add:"2" %}
                                        <li class="page-item">
                                            <a class="page-link " data-page="{{ products.number|add:'1' }}"
                                                href="{{ query }}&page={{ products.number|add:'1' }}">
                                                {{ products.number|add:"1" }} </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link " data-page="{{ products.number|add:'2' }}"
                                                href="{{ query }}&page={{ products.number|add:'2' }}">
                                                {{ products.number|add:"2" }} </a>
                                        </li>
                                        {% endif %}

                                        {% if products.has_next %}
                                        <li class="page-item">
                                            <a class="page-link " data-page="{{ products.next_page_number }}"
                                                href="{{ query }}&page={{ products.next_page_number }}">
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </li>

                                        <li class="page-item">
                                            <a class="page-link " data-page="{{ products.paginator.num_pages }}"
                                                href="{{ query }}&page={{ products.paginator.num_pages }}">
                                                <i class="fa fa-angle-double-right"></i>
                                            </a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                                {% endif %}
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_script %}
<script src="{% static 'backend/js/product.js' %}"></script>
<script src="{% static 'backend/modules/select2/dist/js/select2.full.min.js' %}"></script>
<script src="{% static 'backend/modules/sweetalert/sweetalert.min.js' %}"></script>
{% endblock %}