{% load static %}
<div class="feature">
    <div class="container container-240">
        <div class="feature-inside">
            <div class="feature-block v2 text-center">
                <div class="feature-block-img">
                    <i class="fa-solid fa-truck-fast fa-4x"></i>
                </div>
                <div class="feature-info">
                    <h3>Hızlı Teslimat</h3>
                    <p>Siparişleriniz en kısa sürede sizlere teslim edilir.</p>
                </div>
            </div>
            <div class="feature-block v2 text-center">
                <div class="feature-block-img">
                    <i class="fa-regular fa-4x fa-credit-card"></i>
                </div>
                <div class="feature-info">
                    <h3>Güvenli Ödeme</h3>
                    <p>En popüler ve güvenli ödeme yöntemleriyle ödeme yapın.</p>
                </div>
            </div>
            <div class="feature-block v2 text-center">
                <div class="feature-block-img">
                    <i class="fa-solid fa-shield-halved fa-4x"></i>
                </div>
                <div class="feature-info">
                    <h3>Güvenli Alışveriş Yapın</h3>
                    <p>Alıcı Korumamız, satın alma işleminizi tıklamadan teslimata kadar kapsar.</p>
                </div>
            </div>
            <div class="feature-block v2 text-center">
                <div class="feature-block-img">
                    <i class="fa-solid fa-headset fa-4x"></i>
                </div>
                <div class="feature-info">
                    <h3>24/7 Yardım Merkezi</h3>
                    <p>Sorunsuz bir alışveriş deneyimi için 24 saat yardım.</p>
                </div>
            </div>
        </div>
    </div>
</div>