{% load static %}

<div class="flash-deals">
    <div class="container container-240">
        <div class="title-icon t-column">
            <div class="t-inside">
                <img src="{% static 'img/flash-deals.png' %}" alt="">
            </div>
            <h1>Süper Fırsatlar</h1>
        </div>

        <div class="flash_deals_skeleton">
            <div class="row">
                <div class="col-lg-4">
                    <div class="product-countd pd-bd product-inner">
                        <div class="product-item-countd">
                            <div class="product-head product-img">
                                <span class="skeleton-box" style="height: 365px;width: 75%;"></span>
                                <div class="ribbon-price v3 red"><span>- % </span></div>
                            </div>
                            <div class="product-info">
                                <p class="product-cate text-center"><span class="skeleton-box"
                                                                          style="width: 40px;"></span></p>
                                <div class="product-price thin-price v3">
                                </div>
                                <h3 class="product-title text-center v2"><span class="skeleton-box"
                                                                               style="width: 100px;"></span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="product-countd pd-bd product-inner">
                        <div class="product-item-countd">
                            <div class="product-head product-img">
                                <span class="skeleton-box" style="height: 365px;width: 75%;"></span>
                                <div class="ribbon-price v3 red"><span>- % </span></div>
                            </div>
                            <div class="product-info">
                                <p class="product-cate text-center"><span class="skeleton-box"
                                                                          style="width: 40px;"></span></p>
                                <div class="product-price thin-price v3">
                                </div>
                                <h3 class="product-title text-center v2"><span class="skeleton-box"
                                                                               style="width: 100px;"></span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="product-countd pd-bd product-inner">
                        <div class="product-item-countd">
                            <div class="product-head product-img">
                                <span class="skeleton-box" style="height: 365px;width: 75%;"></span>
                                <div class="ribbon-price v3 red"><span>- % </span></div>
                            </div>
                            <div class="product-info">
                                <p class="product-cate text-center"><span class="skeleton-box"
                                                                          style="width: 40px;"></span></p>
                                <div class="product-price thin-price v3">
                                </div>
                                <h3 class="product-title text-center v2"><span class="skeleton-box"
                                                                               style="width: 100px;"></span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel owl-theme owl-cate js-owl-cate2 owl-loaded owl-drag">

        </div>
    </div>
</div>