{% load static %}

<header class="main-header-section catgmenu-opens" id="main-nav-header">
    <div class="main-header-section__midline">
        <div class="page-margin">
            <div class="page-margin__content">
                <div class="" style="display: flex; align-items: center">
                    <div class="flex-item">
                        <div class="logo">
                            <a href="{% url 'mainpage' %}">
                                <img src="{% static 'img/logo2.png' %}" alt="IMG">
                            </a>
                        </div>
                    </div>
                    <div class="flex-item">
                        <div class="catalog-btn">
                            <button class="btn catalog-btn__closed" id="catgmenu-btn">
                                    <span class="icon icon-closed">
                                        <svg xmlns="https://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-grid">
                                            <rect x="3" y="3" width="7" height="7"></rect>
                                            <rect x="14" y="3" width="7" height="7"></rect>
                                            <rect x="14" y="14" width="7" height="7"></rect>
                                            <rect x="3" y="14" width="7" height="7"></rect>
                                        </svg>
                                    </span>
                                <span class="icon icon-open">
                                        <svg xmlns="https://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                                            <line x1="18" y1="6" x2="6" y2="18"></line>
                                            <line x1="6" y1="6" x2="18" y2="18"></line>
                                        </svg>
                                    </span>
                            </button>
                        </div>
                    </div>
                    <div class="flex-item flex-1">
                        <form action="{% url 'search' %}" method="post">
                            <div class="searchbar-holder">
                                <input type="text" name="q" placeholder="Keşfetmeye başla...">
                                <button class="searchbar-btn">
                                    <svg xmlns="https://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round" class="feather feather-search">
                                        <circle cx="11" cy="11" r="8"></circle>
                                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="flex-item">
                        <div class="user-nav-items">
                            <div class="" style="display: flex; align-items: center;">
                                <div class="flex-item">
                                    <a href="{% url 'wishlist' %}" class="nav-item" title="Favorilerim">
                                            <span class="nav-item__btn">
                                                <span class="icon">
                                                    <svg xmlns="https://www.w3.org/2000/svg" width="24" height="24"
                                                         viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                         stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                         class="feather feather-heart">
                                                        <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                                                    </svg>
                                                </span>
                                                <small class="count-ind"></small>
                                            </span>
                                    </a>
                                </div>
                                <div class="flex-item">
                                    <a href="{% url 'order_page' %}" class="nav-item" title="Siparişlerim">
                                            <span class="nav-item__btn">
                                                <span class="icon">
                                                    <svg xmlns="https://www.w3.org/2000/svg" width="24" height="24"
                                                         viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                         stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                         class="feather feather-package">
                                                        <line x1="16.5" y1="9.4" x2="7.5" y2="4.21"></line>
                                                        <path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path>
                                                        <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                                                        <line x1="12" y1="22.08" x2="12" y2="12"></line>
                                                    </svg>
                                                </span>
                                            </span>
                                    </a>
                                </div>
                                <div class="flex-item">
                                    <a href="{% url 'cart' %}" class="nav-item" title="Sepetim">
                                            <span class="nav-item__btn">
                                                <span class="icon">
                                                    <svg xmlns="https://www.w3.org/2000/svg" width="24" height="24"
                                                         viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                         stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                         class="feather feather-shopping-bag">
                                                        <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
                                                        <line x1="3" y1="6" x2="21" y2="6"></line>
                                                        <path d="M16 10a4 4 0 0 1-8 0"></path>
                                                    </svg>
                                                </span>
                                                <small class="count-ind"></small>
                                            </span>
                                    </a>
                                </div>
                                <div class="flex-item">
                                    <a href="{% url 'profile_mainpage' %}" class="nav-item" title="Hesabım">
                                            <span class="nav-item__btn">
                                                <span class="icon">
                                                    <svg xmlns="https://www.w3.org/2000/svg" width="24" height="24"
                                                         viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                         stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                         class="feather feather-user">
                                                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                                        <circle cx="12" cy="7" r="4"></circle>
                                                    </svg>
                                                </span>
                                            </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-header-section__catgmenu" id="catgmenu-layout">
        <div class="catgmenu-wrap">
            <div class="catgmenu">
                <div class="page-margin">
                    <div class="page-margin__content">
                        <div class="row">
                            {% for sc in subcategories %}
                                {% if sc.maincategory.id == 1 %}
                                    <div class="col-lg-3 col-12">
                                        <div class="catgmenu__departments">
                                            <div class="departments-nav">
                                                <a href="{% url 'product_by_subcategory' sc.maincategory.slug sc.slug %}" class="departments-nav__item">
                                                    <span class="text">{{ sc.title }}</span>
                                                    <span class="icon">
                                                    <svg xmlns="https://www.w3.org/2000/svg" width="24" height="24"
                                                         viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                         stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                         class="feather feather-chevron-right">
                                                        <polyline points="9 18 15 12 9 6"></polyline>
                                                    </svg>
                                                </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


