{% load static %}
{% if request.path == '/' %}
    <div class="navbar-vertical">
        <button class="navbar-toggles"><span>Kategoriler</span></button>
    </div>

    <div class="vertical-wrapper">
        <ul class="vertical-group">
            <li class="vertical-item level1 mega-parent"><a href="#">Yeni Ürünler</a></li>
            <li class="vertical-item level1 mega-parent"><a href="#">En Çok Satılan
                <span
                        class="h-ribbon e-red mg-l10">Hot</span></a></li>
            {% for mc in maincategories %}
                <li class="vertical-item level1 vertical-drop"><a href="{{ mc.get_url }}">{{ mc.title }}</a>
                    <div class="menu-level-1 dropdown-menu vertical-menu v2 tvbg pd2 style1">
                        <ul class="level1">
                            <li class="level2">
                                <a href="{{ mc.get_url }}">{{ mc.title }}</a>
                                <ul class="menu-level-2">
                                    {% for sc in subcategories %}
                                        {% if sc.maincategory.id == mc.id %}
                                            <li class="level3"><a href="{{ sc.get_url }}" title="">{{ sc.title }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

{% else %}
    <div class="navbar-vertical">
        <button class="navbar-toggles navbar-drop js-vertical-menu"><span>Kategoriler</span></button>
    </div>
    <div class="vertical-wrapper">
        <ul class="vertical-group">
            <li class="vertical-item level1 mega-parent"><a href="#">Yeni Ürünler</a></li>
            <li class="vertical-item level1 mega-parent"><a href="#">En Çok Satılan <span
                    class="h-ribbon e-red mg-l10">Hot</span></a></li>
            {% for mc in maincategories %}
                <li class="vertical-item level1 vertical-drop"><a href="{{ mc.get_url }}">{{ mc.title }}</a>
                    <div class="menu-level-1 dropdown-menu vertical-menu v2 tvbg pd2 style1">
                        <ul class="level1">
                            <li class="level2">
                                <a href="#">{{ mc.title }}</a>
                                <ul class="menu-level-2">
                                    {% for sc in subcategories %}
                                        {% if sc.maincategory.id == mc.id %}
                                            <li class="level3"><a href="{{ sc.get_url }}" title="">{{ sc.title }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}