.cookie-wrapper {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 999;
    width: 100%;
    background: #000000;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 15px 25px 22px;
    transition: right 0.3s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}


.cookie-wrapper.hide {
    display: none;
}


.cookie-wrapper header {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.cookie-wrapper header i {
    color: #4070f4;
    font-size: 32px;
}

.cookie-wrapper header h2 {
    color: #fdfdfd;
    font-weight: 500;
}

.cookie-wrapper .data {
    margin-top: 16px;
}

.cookie-wrapper .data p {
    color: #cecece;
    font-size: 16px;
}

.data p a {
    color: #4070f4;
    text-decoration: none;
}

.data p a:hover {
    text-decoration: underline;
}

.cookie-wrapper .buttons {
    margin-top: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons .cookie-button {
    border: none;
    color: #fff;
    padding: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    width: 100%;
    transition: all 0.2s ease;
}

.buttons #cookieAcceptBtn {
    background: red;
}

.buttons #cookieSettingBtn {
    background: green;
}

.buttons #cookieDeclineBtn {
    color: black;
}

.buttons #acceptBtn:hover {
    background-color: #034bf1;
}

#declineBtn {
    border: 2px solid #4070f4;
    background-color: #fff;
    color: #4070f4;
}

#declineBtn:hover {
    background-color: #4070f4;
    color: #fff;
}

.single-product-detail{
    margin-top: 30px;
}

.cookie__title{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.cookieList{
    max-height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 40px;
}

.cookieList .row{
    margin-bottom: 30px;
}

.cookieList .row:not(:first-child){
    margin-bottom: 30px;
    border-top: 2px solid black;
}

