@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;900&display=swap');

table {
    width: 100% !important;
    margin-top: 20px;
}

.contract-card {
    background: #f8f8f8;
    border: 2px solid #f0f0f0;
    border-radius: 10px;
    padding: 15px;
}

.contract-card:last-child {
    margin-top: 30px;
}

.contract-card-header {
    border-bottom: 2px solid #f0f0f0;
    height: 30px;
    margin-bottom: 10px;
}

.contract-body {
    height: 200px;
    overflow: auto;
}


.payment_content {
    padding: 0 10px;
    line-height: 26px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: max-height 0.5s;
}


@media screen and (max-width: 580px) {
    .payment_content {
        padding: 0 !important;
    }

    .card-bounding {
        padding: 0 !important;
    }

    .card-type {
        display: none !important;
    }

    .card-bounding .card-container {
        padding-left: 0 !important;
    }

    .card-bounding .card-container input {
        padding: 15px 15px 15px 15px !important;
    }

}

@media screen and (max-width: 1025px) {
    form[name="checkout"] .col-md-4 {
        margin-top: 40px;
    }
}

.payment-title {
    width: 100%;
    text-align: center;
}

.card-bounding {
    width: 100%;
    margin: 0 auto;
    position: relative;
    border-radius: 6px;
    font-family: 'Roboto';
    background: #ffffff;
}

.card-bounding aside {
    font-size: 24px;
    padding-bottom: 8px;
}

.card-container {
    width: 100%;
    padding-right: 40px;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin: 0 auto 10px auto;
    border-radius: 10px;
}

.card-container label {
    padding-left: 25px;
}

.card-container input {
    width: 100%;
    letter-spacing: 1px;
    padding: 15px 15px 15px 12px;
    border: 0;
    outline: none;
    box-sizing: border-box;
    border-radius: 10px;
}

.card-type {
    width: 80px;
    height: 50px;
    background: url("../img/cards.png");
    background-position: 0 -291px;
    background-repeat: no-repeat;
    position: absolute;
    top: 2px;
    left: 4px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card-type.mastercard {
    background-position: 0 0;
}

.card-type.visa {
    background-position: 0 -115px;
}

.card-type.amex {
    background-position: 0 -57px;
}

.card-type.discover {
    background-position: 0 -174px;
}

.card-valid {
    position: absolute;
    top: 0;
    right: 15px;
    line-height: 60px;
    font-size: 30px;
    color: #ccc;

}

.card-valid.active i {
    color: #42ca7c;
}

.card-valid.active:before {
    content: '\f058';
    color: #42ca7c;
    font-family: "Font Awesome 5 Free";
}

.card-valid.invalid i {
    color: red;
}

.card-valid.invalid:before {
    content: '\f057';
    color: red;
    font-family: "Font Awesome 5 Free";
}

.card-details {
    width: 100%;
    text-align: left;
    margin-bottom: 30px;
    transition: 300ms ease;
}

.card-details input {
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
}

.card-details input.error {
    border: 1px solid #c2313c;
    box-shadow: 0 4px 8px 0 rgba(238, 76, 87, 0.3);
    outline: none;
}

.card-details .expiration {
    width: 49%;
    float: left;

}

.card-details .cvv {
    width: 49%;
    float: right;
}

.card-bounding .form-control {
    width: 100%;
    height: 50px;
}

.card-details input::placeholder {
    font: 1.50rem/3 sans-serif;
}


.payment_completed {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100%;
    background: lime;
    border-radius: 8px;
    padding: 20px;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.payment_completed__header h3 {
    color: white;
    font-size: 4rem;
}

.payment_completed__info span {
    color: #fffefe;
    font-size: 2rem;
    font-weight: bold;
    line-height: 5rem;
}

.payment_completed__button {
    margin-top: 20px;
}

.btn-ordering {
    background: white !important;
    border: none !important;
    outline: none;
}


.failed-card {
    height: 500px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.failed-card .card-body {
    width: 75%;
    height: 500px;
    background: #dc3545;;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.failed-card .card-body i {
    color: #fff;
    margin-bottom: 50px;
}

.failed-card .card-body h3 {
    color: #fff;
}

.warning-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.warning-body p {
    color: #fff;
    margin-top: 20px;
}

.warning-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 75px;
}

.warning-button a {
    margin: 10px;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #2c2929 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.installment-card table thead tr {
    background: grey;
    color: white;
    font-weight: bold;
}

.installment-card table thead tr th, .installment-card table tbody tr td {
    border: 1px solid #BEBEBE;
    padding-left: 10px;
}

.invalid-form{
    border: 2px solid red!important;
    border-radius: 10px!important;
}

.cardnumber_error{
    color: red;
    font-family: 'Poppins', sans-serif;
}

label{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

input{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 10px!important;
}

