{% extends 'frontend/v_2_0/base.html' %}
{% load static %}
{% block title %}<title>{{ request.user.get_full_name }}</title>{% endblock %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static 'frontend/css/profile.css' %}">
{% endblock %}

{% block profil %}
    <div class="page-container profile" data-profile-page="data">
        <div class="page-margin">
            <div class="page-margin__content">
                <nav class="breadcrumbs">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'mainpage' %}">Anasayfa</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'profile_mainpage' %}">{{ request.user.get_full_name }}</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Hesap Bilgilerim
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="page-section addresses">
            <div class="page-margin">
                <div class="page-margin__content">
                    <div class="page-section__body">
                        <div class="profile-page__body">
                            <div class="row">
                                <div class="col-lg-3">
                                    {% include 'frontend/v_2_0/sayfalar/profil/__sidebar.html' %}
                                </div>
                                <div class="col-lg-9">
                                    <div class="profile-page__header">
                                        <h3>
                                            {{ request.user.get_full_name }} − Adreslerim
                                        </h3>
                                    </div>
                                    <a href="#addNewAddress" class="btn btn-profile-sm btn-primary mb-30"><i class="fas fa-plus"></i>
                                        &nbsp;Yeni Adres Ekle</a>
                                    <div class="profile-page__content mb-30">
                                        <div class="addresses__list">
                                            {% for address in all_address %}
                                                <div class="addresses__list-item">
                                                    <div class="address">
                                                        <div class="address__body">
                                                            <div class="address__rec">
                                                            <span class="name-contacts">
                                                                {{ address.title }} - {{ address.first_name }} {{ address.last_name }} <a
                                                                    class="phone"
                                                                    href="tel:{{ address.mobile }}">{{ address.mobile }}</a>
                                                            </span>
                                                                <span class="address">
                                                                {{ address.address }}
                                                            </span>
                                                                {% if address.is_active == "Evet" %}
                                                                    <span class="status">
                                                                        <span class="badge badge-grad-1 badge-lg">Geçerli Adres</span>
                                                                    </span>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <div class="address__controls">
                                                            <a href="{% url 'update_address' address.id %}"
                                                               class="btn btn-icon-only">
                                                                <svg width="24"
                                                                     height="24"
                                                                     viewBox="0 0 24 24" fill="none"
                                                                     stroke="currentColor"
                                                                     stroke-width="2" stroke-linecap="round"
                                                                     stroke-linejoin="round"
                                                                     class="feather feather-edit-3">
                                                                    <path d="M12 20h9"></path>
                                                                    <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
                                                                </svg>
                                                            </a>
                                                            <a href="{% url 'delete_address' address.id %}" class="btn btn-icon-only">
                                                                <svg width="24"
                                                                     height="24"
                                                                     viewBox="0 0 24 24" fill="none"
                                                                     stroke="currentColor"
                                                                     stroke-width="2" stroke-linecap="round"
                                                                     stroke-linejoin="round"
                                                                     class="feather feather-trash">
                                                                    <polyline points="3 6 5 6 21 6"></polyline>
                                                                    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                                                                </svg>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% empty %}
                                                <div class="empty-address">
                                                    <p>Kayıtlı adresiniz bulunmamaktadır.</p>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="profile-page__header" id="addNewAddress">
                                        <h3>
                                            Yeni Adres Ekle
                                        </h3>
                                    </div>
                                    <div class="profile-page__content">
                                        <form class="form address-form" method="POST"
                                              data-counties-url="{% url 'load_counties' %}" id="addAddressForm">
                                            {% csrf_token %}
                                            <div class="row">
                                                {% for field in add_form %}
                                                    <div class="col-lg-12" id="field-{{ field.id_for_label }}">
                                                        <div class="form-group mb-20">
                                                            <div class="form-field">
                                                                <label for="{{ field.id_for_label }}"
                                                                       class="form-control-label">
                                                                    {{ field.label }}
                                                                </label>
                                                                {{ field }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{ error }}
                                                {% endfor %}
                                            </div>
                                            <div class="flex lr">
                                                <button type="submit" class="btn btn-primary btn-icon btn-lg btn-block"
                                                        id="addAddressBtn"
                                                        name="addAddressBtn">
                                                    <span class="icon">
                                                                <svg width="24"
                                                                     height="24" viewBox="0 0 24 24" fill="none"
                                                                     stroke="currentColor" stroke-width="2"
                                                                     stroke-linecap="round" stroke-linejoin="round"
                                                                     class="feather feather-save">
                                                                    <path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path>
                                                                    <polyline points="17 21 17 13 7 13 7 21"></polyline>
                                                                    <polyline points="7 3 7 8 15 8"></polyline>
                                                                </svg>
                                                            </span>
                                                    <span class="text">
                                                                Kaydet
                                                            </span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_script %}
    <script src="{% static 'frontend/js/load_counties.js' %}"></script>
    <script src="{% static 'frontend/js/address.js' %}"></script>
    <script>
        document.getElementById('id_mobile').addEventListener('input', function (e) {
            var x = e.target.value.replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
            e.target.value = !x[2] ? x[1] : '(' + x[1] + ') ' + x[2] + (x[3] ? '-' + x[3] : '');
        });
    </script>

    <script src="{% static 'frontend/js/pages/profile/script.master.js' %}"></script>
{% endblock %}