{% extends 'frontend/v_2_0/base.html' %}
{% load static %}

{% block title %}
    <title>
        {{ secili_kategori.title }} Ürünleri
    </title>
{% endblock %}

{% block seodescription %}
    <meta name="description" content="{{ secili_kategori.description }}">{% endblock %}
{% block seokeyword %}
    <meta name="keywords" content="{{ secili_kategori.keyword }}">{% endblock %}
{% block canonical %}
    <link rel="canonical" href="https://www.tredyshop.com">{% endblock %}


{% block extra_style %}
    <link rel="stylesheet" href="{% static 'frontend/css/katalog.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% endblock %}

{% block store %}
    <div class="page-container catalog">
        <!-- ~~~~~~~~~~~~~~~~~ Catalog Departments page breadcrumbs section [START] ~~~~~~~~~~~~~~~~~ -->
        <div class="page-margin">
            <div class="page-margin__content">
                <nav class="breadcrumbs">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'mainpage' %}">Anasayfa</a>
                        </li>
                        <li class="breadcrumb-item active">
                            {{ secili_kategori.title }}
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- ~~~~~~~~~~~~~~~~~ Catalog Departments page breadcrumbs section [END] ~~~~~~~~~~~~~~~~~ -->
        <!-- ~~~~~~~~~~~~~~~~~ Catalog Departments catalog section [START] ~~~~~~~~~~~~~~~~~ -->
        <div class="page-section catalog-departments">
            <div class="page-margin">
                <div class="page-margin__content">
                    <div class="page-section__header">
                        <h2>
                            {{ secili_kategori.title }}
                        </h2>
                    </div>
                    <div class="page-section__body">
                        <div class="catalog-department">
                            <div class="catalog-department__navigation">
                                <div class="catalog-department__nav-toggle" data-toggle="catalog-sidebar">
                                    <div class="nav-toggle">
                                        <span class="nav-toggle__icon">
                                            <svg width="24" height="24"
                                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round"
                                                 class="feather feather-grid">
                                                <rect x="3" y="3" width="7" height="7"></rect>
                                                <rect x="14" y="3" width="7" height="7"></rect>
                                                <rect x="14" y="14" width="7" height="7"></rect>
                                                <rect x="3" y="14" width="7" height="7"></rect>
                                            </svg>
                                        </span>
                                        <span class="nav-toggle__text">
                                            Filtreleme
                                        </span>
                                        <span class="nav-toggle__icon">
                                            <svg width="24" height="24"
                                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round"
                                                 class="feather feather-chevron-down">
                                                <polyline points="6 9 12 15 18 9"></polyline>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                                <div class="catalog-department__nav-menu">
                                    <div class="d-block">
                                        <div class="catalog-department__nav">
                                            {% for kategori in alt_kategorileri %}
                                                <div class="catalog-department__nav-item">
                                                    <div class="nav-header">
                                                    <span>
                                                        <a href="{{ kategori.get_url }}">{{ kategori.title }}</a>
                                                    </span>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            <div class="catalog-department__nav-item">
                                                <div class="nav-header">
                                                    <span>
                                                        Diğer Kategoriler
                                                    </span>
                                                </div>
                                                <div class="nav-body">
                                                    {% for kategori in diger_kategorileri %}
                                                        <a href="{{ kategori.get_url }}" class="category-link">
                                                            {{ kategori.title }}
                                                        </a>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="catalog-department__content">
                                <div class="catalog-department__content-section">
                                    {% for list in product_list %}
                                        <div class="content-section">
                                            <div class="content-section__header">
                                                <h2>
                                                    {{ list.kategori_adi }}
                                                </h2>
                                            </div>
                                            <div class="content-section__body">
                                                <div class="products-slider">
                                                    <div class="swiper" id="categories-slider-1">
                                                        <div class="swiper-wrapper">
                                                            {% for product in list.products %}
                                                                <div class="swiper-slide">
                                                                    <div class="slide-cont">
                                                                        <div class="product-grid-item">
                                                                            <div class="product">
                                                                                <a class="a-block"
                                                                                   href="{{ product.get_url }}">
                                                                                    <div class="product__image">
                                                                                        <img src="{{ product.image_url1 }}"
                                                                                             alt="IMG">
                                                                                        {% if product.is_discountprice %}
                                                                                            <div class="discount">
                                                                                    <span>
                                                                                        -{{ product.discountrate }}%
                                                                                    </span>
                                                                                            </div>
                                                                                        {% endif %}
                                                                                    </div>
                                                                                </a>
                                                                                <div class="product__description">
                                                                                    <a class="a-block"
                                                                                       href="{{ product.get_url }}">
                                                                                        <div class="product_prices">
                                                                                            {% if product.is_discountprice %}
                                                                                                <b>
                                                                                                    {{ product.discountprice }}
                                                                                                    TL
                                                                                                </b>
                                                                                                <span>
                                                                                        {{ product.price }} TL
                                                                                    </span>
                                                                                            {% else %}
                                                                                                <b>
                                                                                                    {{ product.price }}
                                                                                                    TL
                                                                                                </b>
                                                                                            {% endif %}
                                                                                        </div>
                                                                                        <div class="product_rating">
                                                                                            <span class="rating">
                                                    <i class="bi bi-star{% if product.averageReview > 0 %}-fill{% else %}{% endif %}"></i>
                                                    <i class="bi bi-star{% if product.averageReview > 1.5 %}-fill{% else %}{% endif %}"></i>
                                                    <i class="bi bi-star{% if product.averageReview > 2.5 %}-fill{% else %}{% endif %}"></i>
                                                    <i class="bi bi-star{% if product.averageReview > 3.5 %}-fill{% else %}{% endif %}"></i>
                                                    <i class="bi bi-star{% if product.averageReview > 4.5 %}-fill{% else %}{% endif %}"></i>
                                                </span>
                                                                                        </div>
                                                                                    </a>
                                                                                    <div class="product_name">
                                                                                        <a href="{{ product.get_url }}">
                                                                                            {{ product.title }}
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                        <div class="swiper-button-prev">
                                                            <button class="btn slider-btn prev">
                                                                <svg width="24"
                                                                     height="24" viewBox="0 0 24 24" fill="none"
                                                                     stroke="currentColor" stroke-width="2"
                                                                     stroke-linecap="round" stroke-linejoin="round"
                                                                     class="feather feather-chevron-left">
                                                                    <polyline points="15 18 9 12 15 6"></polyline>
                                                                </svg>
                                                            </button>
                                                        </div>
                                                        <div class="swiper-button-next">
                                                            <button class="btn slider-btn next">
                                                                <svg width="24"
                                                                     height="24" viewBox="0 0 24 24" fill="none"
                                                                     stroke="currentColor" stroke-width="2"
                                                                     stroke-linecap="round" stroke-linejoin="round"
                                                                     class="feather feather-chevron-right">
                                                                    <polyline points="9 18 15 12 9 6"></polyline>
                                                                </svg>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ~~~~~~~~~~~~~~~~~ Catalog Departments catalog section [END] ~~~~~~~~~~~~~~~~~ -->
    </div>
{% endblock %}

{% block extra_script %}
    <script src="{% static 'frontend/js/pages/catalog/departments/script.master.js' %}"></script>
{% endblock %}