{% extends 'frontend/v_2_0/base.html' %}
{% load static %}

{% block title %}<title>{{ product.title }} | Ürün Yorumları</title>{% endblock %}
{% block seodescription %}
    <meta name="description" content="{{ product.description }}">
{% endblock %}
{% block seokeyword %}
    <meta name="keywords"
          content="{{ product.category.title }}, {{ product.subcategory.title }}, {{ product.subbottomcategory.title }}, {{ product.title }}, giyim ürünleri, en uygun fiyatlı ürünler, tarz">
{% endblock %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static 'frontend/css/product.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/vendor/VenoBox/venobox.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/vendor/jQuery-niceSelect/jQnice-select.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% endblock %}
{% block urun %}
    <div class="page-container product">
        <!-- ~~~~~~~~~~~~~~~~~ Product page breadcrumbs section [START] ~~~~~~~~~~~~~~~~~ -->
        <div class="page-margin">
            <div class="page-margin__content">
                <nav class="breadcrumbs">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ product.category.get_url }}">{{ product.category.title }}</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{{ product.subcategory.get_url }}">{{ product.subcategory.title }}</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{{ product.subbottomcategory.get_url }}">{{ product.subbottomcategory.title }}</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{{ product.get_url }}">{{ product.title }}</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Ürün değerlendirmeleri
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="page-section prod-reviews">
            <div class="page-margin">
                <div class="page-margin__content">
                    <div class="page-section__body">
                        <div class="row">
                            <div class="col-12">
                                <div class="reviews-product">
                                    <div class="reviews__body">
                                        <div class="reviews_product__info">
                                            <div class="reviews_product__info_image">
                                                <img src="{{ product.image_url1 }}" alt="Ürün Resmi">
                                            </div>
                                            <div class="reviews_product__info_detail">
                                                <h5>{{ product.title }}</h5>
                                                <input type="hidden" id="product_id" value="{{ product.id }}">
                                                <a href="{{ product.get_url }}" class="back-product btn">Ürüne Geri
                                                    Git</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-section prod-reviews" id="prod-reviews">
            <div class="page-margin">
                <div class="page-margin__content">
                    <div class="page-section__header">
                        <h2>
                            Ürün değerlendirmeleri <sup class="sec-text-color text-600">{{ product.countReview }}</sup>
                        </h2>
                    </div>
                    <div class="page-section__body">
                        <div class="row">
                            <div class="col-xxl-9 col-xl-8 col-12">
                                <div class="reviews">
                                    <div class="reviews__header">
                                        <div class="reviews-gallery">
                                            <div class="reviews-gallery__header">
                                                Fotoğralı değerlendirmeler
                                            </div>
                                            <div class="reviews-gallery__body">

                                                {% for photo in product.photoReview %}
                                                    <div class="reviews-gallery__item">
                                                        <div class="image">
                                                            <a data-gall="reviews-gallery"
                                                               href="{{ photo.get_image }}"
                                                               class="a-block venobox">
                                                                <img src="{{ photo.get_image }}"
                                                                     alt="IMG">
                                                            </a>
                                                        </div>
                                                    </div>
                                                {% empty %}
                                                    <p>Fotoğraflı değerlendirme bulunmamaktadır.</p>
                                                {% endfor %}

                                            </div>
                                        </div>
                                    </div>
                                    <div class="reviews__body">
                                        <div class="reviews__filter">
                                            <div class="reviews__filter-sortby">
                                                <form class="form" id="filterForm">
                                                    <div class="form-group no-mb">
                                                        <div class="reviews__filter-select">
                                                            <div class="select-holder">
                                                                <select class="nice-select" name="filter"
                                                                        data-label="Sıralama — ">
                                                                    <option value="created_at">En yeni değerlendirme
                                                                    </option>
                                                                    <option value="-created_at">En eski değerlendirme
                                                                    </option>
                                                                    <option value="rating">En yüksek puanlılar</option>
                                                                    <option value="-rating">En yüksek puanlılar</option>
                                                                </select>
                                                            </div>
                                                            <div class="reviews-total">
                                                                <span>
                                                                    <b>{{ product.countReview }}</b> Değerlendirme
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="reviews__list">
                                            {% for r in product_reviews %}
                                                <div class="reviews__list-item">
                                                    <div class="review-data">
                                                        <div class="review-data-topline">
                                                            <div class="review-data-topline__avatar">
                                                                <div class="avatar d-flex justify-content-center align-items-center">
                                                                    {{ r.user.first_name|slice:"1" }}{{ r.user.last_name|slice:"1" }}
                                                                </div>
                                                            </div>
                                                            <div class="review-data-topline__name">
                                                            <span class="name">
                                                                {{ r.user.first_name|slice:"2" }}. {{ r.user.last_name|slice:"1" }}.
                                                            </span>
                                                            </div>
                                                            <div class="review-data-topline__grade">
                                                            <span class="rating">
                                                    <i class="bi bi-star{% if r.rating > 0 %}-fill{% else %}{% endif %}"></i>
                                                    <i class="bi bi-star{% if r.rating > 1.5 %}-fill{% else %}{% endif %}"></i>
                                                    <i class="bi bi-star{% if r.rating > 2.5 %}-fill{% else %}{% endif %}"></i>
                                                    <i class="bi bi-star{% if r.rating > 3.5 %}-fill{% else %}{% endif %}"></i>
                                                    <i class="bi bi-star{% if r.rating > 4.5 %}-fill{% else %}{% endif %}"></i>
                                                </span>
                                                                <span class="date">
                                                                {{ r.created_at|date:"d-m-Y" }}
                                                            </span>
                                                            </div>
                                                        </div>
                                                        <div class="review-data-midline">
                                                            <div class="review-text-box">
                                                                {{ r.review }}
                                                            </div>
                                                            <div class="review-media-box">
                                                                <div class="row">
                                                                    {% for i in r.photoReview %}
                                                                        <div class="col-xxl-1 col-xl-2 col-lg-2 col-md-3 col-3">
                                                                            <div class="review-media-item">
                                                                                <a data-gall="review-1-attachements"
                                                                                   href="{{ i.get_image }}"
                                                                                   class="a-block venobox">
                                                                                    <img src="{{ i.get_image }}"
                                                                                         alt="IMG">
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% empty %}
                                                <p>Ürün değerlendirmesi bulunmamaktadır.</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="reviews__footer">
                                        {% if reviews_count > 10 %}
                                            <a href="#"
                                               class="btn btn-icon btn-lg outline" id="loadMore"
                                               data-max="{{ reviews_count }}" data-limit="10">
                                                <span class="text">
                                                Daha Fazla Yükle
                                            </span>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-xl-4 col-12">
                                <div class="top-sticky-block-b-wrap top-sticky-block">
                                    <div class="ratings-chart">
                                        <div class="ratings-chart__header">
                                            <div class="ratings-chart__num">
                                                <span>
                                                    {{ product.averageReview|floatformat:1 }}
                                                </span>
                                            </div>
                                            <div class="ratings-chart__stars">
                                                <span class="rating">
                                                   <i class="bi bi-star{% if product.averageReview > 0 %}-fill{% else %}{% endif %}"></i>
                                                    <i class="bi bi-star{% if product.averageReview > 1.5 %}-fill{% else %}{% endif %}"></i>
                                                    <i class="bi bi-star{% if product.averageReview > 2.5 %}-fill{% else %}{% endif %}"></i>
                                                    <i class="bi bi-star{% if product.averageReview > 3.5 %}-fill{% else %}{% endif %}"></i>
                                                    <i class="bi bi-star{% if product.averageReview > 4.5 %}-fill{% else %}{% endif %}"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="ratings-chart__body">
                                            <div class="ratings-base-num">
                                                <span>
                                                    {{ product.countReview }} değerlendirme
                                                </span>
                                            </div>
                                            <div class="ratings-chart__bars">
                                                <div class="rating-bar">
                                                    <div class="rating-bar__grade">
                                                        <span>
                                                            5
                                                        </span>
                                                    </div>
                                                    <div class="rating-bar__line">
                                                        <span class="prog-line">
                                                            <span class="prog-line-bar"
                                                                  style="width: {{ product.five_star }}%;"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="rating-bar">
                                                    <div class="rating-bar__grade">
                                                        <span>
                                                            4
                                                        </span>
                                                    </div>
                                                    <div class="rating-bar__line">
                                                        <span class="prog-line">
                                                            <span class="prog-line-bar"
                                                                  style="width: {{ product.four_star }}%;"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="rating-bar">
                                                    <div class="rating-bar__grade">
                                                        <span>
                                                            3
                                                        </span>
                                                    </div>
                                                    <div class="rating-bar__line">
                                                        <span class="prog-line">
                                                            <span class="prog-line-bar"
                                                                  style="width: {{ product.three_star }}%;"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="rating-bar">
                                                    <div class="rating-bar__grade">
                                                        <span>
                                                            2
                                                        </span>
                                                    </div>
                                                    <div class="rating-bar__line">
                                                        <span class="prog-line">
                                                            <span class="prog-line-bar"
                                                                  style="width: {{ product.two_star }}%;"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="rating-bar">
                                                    <div class="rating-bar__grade">
                                                        <span>
                                                            1
                                                        </span>
                                                    </div>
                                                    <div class="rating-bar__line">
                                                        <span class="prog-line">
                                                            <span class="prog-line-bar"
                                                                  style="width: {{ product.one_star }}%;"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ratings-chart__footer">
                                            <button class="btn btn-icon btn-lg btn-block" data-toggle="modal"
                                                    data-target="#review-item-modal">
                                                <span class="icon">
                                                    <svg width="24" height="24"
                                                         viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                         stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                         class="feather feather-message-circle">
                                                        <path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path>
                                                    </svg>
                                                </span>
                                                <span class="text">
                                                    Değerlendirme Yap
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ~~~~~~~~~~~~~~~~~ Product page reviews section [END] ~~~~~~~~~~~~~~~~~ -->

    </div>

    <!-- ~~~~~~~~~~~~~~~~~ Review product modal window [START] ~~~~~~~~~~~~~~~~~ -->
    <div class="modal fade share-product" tabindex="-1" role="dialog" id="review-item-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Ürünü değerlendir
                    </h5>
                    <button type="button" class="btn btn-icon-only" data-dismiss="modal">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-x">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" style="margin-bottom: 30px;">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-12 mb-3">
                                <div class="form-group mb-20">
                                    <div class="form-field">
                                        <label for="" class="form-control-label mb-1">Ürünü puanla</label>
                                        <div class="rate">
                                            <input type="radio" name="rating" id="rating5"
                                                   value="5" required><label class="bi bi-star-fill"
                                                                             for="rating5"
                                                                             title="5"></label>
                                            <input type="radio" name="rating" id="rating4"
                                                   value="4" required><label for="rating4"
                                                                             class="bi bi-star-fill"
                                                                             title="4"></label>
                                            <input type="radio" name="rating" id="rating3"
                                                   value="3.0" required><label for="rating3"
                                                                               class="bi bi-star-fill"
                                                                               title="3"></label>
                                            <input type="radio" name="rating" id="rating2"
                                                   value="2" required><label for="rating2"
                                                                             class="bi bi-star-fill"
                                                                             title="2"></label>
                                            <input type="radio" name="rating" id="rating1"
                                                   value="1" required><label for="rating1"
                                                                             class="bi bi-star-fill"
                                                                             title="1"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 mb-3">
                                <div class="form-group mb-20">
                                    <div class="form-field">
                                        <label for="comments"
                                               class="form-control-label mb-1">
                                            Ürünü değerlendir
                                        </label>
                                        <textarea name="comments" cols="2" required rows="2" class="form-control"
                                                  id="comments"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group mb-20">
                                    <div class="form-field">
                                        <label for="images"
                                               class="form-control-label mb-1">
                                            Fotoğraf yükle
                                        </label>
                                        <input class="form-control" type="file" name="images" id="images"
                                               accept="image/png, image/jpeg" multiple>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                {% if orderproduct == True %}
                                    <button type="submit" class="btn btn-submit btn-gradient"
                                            id="submitComment"
                                            name="submitComment">
                                        Gönder
                                    </button>
                                {% endif %}
                            </div>
                        </div>

                        {% if orderproduct == True %}
                            <button type="submit" name="submitComment" class="btn btn-success mt-3 btn-block w-100">
                                Değerlendirmeni Gönder
                            </button>
                        {% else %}
                            <button type="submit" name="submitComment" disabled class="btn btn-success mt-3 btn-block w-100">
                                Satın Almadınız
                            </button>
                        {% endif %}
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- ~~~~~~~~~~~~~~~~~ Review product modal window [END] ~~~~~~~~~~~~~~~~~ -->

{% endblock %}

{% block extra_script %}
    <script src="{% static 'frontend/js/plugins/clipboard.min.js' %}"></script>
    <script src="{% static 'frontend/js/plugins/venobox.min.js' %}"></script>
    <script src="{% static 'frontend/js/plugins/jquery.nice-select.js' %}"></script>
    <script src="{% static 'frontend/js/pages/product-details/script.master.js' %}"></script>
    <script src="{% static 'frontend/js/reviews.js' %}"></script>
{% endblock %}