{% extends 'backend/yonetim/base.html' %}
{% load static %}

{% block title %}<title>Trendyol | Giyim Ürün Girişi Gönder</title>{% endblock %}

{% block trendyol %}

    <section class="section">
        <div class="section-header">
            <h1>{{ category.title }}</h1>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a href="{% url 'admin_mainpage' %}">Anasayfa</a></div>
                <div class="breadcrumb-item active"><a href="{% url 'trendyol_urun_girisi' %}">Ürün Girişi</a></div>
                <div class="breadcrumb-item active"><a href="{% url 'trendyol_giyim_urun_girisi' %}">Giyim
                    Kategorisi</a></div>
                <div class="breadcrumb-item active"><a
                        href="{% url 'trendyol_giyim_kategorisi_urun_girisi' category.subcategory.category_no %}">{{ category.subcategory.title }}</a>
                </div>
                <div class="breadcrumb-item">Giyim Ürün Girişi Gönder</div>
            </div>
        </div>

        <div class="section-body">
            {% if category.title == 'Ceket-Mont-Kaban' %}
                <div class="row">
                    <div class="col-4">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h4>Ceket-Mont-Kaban</h4>
                            </div>
                            <div class="card-body">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Ceket" name="category_title">
                                    <input type="hidden" value="Ceket" name="product_title">
                                    <button class="btn btn-primary btn-block" name="sendTrendyol" type="submit">
                                        Ceket Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card card-success">
                            <div class="card-header">
                                <h4>Ceket-Mont-Kaban</h4>
                            </div>
                            <div class="card-body">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Mont" name="category_title">
                                    <input type="hidden" value="Mont" name="product_title">
                                    <button class="btn btn-success btn-block" name="sendTrendyol" type="submit">
                                        Mont Yükle
                                    </button>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="col-4">
                        <div class="card card-info">
                            <div class="card-header">
                                <h4>Ceket-Mont-Kaban</h4>
                            </div>
                            <div class="card-body">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Kaban" name="category_title">
                                    <input type="hidden" value="Kaban" name="product_title">
                                    <button class="btn btn-info btn-block" name="sendTrendyol" type="submit">
                                        Kaban Yükle
                                    </button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            {% elif category.title == 'Atlet-Büstiyer' %}
                <div class="row">
                    <div class="col-6">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h4>Atlet-Büstiyer</h4>
                            </div>
                            <div class="card-body">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Atlet" name="category_title">
                                    <input type="hidden" value="Atlet" name="product_title">
                                    <button class="btn btn-primary btn-block" name="sendTrendyol" type="submit">
                                        Atlet Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card card-success">
                            <div class="card-header">
                                <h4>Atlet-Büstiyer</h4>
                            </div>
                            <div class="card-body">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Büstiyer" name="category_title">
                                    <input type="hidden" value="Büstiyer" name="product_title">
                                    <button class="btn btn-success btn-block" name="sendTrendyol" type="submit">
                                        Büstiyer Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% elif category.title == 'Bluz-Body-Triko' %}
                <div class="row">
                    <div class="col-4">
                        <div class="card card-success">
                            <div class="card-header">
                                <h4>Bluz-Body-Triko</h4>
                            </div>
                            <div class="card-body">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Bluz" name="category_title">
                                    <input type="hidden" value="Bluz" name="product_title">
                                    <button class="btn btn-success btn-block" name="sendTrendyol" type="submit">
                                        Bluz Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h4>Bluz-Body-Triko</h4>
                            </div>
                            <div class="card-body">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Body" name="category_title">
                                    <input type="hidden" value="Body" name="product_title">
                                    <button class="btn btn-primary btn-block" name="sendTrendyol" type="submit">
                                        Body Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h4>Bluz-Body-Triko</h4>
                            </div>
                            <div class="card-body">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Triko" name="category_title">
                                    <input type="hidden" value="Triko" name="product_title">
                                    <button class="btn btn-primary btn-block" name="sendTrendyol" type="submit">
                                        Triko Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% elif category.title == 'Abiye' %}
                <div class="row">
                    <div class="col-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h4>Abiye</h4>
                            </div>
                            <div class="card-body">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Abiye & Mezuniyet Elbisesi"
                                           name="category_title">
                                    <input type="hidden" value="Abiye" name="product_title">
                                    <button class="btn btn-primary btn-block" name="sendTrendyol" type="submit">
                                        Abiye Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% elif category.title == 'Sütyen Takımları' %}
                <div class="row">
                    <div class="col-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h4>Sütyen Takımları</h4>
                            </div>
                            <div class="card-body">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Sütyen" name="category_title">
                                    <input type="hidden" value="Sütyen" name="product_title">
                                    <button class="btn btn-primary btn-block" name="sendTrendyol" type="submit">
                                        Sütyen Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% elif category.title == 'Kimono' %}
                <div class="row">
                    <div class="col-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h4>Kimono</h4>
                            </div>
                            <div class="card-body">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Kimono&Kaftan" name="category_title">
                                    <input type="hidden" value="Kimono" name="product_title">
                                    <button class="btn btn-primary btn-block" name="sendTrendyol" type="submit">
                                        Kimono Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% elif category.title == 'Yağmurluk' %}
                <div class="row">
                    <div class="col-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h4>Yağmurluk & Rüzgarlık</h4>
                            </div>
                            <div class="card-body">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Yağmurluk&Rüzgarlık" name="category_title">
                                    <input type="hidden" value="Yağmurluk" name="product_title">
                                    <button class="btn btn-primary btn-block" name="sendTrendyol" type="submit">
                                        Yağmurluk Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% elif category.title == 'Sweat' %}
                <div class="row">
                    <div class="col-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h4>Sweatshirt</h4>
                            </div>
                            <div class="card-body">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Sweatshirt" name="category_title">
                                    <input type="hidden" value="Sweat" name="product_title">
                                    <button class="btn btn-primary btn-block" name="sendTrendyol" type="submit">
                                        Sweatshirt Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% elif category.title == 'Kot Pantolon' or category.title == 'Pantolon' %}
                <div class="row">
                    <div class="col-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h4>Pantolon</h4>
                            </div>
                            <div class="card-body">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Pantolon" name="category_title">
                                    <input type="hidden" value="Pantolon" name="product_title">
                                    <button class="btn btn-primary btn-block" name="sendTrendyol" type="submit">
                                        Pantolon Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% elif category.title == 'Tişort' or category.title == 'Tişört' or category.title == 'T-Shirt' %}
                <div class="row">
                    <div class="col-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h4>T-Shirt</h4>
                            </div>
                            <div class="card-body">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="T-Shirt" name="category_title">
                                    <input type="hidden" value="Tişört" name="product_title">
                                    <button class="btn btn-primary btn-block" name="sendTrendyol" type="submit">
                                        T-Shirt Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h4>{{ category.title }}</h4>
                            </div>
                            <div class="card-body">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ category.title }}" name="category_title">
                                    <input type="hidden" value="{{ category.title }}" name="product_title">
                                    <button class="btn btn-primary btn-block" name="sendTrendyol" type="submit">
                                        {{ category.title }} Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block extra_script %}

{% endblock %}



