{% extends 'backend/yonetim/base.html' %}
{% load static %}

{% block title %}<title>Trendyol | Stok & Fiyat Güncelleme</title>{% endblock %}

{% block trendyol %}

    <section class="section">
        <div class="section-header">
            <h1>Stok & Fiyat Güncelleme</h1>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a href="{% url 'admin_mainpage' %}">Anasayfa</a></div>
                <div class="breadcrumb-item">Stok & Fiyat Güncelleme</div>
            </div>
        </div>

        <div class="section-body">
            <div class="row">
                <div class="col-6">
                    <div class="card card-success">
                        <div class="card-header">
                            <h4>Stok & Fiyat Güncelle</h4>
                        </div>
                        <div class="card-body">
                            <p>Trendyol stok ve fiyat güncelleme işlemi için aşağıda bulunan "Stok & Fiyat Güncelle" butonuna tıklayınız.</p>
                            <form action="" method="post">
                                {% csrf_token %}
                                <button type="submit" name="updateBtn" class="btn btn-block btn-success"
                                        id="updateBtn">
                                    Stok & Fiyat Güncelle
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>Log Kayıtları</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover text-nowrap">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Log Tipi</th>
                                        <th>Batch Request ID</th>
                                        <th>Oluşturulma Tarihi</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for r in log_records %}
                                        <tr>
                                            <td>{{ r.id }}</td>
                                            <td>{{ r.get_log_type_display }}</td>
                                            <td>{{ r.batch_id }}</td>
                                            <td>{{ r.create_at }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_script %}

{% endblock %}



