{% extends 'frontend/information/index.html' %}
{% load static %}

{% block title %}<title>Sıkça Sorulan Sorular</title>{% endblock %}

{% block information %}

    <div class="page-container faqs mt-5">

        <div class="page-section">
            <div class="page-margin">
                <div class="page-margin__content">
                    <div class="page-section__body">
                        <div class="row">
                            {% include 'frontend/information/sidebar.html' %}
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="popular-questions">
                                    <div class="page-section__header">
                                        <h2>
                                            Sıkça Sorulan Sorular
                                        </h2>
                                    </div>
                                    <div class="accordion">
                                        {% for s in faq %}
                                            <div class="accordion-item">
                                                <h2 class="accordion-header">
                                                    <button class="accordion-button collapsed" type="button"
                                                            data-bs-toggle="collapse" data-bs-target="#faq-1">
                                                    <span class="text">
                                                        <span class="emoji-inline">
                                                            <i class="fa fa-{{ s.icon }}"></i>

                                                        </span>
                                                        {{ s.question }}
                                                    </span>
                                                        <span class="icons">
                                                        <span class="plus">
                                                            <svg role="img" xmlns="https://www.w3.org/2000/svg"
                                                                 width="48px" height="48px" viewBox="0 0 24 24"
                                                                 stroke="#2329D6" stroke-width="1"
                                                                 stroke-linecap="square" stroke-linejoin="miter"
                                                                 fill="none" color="#2329D6">
                                                                <title>Plus</title>
                                                                <path d="M20 12L4 12M12 4L12 20"></path>
                                                            </svg>
                                                        </span>
                                                        <span class="minus">
                                                            <svg role="img" xmlns="https://www.w3.org/2000/svg"
                                                                 width="48px" height="48px" viewBox="0 0 24 24"
                                                                 stroke="#2329D6" stroke-width="1"
                                                                 stroke-linecap="square" stroke-linejoin="miter"
                                                                 fill="none" color="#2329D6">
                                                                <title>Minus</title>
                                                                <path d="M20,12 L4,12"></path>
                                                            </svg>
                                                        </span>
                                                    </span>
                                                    </button>
                                                </h2>
                                                <div id="faq-1" class="accordion-collapse collapse">
                                                    <div class="accordion-body">
                                                        {{ s.answer }}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12">
                                {% include 'frontend/information/live_chat.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}