{% extends 'frontend/information/index.html' %}
{% load static %}

{% block title %}<title>Gizlilik Politikası</title>{% endblock %}

{% block information %}

    <div class="page-container faqs mt-5">

        <div class="page-section">
            <div class="page-margin">
                <div class="page-margin__content">
                    <div class="page-section__body">
                        <div class="row">
                            {% include 'frontend/information/sidebar.html' %}
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="popular-questions">
                                    <div class="page-section__header">
                                        <h2>
                                            Gizlilik Politikası
                                        </h2>
                                    </div>
                                    <p>{{ contracts.security|safe }}</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12">
                                {% include 'frontend/information/live_chat.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}