<div class="col-lg-3 col-md-3 col-sm-12">
    <div class="question-categories">
        <div class="nav-menu">
            <div class="nav-menu__list">
                <a href="{% url 'faq' %}"
                   class="nav-menu__list-item {% if request.path == '/sikca-sorulan-sorular' %}active{% endif %}">
                                                <span class="icon">
                                                    <svg xmlns="https://www.w3.org/2000/svg" width="24" height="24"
                                                         viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                         stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                         class="feather feather-zap">
                                                        <polygon
                                                                points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon>
                                                    </svg>
                                                </span>
                    <span class="text">
                                                    Sıkça Sorulan Sorular
                                                </span>
                </a>
                <a href="faq.html" class="nav-menu__list-item">
                                                <span class="icon">
                                                    <svg xmlns="https://www.w3.org/2000/svg" width="24" height="24"
                                                         viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                         stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                         class="feather feather-shopping-cart">
                                                        <circle cx="9" cy="21" r="1"></circle>
                                                        <circle cx="20" cy="21" r="1"></circle>
                                                        <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                                                    </svg>
                                                </span>
                    <span class="text">
                                                    Checkout
                                                </span>
                </a>
                <a href="faq.html" class="nav-menu__list-item">
                                                <span class="icon">
                                                    <svg xmlns="https://www.w3.org/2000/svg" width="24" height="24"
                                                         viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                         stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                         class="feather feather-x-circle">
                                                        <circle cx="12" cy="12" r="10"></circle>
                                                        <line x1="15" y1="9" x2="9" y2="15"></line>
                                                        <line x1="9" y1="9" x2="15" y2="15"></line>
                                                    </svg>
                                                </span>
                    <span class="text">
                                                    Refund & Warranty
                                                </span>
                </a>
                <a href="faq.html" class="nav-menu__list-item">
                                                <span class="icon">
                                                    <svg xmlns="https://www.w3.org/2000/svg" width="24" height="24"
                                                         viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                         stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                         class="feather feather-shield">
                                                        <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                                                    </svg>
                                                </span>
                    <span class="text">
                                                    Security
                                                </span>
                </a>
                <a href="faq.html" class="nav-menu__list-item">
                                                <span class="icon">
                                                    <svg xmlns="https://www.w3.org/2000/svg" width="24" height="24"
                                                         viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                         stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                         class="feather feather-truck">
                                                        <rect x="1" y="3" width="15" height="13"></rect>
                                                        <polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon>
                                                        <circle cx="5.5" cy="18.5" r="2.5"></circle>
                                                        <circle cx="18.5" cy="18.5" r="2.5"></circle>
                                                    </svg>
                                                </span>
                    <span class="text">
                                                    Delivery
                                                </span>
                </a>
                <a href="faq.html" class="nav-menu__list-item border-btm">
                                                <span class="icon">
                                                    <svg xmlns="https://www.w3.org/2000/svg" width="24" height="24"
                                                         viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                         stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                         class="feather feather-user">
                                                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                                        <circle cx="12" cy="7" r="4"></circle>
                                                    </svg>
                                                </span>
                    <span class="text">
                                                    My account
                                                </span>
                </a>
                <a href="faq.html" class="nav-menu__list-item inactive">
                                                <span class="icon">
                                                    <svg xmlns="https://www.w3.org/2000/svg" width="24" height="24"
                                                         viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                         stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                         class="feather feather-info">
                                                        <circle cx="12" cy="12" r="10"></circle>
                                                        <line x1="12" y1="16" x2="12" y2="12"></line>
                                                        <line x1="12" y1="8" x2="12.01" y2="8"></line>
                                                    </svg>
                                                </span>
                    <span class="text">
                                                    Other F.A.Qs
                                                </span>
                </a>
                <a href="contact.html" class="nav-menu__list-item inactive">
                                                <span class="icon">
                                                    <svg xmlns="https://www.w3.org/2000/svg" width="24" height="24"
                                                         viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                         stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                         class="feather feather-headphones">
                                                        <path d="M3 18v-6a9 9 0 0 1 18 0v6"></path>
                                                        <path d="M21 19a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2h3zM3 19a2 2 0 0 0 2 2h1a2 2 0 0 0 2-2v-3a2 2 0 0 0-2-2H3z"></path>
                                                    </svg>
                                                </span>
                    <span class="text">
                                                    Contact us
                                                </span>
                </a>
            </div>
        </div>
    </div>
</div>