<div class="col-lg-3 col-md-3 col-sm-12">
    <div class="question-categories">
        <div class="nav-menu">
            <div class="nav-menu__list">
                <a href="{% url 'faq' %}"
                   class="nav-menu__list-item {% if request.path == '/sikca-sorulan-sorular' %}active{% endif %}">

                    <span class="text">
                                                    Sıkça Sorulan Sorular
                                                </span>
                </a>
                <a href="{% url 'delivery_conditional' %}" class="nav-menu__list-item {% if request.path == '/teslimat-kosullari' %}active{% endif %}">
                    <span class="text">
                                                    Teslimat Koşulları
                                                </span>
                </a>
                <a href="faq.html" class="nav-menu__list-item">
                    <span class="text">
                                                    Üyelik Sözleşmesi
                                                </span>
                </a>
                <a href="faq.html" class="nav-menu__list-item">
                    <span class="text">
                                                    Site Kullanım Şartları
                                                </span>
                </a>
                <a href="faq.html" class="nav-menu__list-item">
                    <span class="text">
                                                    Gizlilik Politikası
                                                </span>
                </a>
                <a href="faq.html" class="nav-menu__list-item">
                    <span class="text">
                                                    Çerezler
                                                </span>
                </a>
                <a href="faq.html" class="nav-menu__list-item">
                    <span class="text">
                                                    KVKK Aydınlatma Metni
                                                </span>
                </a>
            </div>
        </div>
    </div>
</div>