{% load static %}

<!-- push menu-->
<div class="pushmenu menu-home5">
    <div class="menu-push">
        <span class="close-left js-close"><i class="fa fa-xmark f-20"></i></span>
        <div class="clearfix"></div>
        <form role="search" method="get" id="searchform" class="searchform" action="{% url 'search' %}">
            <div>
                <label class="screen-reader-text" for="q"></label>
                <input type="text" placeholder="Keşfetmeye başla..." value="" name="q" id="q" autocomplete="off">
                <input type="hidden" name="type" value="product">
                <button type="submit" id="searchsubmit"><i class="fa fa-search"></i></button>
            </div>
        </form>
        <ul class="nav-home5 js-menubar">
            <li class="level1 active dropdown"><a href="#">Kategoriler</a>
                <span class="icon-sub-menu"></span>
                <div class="menu-level1 js-open-menu">
                    <ul class="level1">
                        <li class="level2"><a href="{% url 'new_product' %}">Yeni Ürünler</a></li>
                        <li class="level2"><a href="{% url 'most_sell_product' %}">En Çok Satılan</a></li>
                        {% for mc in subcategories %}
                            {% if mc.maincategory.id == 1 %}
                            <li class="level2">
                                <a href="{{ mc.get_url }}">{{ mc.title }}</a>
                                <ul class="menu-level-2">
                                    {% for sc in subbottomcategories %}
                                        {% if sc.subcategory.id == mc.id %}
                                            <li class="level3"><a href="{{ sc.get_url }}" title="">{{ sc.title }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </li>
            <li class="level1 active"><a href="{% url 'new_product' %}">Yeni Ürünler</a></li>
            <li class="level1 active"><a href="{% url 'most_sell_product' %}">En Çok Satılan</a></li>
            <li class="level1 active"><a href="#">Süper Fırsatlar</a></li>
            <li class="level1 active"><a href="#">Blog</a></li>
        </ul>
    </div>
</div>
<!-- end push menu-->
