{% load static %}
<div class="container container-240">
    <div class="accessoriesWear">
        <div class="ecome-heading style5v3 spc4">
            <div class="title-icon t-inline t-line">
                <h1>Aksesuarlar</h1>
            </div>
        </div>

        <div class="accessories_skeleton">
            <div class="row">
                <div class="col-lg-3">
                    <div class="product-item">
                        <div class="pd-bd product-inner">
                            <div class="product-img"
                                 style="display: flex; justify-content: center; align-items: center">
                                <span class="skeleton-box" style="height: 200px;width: 75%;"></span>
                            </div>
                            <div class="product-info">
                                <div class="color-group">
                                </div>
                                <div class="element-list element-list-left">
                                </div>
                                <div class="element-list element-list-middle">
                                    <p class="product-cate"><span class="skeleton-box" style="width: 40px;"></span></p>
                                    <h3 class="product-title"><span class="skeleton-box" style="width: 120px;"></span>
                                    </h3>
                                    <div class="product-bottom">
                                        <div class="product-price">
                                            <span class="skeleton-box" style="width: 40px;"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-button-group"
                                     style="display: flex; justify-content: center;align-items: center;">
                                    <span class="skeleton-box" style="width: 100px;height: 30px;"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="product-item">
                        <div class="pd-bd product-inner">
                            <div class="product-img"
                                 style="display: flex; justify-content: center; align-items: center">
                                <span class="skeleton-box" style="height: 200px;width: 75%;"></span>
                            </div>
                            <div class="product-info">
                                <div class="color-group">
                                </div>
                                <div class="element-list element-list-left">
                                </div>
                                <div class="element-list element-list-middle">
                                    <p class="product-cate"><span class="skeleton-box" style="width: 40px;"></span></p>
                                    <h3 class="product-title"><span class="skeleton-box" style="width: 120px;"></span>
                                    </h3>
                                    <div class="product-bottom">
                                        <div class="product-price">
                                            <span class="skeleton-box" style="width: 40px;"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-button-group"
                                     style="display: flex; justify-content: center;align-items: center;">
                                    <span class="skeleton-box" style="width: 100px;height: 30px;"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="product-item">
                        <div class="pd-bd product-inner">
                            <div class="product-img"
                                 style="display: flex; justify-content: center; align-items: center">
                                <span class="skeleton-box" style="height: 200px;width: 75%;"></span>
                            </div>
                            <div class="product-info">
                                <div class="color-group">
                                </div>
                                <div class="element-list element-list-left">
                                </div>
                                <div class="element-list element-list-middle">
                                    <p class="product-cate"><span class="skeleton-box" style="width: 40px;"></span></p>
                                    <h3 class="product-title"><span class="skeleton-box" style="width: 120px;"></span>
                                    </h3>
                                    <div class="product-bottom">
                                        <div class="product-price">
                                            <span class="skeleton-box" style="width: 40px;"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-button-group"
                                     style="display: flex; justify-content: center;align-items: center;">
                                    <span class="skeleton-box" style="width: 100px;height: 30px;"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="product-item">
                        <div class="pd-bd product-inner">
                            <div class="product-img"
                                 style="display: flex; justify-content: center; align-items: center">
                                <span class="skeleton-box" style="height: 200px;width: 75%;"></span>
                            </div>
                            <div class="product-info">
                                <div class="color-group">
                                </div>
                                <div class="element-list element-list-left">
                                </div>
                                <div class="element-list element-list-middle">
                                    <p class="product-cate"><span class="skeleton-box" style="width: 40px;"></span></p>
                                    <h3 class="product-title"><span class="skeleton-box" style="width: 120px;"></span>
                                    </h3>
                                    <div class="product-bottom">
                                        <div class="product-price">
                                            <span class="skeleton-box" style="width: 40px;"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-button-group"
                                     style="display: flex; justify-content: center;align-items: center;">
                                    <span class="skeleton-box" style="width: 100px;height: 30px;"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="owl-carousel owl-theme js-owl-product-accessories">

        </div>

    </div>
</div>