{% extends 'backend/adminpage/layout.html' %}
{% load static %}

{% block title %}<title>Slider</title>{% endblock %}

{% block category %}
    <link rel="stylesheet" href="{% static 'adminpage/css/category.css' %}">

    <div class="waiting">
        <div class="spinner-border text-danger" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <h4>Lütfen Bekleyiniz...</h4>
    </div>

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Sliderlar</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'mainpage' %}">Anasayfa</a></li>
                        <li class="breadcrumb-item active">Slider</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"><b>Slider Ekle</b></h3>
                        </div>
                        <div class="card-body">
                            <form action="" method="post">
                                {% csrf_token %}
                                {{ form.media }}
                                {% for field in form %}

                                    <div class="form-group col-12">
                                        <label>{{ field.label }}</label>
                                        {% if field.field.required %}
                                            <span style="color: red;" class="required">*</span>
                                        {% endif %}

                                        {{ field }}
                                        {% if field.help_text %}
                                            <small style="color: grey">{{ field.help_text }}</small>
                                        {% endif %}
                                        {% for error in field.errors %}
                                            <p style="color: red">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                                <button type="submit" class="btn btn-primary btn-block" name="addBtn">Ekle</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"><b>Tüm Sliderlar</b></h3>
                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" onkeyup="searchFunction();" id="search"
                                           class="form-control float-right"
                                           placeholder="Arama">

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0"
                             style="min-height: 500px;height: auto;max-height: 750px;">
                            <table class="table table-head-fixed text-nowrap" id="sliderTable">
                                <thead>
                                <tr>
                                    <th class="select-row" style="text-align: start; vertical-align: middle"></th>
                                    <th style="text-align: start; vertical-align: middle">ID</th>
                                    <th style="text-align: start; vertical-align: middle">Resim</th>
                                    <th style="text-align: start; vertical-align: middle">Başlık</th>
                                    <th style="text-align: start; vertical-align: middle">Type</th>
                                    <th style="text-align: start; vertical-align: middle">Yayında Mı?</th>
                                    <th style="text-align: start; vertical-align: middle">Oluşturulma Tarihi</th>
                                    <th style="text-align: start; vertical-align: middle">İşlemler</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for s in sliders %}
                                    <tr>
                                        <td class="select-row" style="text-align: start; vertical-align: middle">
                                            <input type="checkbox" name="select_slider" value="{{ s.id }}"
                                                   data-filter="slider" class="select-checkbox">
                                        </td>
                                        <td style="text-align: start; vertical-align: middle">{{ s.id }}</td>
                                        <td style="text-align: start; vertical-align: middle"><img
                                                src="{{ s.get_image }}" alt="" style="height: 75px; width: 75px;"></td>
                                        <td style="text-align: start; vertical-align: middle"><b>{{ s.title }}</b>
                                        </td>
                                        <td style="text-align: start; vertical-align: middle">{{ s.type }}</td>
                                        <td style="text-align: start; vertical-align: middle">{% if s.is_publish %}
                                            Evet{% else %}Hayır{% endif %}</td>
                                        <td style="text-align: start; vertical-align: middle">{{ s.created_at }}
                                        </td>
                                        <td style="text-align: start; vertical-align: middle; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                            <a href="{% url 'admin_slider_detail' s.id %}"
                                               class="btn btn-block btn-sm btn-success">Düzenle</a>
                                            <button type="button" class="btn btn-block btn-sm btn-default bg-danger"
                                                    data-toggle="modal"
                                                    data-target="#model-delete-{{ s.id }}">
                                                Sil
                                            </button>
                                            <div class="modal fade" id="model-delete-{{ s.id }}">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Silmek istediğinize emin
                                                                misiniz?</h4>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h5 class="text-bold">Silinecek Slider:</h5>
                                                            <p>{{ s.title }}</p>
                                                        </div>
                                                        <div class="modal-footer justify-content-between">
                                                            <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">
                                                                Kapat
                                                            </button>
                                                            <a href="{% url 'admin_slider_delete' s.id %}"
                                                               class="btn btn-danger">Sil</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="{% if s.is_publish %}{% url 'admin_slider_not_publish' s.id %}{% else %}{% url 'admin_slider_publish' s.id %}{% endif %}" class="btn btn-block btn-sm btn-primary mt-2">{% if s.is_publish %}Yayından Kaldır{% else %}Yayına Al{% endif %}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <span id="no-data"></span>
                        </div>
                        <div class="card-footer">
                            <nav aria-label="pagination" class="pagination_area">
                                <div class="row">
                                    {% if sliders.end_index > 0 %}
                                        <div class="col-sm-12 col-md-5 d-none d-md-block">
                                            <p>Showing {{ sliders.start_index }} to {{ sliders.end_index }}
                                                of {{ sliders.paginator.count }}.</p>
                                        </div>
                                    {% endif %}
                                    {% if sliders.paginator.num_pages > 1 %}
                                        <div class="col-sm-12 col-md-7 dataTables_pager">
                                            <ul class="pagination" style="float: right;">
                                                {% if sliders.has_previous %}

                                                    <li class="page-item">
                                                        <a class="page-link" data-page="1"
                                                           href="?page={{ sliders.previous_page_number }}">
                                                            <i class="fa fa-angle-double-left"></i>
                                                        </a>
                                                    </li>
                                                    {% if sliders.previous_page_number > 1 %}
                                                        <li class="page-item">
                                                            <a class="page-link "
                                                               data-page="{{ sliders.previous_page_number }}"
                                                               href="?page={{ sliders.previous_page_number }}">
                                                                <i class="fa fa-angle-left"></i>
                                                            </a>
                                                        </li>
                                                    {% endif %}

                                                {% endif %}

                                                {% if sliders.previous_page_number > 2 %}
                                                    <li class="page-item">
                                                        <a class="page-link " data-page="{{ sliders.number|add:'-2' }}"
                                                           href="?page={{ sliders.number|add:'-2' }}"> {{ sliders.number|add:"-2" }} </a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link " data-page="{{ sliders.number|add:'-1' }}"
                                                           href="?page={{ sliders.number|add:'-1' }}"> {{ sliders.number|add:"-1" }} </a>
                                                    </li>
                                                {% endif %}

                                                <li class="page-item active"><span
                                                        class="page-link ">{{ sliders.number }}</span></li>

                                                {% if sliders.paginator.num_pages > sliders.number|add:"2" %}
                                                    <li class="page-item">
                                                        <a class="page-link " data-page="{{ sliders.number|add:'1' }}"
                                                           href="?page={{ sliders.number|add:'1' }}"> {{ sliders.number|add:"1" }} </a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link " data-page="{{ sliders.number|add:'2' }}"
                                                           href="?page={{ sliders.number|add:'2' }}"> {{ sliders.number|add:"2" }} </a>
                                                    </li>
                                                {% endif %}

                                                {% if sliders.has_next %}
                                                    <li class="page-item">
                                                        <a class="page-link "
                                                           data-page="{{ sliders.next_page_number }}"
                                                           href="?page={{ sliders.next_page_number }}">
                                                            <i class="fa fa-angle-right"></i>
                                                        </a>
                                                    </li>

                                                    <li class="page-item">
                                                        <a class="page-link "
                                                           data-page="{{ sliders.paginator.num_pages }}"
                                                           href="?page={{ sliders.paginator.num_pages }}">
                                                            <i class="fa fa-angle-double-right"></i>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <a href="" class="btn btn-success">Excel İndir</a>
                            <a href="" class="btn btn-primary">PDF İndir <span
                                    class="right badge badge-danger">Test</span></a>
                            <button class="btn btn-warning" id="selectRow">Seç</button>
                            <button class="btn btn-warning" id="deleteRow" data-toggle="modal"
                                    data-target="#modal-select-delete">Seçilileri Sil
                            </button>
                            <button class="btn btn-default" id="cancelRow">İptal Et</button>
                            <button class="btn btn-danger" data-toggle="modal"
                                    data-target="#modal-all-delete">Tümünü Sil
                            </button>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="modal-all-delete">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Emin misin?</h4>
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Tümünü silmek istediğine emin misin?
                                *Tüm alt kategorilerde silinecektir.
                            </div>
                            <div class="modal-footer justify-content-between">
                                <a href="{% url 'admin_slider_delete_all' %}" class="btn btn-danger"
                                   data-dismiss="modal">
                                    Sil
                                </a>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <div class="modal fade" id="modal-select-delete">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Emin misin?</h4>
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Seçili sliderlar silinecektir.</p>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button id="deleteNow" class="btn btn-danger"
                                        data-dismiss="modal">
                                    Sil
                                </button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
            </div>

        </div>
    </section>

    <script>
        function searchFunction() {
            let input, filter, table, tr, td, j;
            input = document.getElementById("search");
            filter = input.value.toLowerCase();
            table = document.getElementById("sliderTable");
            tr = table.getElementsByTagName("tr");

            for (j = 0; j < tr.length; j++) {
                td = tr[j].getElementsByTagName("td");
                msg = document.getElementById("no-data");

                if (td.length > 0) {
                    if (td[0].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[1].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[2].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[3].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[4].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[5].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[6].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[7].innerHTML.toLocaleLowerCase().indexOf(filter) > -1) {
                        tr[j].style.display = ""
                        msg.innerHTML = ""
                    } else {
                        tr[j].style.display = "none"
                    }
                }

                if (td.length == 0) {
                    msg.innerHTML = "Aramanızla eşleşen kayıt bulunamadı."
                }

            }
        }

        $(document).ready(function () {
            $(".waiting").hide()
            $("#deleteRow").hide();
            $("#cancelRow").hide()
            $("#selectRow").on('click', function () {
                $("#cancelRow").show()
                $(".select-row").css('display', 'block')
                $("#selectRow").hide()
                $("#deleteRow").show();
                $("#cancelRow").on('click', function () {
                    $("#selectRow").show();
                    $("#cancelRow").hide();
                    $("#deleteRow").hide();
                    $(".select-row").css('display', 'none')
                })
            })
        });

        $("#deleteRow").on('click', function () {
            var _filterObj = {};
            $(".select-checkbox").each(function (index, ele) {
                var _filterVal = $(this).val();
                var _filterKey = $(this).data('filter');
                _filterObj[_filterKey] = Array.from(document.querySelectorAll('input[data-filter=' + _filterKey + ']:checked')).map(function (el) {
                    return el.value;
                });
            });
            $("#deleteNow").on('click', function () {
                console.log(_filterObj)
                $.ajax({
                    url: `/yonetim/sliders/secili-slider-sil/`,
                    data: _filterObj,
                    dataType: 'json',
                    beforeSend: function () {
                        $(".waiting").show()
                    },
                    success: function (data) {
                        $(".waiting").hide()
                        location.reload();
                    }
                });
            });
        })


    </script>


{% endblock %}