{% extends 'backend/adminpage/layout.html' %}
{% load static %}

{% block title %}<title>Hepsiburada Hesap Yönetimi - Ürün Girişi</title>{% endblock %}

{% block hepsiburada %}

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Hepsiburada Hesap Yönetimi - Ürün Girişi</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'mainpage' %}">Anasayfa</a></li>
                        <li class="breadcrumb-item active">Ürün Girişi</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-6">
                    <div class="info-box bg-info">
                        <div class="info-box-content">
                            <a href="" class="info-box-text text-white">Aksesuar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6">
                    <div class="info-box bg-warning">
                        <div class="info-box-content">
                            <a href="" class="info-box-text text-white">Ayakkabı</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6">
                    <div class="info-box bg-danger">
                        <div class="info-box-content">
                            <a href="{% url 'hepsiburada_add_product_giyim' %}" class="info-box-text text-white">Giyim</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6">
                    <div class="info-box bg-dark">
                        <div class="info-box-content">
                            <a href="" class="info-box-text text-white">Kozmetik & Kişisel Bakım</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6">
                    <div class="info-box bg-primary">
                        <div class="info-box-content">
                            <a href="" class="info-box-text text-white">Spor & OutDoor</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6">
                    <div class="info-box bg-light">
                        <div class="info-box-content">
                            <a href="" class="info-box-text text-black-50 font-weight-bold">Ev & Mobilya</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6">
                    <div class="info-box bg-purple">
                        <div class="info-box-content">
                            <a href="" class="info-box-text text-white">Kırtasiye & Ofis Malzemeleri</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-3 col-sm-4 col-6">
                    <div class="info-box bg-cyan">
                        <div class="info-box-content">
                            <a href="" class="info-box-text text-white">Bahçe ve Yapı Market</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}