{% extends 'backend/adminpage/layout.html' %}
{% load static %}

{% block title %}<title>Bildirimler</title>{% endblock %}

{% block notification %}
    <link rel="stylesheet" href="{% static 'adminpage/css/category.css' %}">

    <div class="waiting">
        <div class="spinner-border text-danger" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <h4>Lütfen Bekleyiniz...</h4>
    </div>

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Bildirimler</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'mainpage' %}">Anasayfa</a></li>
                        <li class="breadcrumb-item active">Bildirimler</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">Okumamış Bildirim ({{ navbar_notify_count }})</h3>
                            <div class="card-tools">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" id="search" onkeyup="searchFunction();"
                                           placeholder="Bildirim Arama">
                                    <div class="input-group-append">
                                        <div class="btn btn-primary">
                                            <i class="fas fa-search"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-body p-0">
                            <div class="mailbox-controls">

                                <button type="button" id="allCheckbox"
                                        class="btn btn-default btn-sm checkbox-toggle"><i
                                        class="fa-regular fa-square"></i>
                                </button>
                                <div class="btn-group">
                                    <button type="button" id="deleteBtn" class="btn btn-default btn-sm">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </div>

                                <button type="button" onclick="location.reload();" class="btn btn-default btn-sm">
                                    <i class="fas fa-sync-alt"></i>
                                </button>
                            </div>
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover table-striped" id="notifyTable">
                                    <tbody>
                                    {% for n in notifies %}
                                        <tr>
                                            <td colspan="1"
                                                style="{% if n.is_read == False %}border-left: 3px solid red;{% endif %}">
                                                <div class="icheck-primary">
                                                    <input type="checkbox" class="select-checkbox"
                                                           name="select-checkbox" data-filter="select-notify"
                                                           value="{{ n.id }}"
                                                           id="check{{ n.id }}">
                                                    <label for="check{{ n.id }}"></label>
                                                </div>
                                            </td>
                                            <td colspan="5" class="mailbox-subject"><a
                                                    class="{% if n.is_read == False %}text-danger font-weight-bold{% else %}text-dark{% endif %}"
                                                    href="{% url 'read_notification' n.id %}">{{ n.title }}</a>
                                            </td>
                                            <td colspan="1" class="mailbox-date"
                                                style="float: right">{{ n.created_at }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <span id="no-data"></span>
                            </div>
                        </div>

                        <div class="card-footer p-0">
                            <div class="mailbox-controls">
                                <div class="float-right">
                                    {{ notifies.number }} / {{ notifies.paginator.num_pages }}
                                    <div class="btn-group">
                                        {% if notifies.has_previous %}
                                            <a href="?page={{ notifies.previous_page_number }}"
                                               class="btn btn-default btn-sm">
                                                <i class="fas fa-chevron-left"></i>
                                            </a>
                                        {% endif %}
                                        {% if notifies.has_next %}
                                            <a href="?page={{ notifies.next_page_number }}"
                                               class="btn btn-default btn-sm">
                                                <i class="fas fa-chevron-right"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                                    <!-- /.btn-group -->
                                </div>
                                <!-- /.float-right -->
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>

    <script>

        function searchFunction() {
            let input, filter, table, tr, td, j;
            input = document.getElementById("search");
            filter = input.value.toLowerCase();
            table = document.getElementById("notifyTable");
            tr = table.getElementsByTagName("tr");

            for (j = 0; j < tr.length; j++) {
                td = tr[j].getElementsByTagName("td");
                msg = document.getElementById("no-data");

                if (td.length > 0) {
                    if (td[0].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[1].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[2].innerHTML.toLocaleLowerCase().indexOf(filter) > -1) {
                        tr[j].style.display = ""
                        msg.innerHTML = ""
                    } else {
                        tr[j].style.display = "none"
                    }
                }

                if (td.length == 0) {
                    msg.innerHTML = "Aramanızla eşleşen kayıt bulunamadı."
                }

            }
        }

        var clicked = false;
        $("#allCheckbox").on("click", function () {
            $(".select-checkbox").prop("checked", !clicked);
            clicked = !clicked;
            this.innerHTML = clicked ? `<i class="fa-regular fa-square-check"></i>` : `<i class="fa-regular fa-square"></i>`;
        });

        $(".waiting").hide()

        $('#deleteBtn').on('click', function () {
            var _filterObj = {};
            $(".select-checkbox").each(function (index, ele) {
                var _filterVal = $(this).val();
                var _filterKey = $(this).data('filter');
                _filterObj[_filterKey] = Array.from(document.querySelectorAll('input[data-filter=' + _filterKey + ']:checked')).map(function (el) {
                    return el.value;
                });
            });
            $("#deleteBtn").on('click', function () {
                $.ajax({
                    url: `/yonetim/bildirimler/secili-sil/`,
                    data: _filterObj,
                    dataType: 'json',
                    beforeSend: function () {
                        $(".waiting").show()
                    },
                    success: function (data) {
                        $(".waiting").hide()
                        location.reload();
                    }
                });
            });
        })

    </script>
{% endblock %}