{% extends 'backend/adminpage/layout.html' %}
{% load static %}

{% block title %}<title>{{ notify.title }}</title>{% endblock %}

{% block notification %}

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <a href="{% url 'notification' %}" style="background: none; outline: none; border: none; font-size: 2rem;"><i
                            class="fa-solid fa-circle-arrow-left"></i></a>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'mainpage' %}">Anasayfa</a></li>
                        <li class="breadcrumb-item active">{{ notify.title }}</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">{{ notify.title }}</h3>
                            <span class="mailbox-read-time float-right">{{ notify.created_at }}</span>
                        </div>
                        <div class="card-body p-0">

                            <div class="mailbox-read-message">
                                {{ notify.detail }}
                            </div>
                        </div>

                        <div class="card-footer">
                            <a href="{% url 'sil_notification' notify.id %}" class="btn btn-danger"><i class="far fa-trash-alt"></i> Sil
                            </a>
                            <button type="button" class="btn btn-primary"><i class="fas fa-print"></i> Yazdır</button>
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>


{% endblock %}