{% extends 'backend/adminpage/layout.html' %}
{% load static %}

{% block title %}<title>Yapılan Harcamalar</title>{% endblock %}

{% block finans %}
    <link rel="stylesheet" href="{% static 'adminpage/css/category.css' %}">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.default.min.css"
            integrity="sha512-pTaEn+6gF1IeWv3W1+7X7eM60TFu/agjgoHmYhAfLEU8Phuf6JKiiE8YmsNC0aCgQv4192s4Vai8YZ6VNM6vyQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <style>
        .errorlist {
            display: none;
        }
    </style>

    <div class="waiting">
        <div class="spinner-border text-danger" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <h4>Lütfen Bekleyiniz...</h4>
    </div>

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Yapılan Harcamalar</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'mainpage' %}">Anasayfa</a></li>
                        <li class="breadcrumb-item active">Yapılan Harcamalar</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"><b>Harcama Ekle</b></h3>
                        </div>
                        <div class="card-body">
                            <form action="" method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-primary btn-block" name="addBtn">Ekle</button>
                            </form>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"><b>Analizler</b></h3>
                        </div>
                        <div class="card-body">
                            <button class="btn btn-default btn-block" disabled>Toplam Harcama Sayısı: {{ harcama_sayisi }} </button>
                            <button class="btn btn-default btn-block" disabled>Toplam Harcama Tutarı: {{ total_harcama|floatformat:2 }} TL</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"><b>Filtreleme</b></h3>
                        </div>
                        <div class="card-body">
                            <form action="" method="get">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-12 mb-2">
                                        <select id="select-tip" name="tip"
                                                class="demo-default filter-checkbox"
                                                placeholder="Harcama Tipi Seçiniz...">
                                            <option value="">Harcama Tipi Seçiniz...</option>
                                            <option value="None">Hepsi</option>
                                            <option value="Ürün Alımı">Ürün Alımı</option>
                                            <option value="KDV Ödemesi">KDV Ödemesi</option>
                                            <option value="Gelir Geçici Vergi Ödemesi">Gelir Geçici Vergi Ödemesi
                                            </option>
                                            <option value="Diğer Harcamalar">Diğer Harcamalar</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 mb-2">
                                        <select id="select-status" name="status"
                                                class="demo-default filter-checkbox"
                                                placeholder="Ödeme Durumu Seçiniz...">
                                            <option value="">Ödeme Durumu Seçiniz...</option>
                                            <option value="None">Hepsi</option>
                                            <option value="Ödeme Yapıldı">Ödeme Yapıldı</option>
                                            <option value="İptal Edildi">İptal Edildi</option>
                                            <option value="İade Yapıldı">İade Yapıldı</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="row mb-2">
                                    <div class="col-lg-12">
                                        <input type="text" name="harcama_adi" id="harcama_adi"
                                               class="form-control float-right filter-checkbox"
                                               placeholder="Harcama Adı" value="{% if harcama_adi %}{{ harcama_adi }}{% endif %}">
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-lg-6 col-sm-6">
                                        <input type="number" name="yil" id="yil"
                                               class="form-control float-right filter-checkbox"
                                               placeholder="Harcama Yılı" {% if yil %}{{ yil }}{% endif %}>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <input type="number" name="ay" id="ay"
                                               class="form-control float-right filter-checkbox"
                                               placeholder="Harcama Ayı" {% if ay %}{{ ay }}{% endif %}>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success btn-block" name="filterBtn">Sorgula
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" onkeyup="searchFunction();" id="search"
                                           class="form-control float-right"
                                           placeholder="Arama">

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0"
                             style="min-height: 500px;height: auto;max-height: 750px;">
                            <table class="table table-head-fixed text-nowrap" id="harcamalarTable">
                                <thead>
                                <tr>
                                    <th class="select-row" style="text-align: start; vertical-align: middle">&nbsp;</th>
                                    <th style="text-align: start; vertical-align: middle">Harcama Tipi</th>
                                    <th style="text-align: start; vertical-align: middle">Harcama Adı</th>
                                    <th style="text-align: start; vertical-align: middle">Harcama Tutarı</th>
                                    <th style="text-align: start; vertical-align: middle">Harcama Tarihi</th>
                                    <th style="text-align: start; vertical-align: middle">İşlemler</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for h in harcamalar %}
                                    <tr>
                                        <td class="select-row"
                                            style="text-align: start; vertical-align: middle; border: 0;">
                                            <input type="checkbox" name="harcama_secimi" value="{{ h.id }}"
                                                   data-filter="harcama" class="select-checkbox">
                                        </td>
                                        <td style="text-align: start; vertical-align: middle">{{ h.harcama_tipi }}</td>
                                        <td style="text-align: start; vertical-align: middle">{{ h.harcama_adi }}</td>
                                        <td style="text-align: start; vertical-align: middle">{{ h.harcama_tutari|floatformat:2 }}</td>
                                        <td style="text-align: start; vertical-align: middle">{{ h.created_at }}</td>
                                        <td style="text-align: start; vertical-align: middle">
                                            <a href="{% url 'harcama_detay' h.id %}"
                                               class="btn btn-block btn-sm btn-primary">Gör</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <span id="no-data"></span>
                        </div>
                        <div class="card-footer p-0">
                            <div class="mailbox-controls">
                                <div class="float-right">
                                    {{ harcamalar.number }} / {{ harcamalar.paginator.num_pages }}
                                    <div class="btn-group">
                                        {% if harcamalar.has_previous %}
                                            <a href="{{ query }}&page={{ harcamalar.previous_page_number }}"
                                               class="btn btn-default btn-sm">
                                                <i class="fas fa-chevron-left"></i>
                                            </a>
                                        {% endif %}
                                        {% if harcamalar.has_next %}
                                            <a href="{{ query }}&page={{ harcamalar.next_page_number }}"
                                               class="btn btn-default btn-sm">
                                                <i class="fas fa-chevron-right"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <a href="{% url 'harcamalar_export_excel' %}" class="btn btn-success">Excel İndir</a>
                            <a href="{% url 'harcamalar_export_pdf' %}" class="btn btn-primary">PDF İndir <span
                                    class="right badge badge-danger">Test</span></a>
                            <button class="btn btn-warning" id="selectRow">Seç</button>
                            <button class="btn btn-warning" id="deleteRow" data-toggle="modal" data-bs-toggle="modal"
                                    data-bs-target="#modal-select-delete">Seçilileri Sil
                            </button>
                            <button class="btn btn-default" id="cancelRow">İptal Et</button>
                            <button class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#modal-all-delete">Tümünü Sil
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="modal fade" id="modal-all-delete">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Emin misin?</h4>
                                <button type="button" class="close" data-bs-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Tümünü silmek istediğine emin misin?
                            </div>
                            <div class="modal-footer justify-content-between">
                                <a href="{% url 'harcamalar_hepsini_sil' %}" class="btn btn-danger"
                                   data-dismiss="modal">
                                    Sil
                                </a>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <div class="modal fade" id="modal-select-delete">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Emin misin?</h4>
                                <button type="button" class="close" data-bs-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Seçili harcamalar silinecektir.</p>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button id="deleteNow" class="btn btn-danger"
                                        data-dismiss="modal">
                                    Sil
                                </button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
            </div>

        </div>


    </section>

    <script>
        function searchFunction() {
            let input, filter, table, tr, td, j;
            input = document.getElementById("search");
            filter = input.value.toLowerCase();
            table = document.getElementById("categoryTable");
            tr = table.getElementsByTagName("tr");

            for (j = 0; j < tr.length; j++) {
                td = tr[j].getElementsByTagName("td");
                msg = document.getElementById("no-data");

                if (td.length > 0) {
                    if (td[0].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[1].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[2].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[3].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[4].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[5].innerHTML.toLocaleLowerCase().indexOf(filter) > -1) {
                        tr[j].style.display = ""
                        msg.innerHTML = ""
                    } else {
                        tr[j].style.display = "none"
                    }
                }

                if (td.length == 0) {
                    msg.innerHTML = "Aramanızla eşleşen kayıt bulunamadı."
                }

            }
        }

        $(document).ready(function () {
            $(".waiting").hide()
            $("#deleteRow").hide();
            $("#cancelRow").hide()
            $("#selectRow").on('click', function () {
                $("#cancelRow").show()
                $(".select-row").css('display', 'block')
                $("#selectRow").hide()
                $("#deleteRow").show();
                $("#cancelRow").on('click', function () {
                    $("#selectRow").show();
                    $("#cancelRow").hide();
                    $("#deleteRow").hide();
                    $(".select-row").css('display', 'none')
                })
            })
        });

        $("#deleteRow").on('click', function () {
            var _filterObj = {};
            $(".select-checkbox").each(function (index, ele) {
                var _filterVal = $(this).val();
                var _filterKey = $(this).data('filter');
                _filterObj[_filterKey] = Array.from(document.querySelectorAll('input[data-filter=' + _filterKey + ']:checked')).map(function (el) {
                    return el.value;
                });
            });

            console.log(_filterObj)

            $("#deleteNow").on('click', function () {
                console.log(_filterObj)
                $.ajax({
                    url: `/yonetim/harcamalar/secili-harcama-sil/`,
                    data: _filterObj,
                    dataType: 'json',
                    beforeSend: function () {
                        $(".waiting").show()
                    },
                    success: function (data) {
                        $(".waiting").hide()
                        location.reload();
                    }
                });
            });
        })


    </script>

    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js"
            integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    ></script>

    <script>
        $('#select-tip').selectize({sortField: ''})
        $('#select-status').selectize({sortField: ''})
    </script>


{% endblock %}