{% extends 'backend/adminpage/layout.html' %}
{% load static %}

{% block title %}<title>Haydi Giy/Modaymış Ürün Yönetimi</title>{% endblock %}

{% block tahtakale %}


    {% include 'backend/adminpage/partials/__loadData.html' %}

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Haydi Giy/Modaymış Ürün Yönetimi</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'mainpage' %}">Anasayfa</a></li>
                        <li class="breadcrumb-item active">Haydi Giy/Modaymış Ürün Yönetimi</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-12 col-12">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner" style="height: 100px;">
                            <h3>Aktif Olmayanları Bul</h3>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="{% url 'haydigiy_find_not_active_product' %}" id="notActiveHaydiGiyBtn" class="small-box-footer">Aktif Olmayanları Bul<i
                                    class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>

        var notActiveBtn = document.getElementById("notActiveHaydiGiyBtn");
        var dataloader = document.getElementById("dataloader");
        //console.log(btn);
        setInterval(function () {
            notActiveBtn.click();
        }, 1000 * 60 * 45);


        notActiveBtn.addEventListener("click", function () {
            dataloader.style.display = "flex";
            window.addEventListener("load", function () {
                dataloader.style.display = "none";
            })
        })

    </script>

{% endblock %}