{% extends 'backend/adminpage/layout.html' %}
{% load static %}

{% block title %}<title>Sipariş Numarası {{ extradition.order.order_number }}</title>{% endblock %}

{% block orders %}
    <style>
        .errorlist{
            display: none;
        }
    </style>

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Sipariş Numarası {{ extradition.order.order_number }}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'mainpage' %}">Anasayfa</a></li>
                        <li class="breadcrumb-item active">Sipariş Numarası {{ extradition.order.order_number }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body p-0">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <td>Sipariş Numarası</td>
                                    <td style="float: right;">{{ extradition.order.order_number }}</td>
                                </tr>
                                <tr>
                                    <td>Müşteri</td>
                                    <td style="float: right;"><a
                                            href="{% url 'kullanici_goruntule' extradition.user.id %}">{{ extradition.user.get_full_name }}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>İade Nedeni</td>
                                    <td style="float: right;">{{ extradition.extradition_type }}</td>
                                </tr>
                                <tr>
                                    <td>Açıklama</td>
                                    <td style="float: right;">{{ extradition.description }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th style="width: 10px">Ürün ID</th>
                                    <th>Miktar</th>
                                    <th>Ürün Görseli</th>
                                    <th>Ürün Adı</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ extradition.product.id }}</td>
                                        <td>
                                            {% for op in orderproduct %}
                                                {% if op.product.id == extradition.product.id %}
                                                    {{ op.quantity }}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            <img src="{{ extradition.product.image_url1 }}" alt="" style="height: 150px; width:150px;">
                                        </td>
                                        <td>{{ extradition.product.title }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <form action="" method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button class="btn btn-primary" type="submit">Talep Güncelle</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}