{% extends 'backend/adminpage/layout.html' %}
{% load static %}

{% block title %}<title>TredyShop Yönetim Paneli</title>{% endblock %}

{% block mainpage %}


    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Anasayfa</h1>
                </div>
            </div>
        </div>
    </div>


    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h4>{{ product_count }}</h4>
                            <p>Toplam Ürün Sayısı</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="{% url 'admin_product' %}" class="small-box-footer">Ürünleri Gör <i
                                class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h4>{{ user_count }}</h4>
                            <p>Kullanıcı Sayısı</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="{% url 'kullanicilar' %}" class="small-box-footer">Kullanıcıları Gör <i
                                class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h4>{{ order_count }}</h4>

                            <p>Sipariş Sayısı</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-ios-box"></i>
                        </div>
                        <a href="#" class="small-box-footer">Siparişleri Gör <i
                                class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h4>{{ total_cash|floatformat:2 }}</h4>
                            <p>Satış Tutarı</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-cash"></i>
                        </div>
                        <a href="#" class="small-box-footer">Detayları Gör <i
                                class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header border-transparent">
                            <h3 class="card-title">Son Siparişler</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <div class="table-responsive" style="height: 400px;">
                                <table class="table m-0">
                                    <thead>
                                    <tr>
                                        <th>Sipariş Numarası</th>
                                        <th>Müşteri</th>
                                        <th>Sipariş Toplamı</th>
                                        <th>Durum</th>
                                        <th>Tarih</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for order in last_orders %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'admin_order_detail' order.order_number %}">{{ order.order_number }}</a>
                                            </td>
                                            <td>{{ order.user.get_full_name }}</td>
                                            <td>{{ order.order_total|floatformat:2 }}</td>
                                            <td><span
                                                    class="badge badge-{% if order.status == 'Yeni' or order.status == 'Hazırlanıyor' or order.status == 'Onaylandı' %}info{% elif order.status == 'Kargolandı' %}success{% elif order.status == 'Tamamlandı' %}danger{% elif order.status == 'İptal Edildi' or order.status == 'Ödeme Yapılmadı' %}warning{% endif %}">{{ order.status }}</span>
                                            </td>
                                            <td>{{ order.created_at|date:"M d, Y" }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <a href="{% url 'admin_orders' %}" class="btn btn-sm btn-secondary float-right">Tüm
                                Siparişler</a>
                        </div>
                        <!-- /.card-footer -->
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Son Eklenen Ürünler</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <ul class="products-list product-list-in-card pl-2 pr-2"
                                style="height: 400px;overflow-x: auto;">
                                {% for product in last_product %}
                                    <li class="item">
                                        <div class="product-img">
                                            <img src="{{ product.image_url1 }}" alt="Product Image"
                                                 class="img-size-50">
                                        </div>
                                        <div class="product-info">
                                            <a href="javascript:void(0)"
                                               class="product-title">{{ product.subbottomcategory.title }}
                                                <span class="badge badge-warning float-right">{{ product.price }} TL</span></a>
                                            <span class="product-description">
                                                {{ product.title }}
                                            </span>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="card-footer text-center">
                            <a href="{% url 'admin_product' %}" class="uppercase">Tüm Ürünler</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header border-transparent">
                            <h3 class="card-title">Aksiyonlar</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="card bg-warning card-action">
                                        <div class="card-body">
                                            <a href=""
                                               class="d-flex justify-content-between align-items-center text-white">
                                                <span>Toplam Ürün Sayısı</span>
                                                <span>{{ product_count }}</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card bg-warning card-action">
                                        <div class="card-body">
                                            <a href=""
                                               class="d-flex justify-content-between align-items-center text-white">
                                                <span>Tükenen Ürün Sayısı</span>
                                                <span>{{ sold_out_product_count }}</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card bg-warning card-action">
                                        <div class="card-body">
                                            <a href=""
                                               class="d-flex justify-content-between align-items-center text-white">
                                                <span>Trendyol Ürün Sayısı</span>
                                                <span>{{ trendyol_product_count }}</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card bg-warning card-action">
                                        <div class="card-body">
                                            <a href=""
                                               class="d-flex justify-content-between align-items-center text-white">
                                                <span>Hepsiburada Ürün Sayısı</span>
                                                <span>0</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card bg-success card-action">
                                        <div class="card-body">
                                            <a href=""
                                               class="d-flex justify-content-between align-items-center text-white">
                                                <span>Bekleyen Sipariş</span>
                                                <span>{{ waiting_order }}</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card bg-success card-action">
                                        <div class="card-body">
                                            <a href=""
                                               class="d-flex justify-content-between align-items-center text-white">
                                                <span>Geciken Sipariş</span>
                                                <span>{{ delayed_list_count }}</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card bg-success card-action">
                                        <div class="card-body">
                                            <a href=""
                                               class="d-flex justify-content-between align-items-center text-white">
                                                <span>Bekleyen İadeler</span>
                                                <span>{{ extraditionrequest }}</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card bg-success card-action">
                                        <div class="card-body">
                                            <a href=""
                                               class="d-flex justify-content-between align-items-center text-white">
                                                <span>Tüm Siparişler</span>
                                                <span>{{ order_count }}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card bg-primary card-action">
                                        <div class="card-body">
                                            <a href="{% url 'kampanyali_urunler' %}"
                                               class="d-flex justify-content-between align-items-center text-white">
                                                <span>Kampanyadaki Ürünler</span>
                                                <span>{{ campaing_product }}</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card bg-primary card-action">
                                        <div class="card-body">
                                            <a href=""
                                               class="d-flex justify-content-between align-items-center text-white">
                                                <span>Ürün Değerlendirmeleri</span>
                                                <span>{{ review_rating }}</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card bg-primary card-action">
                                        <div class="card-body">
                                            <a href=""
                                               class="d-flex justify-content-between align-items-center text-white">
                                                <span>Favorilere Eklenen Ürünler</span>
                                                <span>{{ favoruite_product }}</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card bg-primary card-action">
                                        <div class="card-body">
                                            <a href=""
                                               class="d-flex justify-content-between align-items-center text-white">
                                                <span>Sepete Eklenen Ürünler</span>
                                                <span>{{ cart_item_product }}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}