{% extends 'backend/adminpage/layout.html' %}
{% load static %}

{% block title %}<title>Sipariş Numarası {{ order.order_number }}</title>{% endblock %}

{% block orders %}
    <style>
        .form-control {
            width: auto;
        }
    </style>
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Sipariş Numarası {{ order.order_number }}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'mainpage' %}">Anasayfa</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'admin_orders' %}">Siparişler</a></li>
                        <li class="breadcrumb-item active">Sipariş Numarası {{ order.order_number }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <div class="card-body table-responsive p-3">
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.media }}
                                {{ form.as_p }}
                                <button type="submit" name="editOrder" class="btn btn-primary">Sipariş Güncelle</button>
                                <a href="{% url 'admin_order_delete' order.order_number %}"
                                   class="btn btn-danger">Sil</a>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Ödeme Sorgusu Sonucu</h3>
                        </div>
                        <div class="card-body p-0">
                            <table class="table table-sm">
                                <thead>
                                <tr>
                                    <th>Sipariş Tutarı</th>
                                    <th>Ödenen Tutar</th>
                                    <th>Ödeme Tipi</th>
                                    <th>Taksit Sayısı</th>
                                    <th>Kart Marka</th>
                                    <th>Kesinti Tutarı</th>
                                    <th>Net Tutarı</th>
                                    <th>Ödeme Tarihi</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{ sorgu_durum.payment_amount }}</td>
                                    <td>{{ sorgu_durum.payment_total }}</td>
                                    <td>{{ sorgu_durum.odeme_tipi }}</td>
                                    <td>{{ sorgu_durum.taksit }}</td>
                                    <td>{{ sorgu_durum.kart_marka }}</td>
                                    <td>{{ sorgu_durum.kesinti_tutari }}</td>
                                    <td>{{ sorgu_durum.net_tutar }}</td>
                                    <td>{{ sorgu_durum.payment_date }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>

        function searchFunction() {
            let input, filter, table, tr, td, j;
            input = document.getElementById("search");
            filter = input.value.toLowerCase();
            table = document.getElementById("userTable");
            tr = table.getElementsByTagName("tr");

            for (j = 0; j < tr.length; j++) {
                td = tr[j].getElementsByTagName("td");
                msg = document.getElementById("no-data");

                if (td.length > 0) {
                    if (td[0].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[1].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[2].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[3].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[4].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[5].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[6].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[7].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[8].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[9].innerHTML.toLocaleLowerCase().indexOf(filter) > -1) {
                        tr[j].style.display = ""
                        msg.innerHTML = ""
                    } else {
                        tr[j].style.display = "none"
                    }
                }

                if (td.length == 0) {
                    msg.innerHTML = "Aramanızla eşleşen kayıt bulunamadı."
                }

            }
        }

    </script>
{% endblock %}