{% extends 'backend/adminpage/layout.html' %}
{% load static %}

{% block title %}<title>{{ product.title }}</title>{% endblock %}

{% block products %}

    <link rel="stylesheet" href="{% static 'adminpage/css/table.css' %}">
    <style>
        #id_title, #id_barcode, #id_subbottomcategory, #id_price, #id_quantity, #id_is_discountprice, #id_is_publish {
            background-color: #bebebe;
            color: red;
            font-weight: bold;
        }

        #id_is_publish_trendyol, #id_trendyol_price, #id_trendyol_category_id {
            background-color: #5ca8e5;
            color: white;
            font-weight: bold;
        }
    </style>

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">{{ product.title }}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'mainpage' %}">Anasayfa</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'admin_product' %}">Tüm Ürünler</a></li>
                        <li class="breadcrumb-item active">{{ product.title }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Ürün Bilgileri</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="product__images">
                                        {% if product.image_url1 %}
                                            <div class="product__img">
                                                <h5><b>Resim 1</b></h5>
                                                <img src="{{ product.image_url1 }}" alt=""
                                                     style="width: auto; height: 200px;">
                                            </div>
                                        {% endif %}
                                        {% if product.image_url2 %}
                                            <h5><b>Resim 2</b></h5>
                                            <img src="{{ product.image_url2 }}" alt=""
                                                 style="width: auto; height: 200px;">
                                        {% endif %}
                                        {% if product.image_url3 %}
                                            <h5><b>Resim 3</b></h5>
                                            <img src="{{ product.image_url3 }}" alt=""
                                                 style="width: auto; height: 200px;">
                                        {% endif %}
                                        {% if product.image_url4 %}
                                            <h5><b>Resim 4</b></h5>
                                            <img src="{{ product.image_url4 }}" alt=""
                                                 style="width: auto; height: 200px;">
                                        {% endif %}
                                        {% if product.image_url5 %}
                                            <h5><b>Resim 5</b></h5>
                                            <img src="{{ product.image_url5 }}" alt=""
                                                 style="width: auto; height: 200px;">
                                        {% endif %}
                                        {% if product.image_url6 %}
                                            <h5><b>Resim 6</b></h5>
                                            <img src="{{ product.image_url6 }}" alt=""
                                                 style="width: auto; height: 200px;">
                                        {% endif %}
                                        {% if product.image_url7 %}
                                            <h5><b>Resim 7</b></h5>
                                            <img src="{{ product.image_url7 }}" alt=""
                                                 style="width: auto; height: 200px;">
                                        {% endif %}
                                        {% if product.image_url8 %}
                                            <h5><b>Resim 8</b></h5>
                                            <img src="{{ product.image_url8 }}" alt=""
                                                 style="width: auto; height: 200px;">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <form action="" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            {{ form.media }}
                                            {% for field in form %}
                                                {% if field.name != 'detail' %}
                                                    <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                                        <label>{{ field.label }}</label>
                                                        {% if field.field.required %}
                                                            <span style="color: red;" class="required">*</span>
                                                        {% endif %}

                                                        {{ field }}
                                                        {% if field.help_text %}
                                                            <small style="color: grey">{{ field.help_text }}</small>
                                                        {% endif %}
                                                        {% for error in field.errors %}
                                                            <p style="color: red">{{ error }}</p>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                                {% if field.name == 'detail' %}
                                                    <div class="form-group col-12">
                                                        {{ field }}
                                                        {% if field.help_text %}
                                                            <small style="color: grey">{{ field.help_text }}</small>
                                                        {% endif %}
                                                        {% for error in field.errors %}
                                                            <p style="color: red">{{ error }}</p>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="form-row">
                                            <table class="table table-hover text-nowrap">
                                                <thead>
                                                <tr>
                                                    <th>Başlık</th>
                                                    <th>Barkod</th>
                                                    <th>Beden/Boyut</th>
                                                    <th>Renk</th>
                                                    <th>Son Güncellenme Tarihi</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for v in variants %}
                                                    <tr>
                                                        <td><a href="{% url 'product_detail' v.id %}">{{ v.title }}</a></td>
                                                        <td>{{ v.barcode }}</td>
                                                        <td>{{ v.size }}</td>
                                                        <td>{{ v.color }}</td>
                                                        <td>{{ v.update_at }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="footer__button_group">
                                            <div class="group__1">
                                                <button type="submit" name="updateBtn" class="btn btn-success">
                                                    Güncelle
                                                </button>
                                                <button type="submit" name="updateAndCloseBtn" class="btn btn-primary">
                                                    Güncelle
                                                    ve
                                                    Kapat
                                                </button>
                                                <button type="submit" name="variantUpdateBtn" class="btn btn-warning">
                                                    Tüm Variantlara Uygula
                                                </button>
                                                <a href="{% url 'admin_product' %}" class="btn btn-dark">Kapat</a>
                                            </div>
                                            <div class="group__2">
                                                <a href="{% url 'admin_product' %}" class="btn btn-danger">Sil</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}