{% extends 'backend/adminpage/layout.html' %}
{% load static %}

{% block title %}<title>Hesap Bilgilerim</title>{% endblock %}

{% block user_info %}


    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Hesap Bilgilerim</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'mainpage' %}">Anasayfa</a></li>
                        <li class="breadcrumb-item active">Hesap Bilgilerim</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="email">Email address</label>
                                        <input type="email" class="form-control" name="email" id="email"
                                               placeholder="E-Posta" value="{{ request.user.email }}" required>
                                    </div>
                                    <div class="warning bg-light p-2 mt-20" style="display:flex;justify-content: start;align-items: center; border-radius: 12px; margin-bottom: 20px;">
                                        <i class="fa fa-exclamation-circle text-danger"></i>
                                        <span class="text-danger" style="margin-left: 10px;">Bu E-posta adresi mevcuttur.</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="first_name">Ad</label>
                                        <input type="text" name="first_name" class="form-control" id="first_name"
                                               value="{{ request.user.first_name }}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="last_name">Soyad</label>
                                        <input type="text" name="last_name" class="form-control" id="last_name"
                                               value="{{ request.user.last_name }}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="mobile">Telefon</label>
                                        <input type="text" name="mobile" class="form-control" id="mobile" placeholder="(555) 555-5555"
                                               value="{{ request.user.mobile }}" required>
                                    </div>
                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button type="submit" name="updateBtn" id="register_btn" class="btn btn-primary">Güncelle</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="{% static 'adminpage/plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/check_email.js' %}"></script>
    <script>
        document.getElementById('mobile').addEventListener('input', function (e) {
            var x = e.target.value.replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
            e.target.value = !x[2] ? x[1] : '(' + x[1] + ') ' + x[2] + (x[3] ? '-' + x[3] : '');
        });
    </script>
{% endblock %}