{% extends 'backend/yonetim/base.html' %}
{% load static %}

{% block title %}<title>Kesilen Faturalar</title>{% endblock %}

{% block finans_yonetimi %}

    <section class="section">
        <div class="section-header">
            <h1>Kesilen Faturalar</h1>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a href="{% url 'admin_mainpage' %}">Anasayfa</a></div>
                <div class="breadcrumb-item">Kesilen Faturalar</div>
            </div>
        </div>

        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Filtreleme</h4>
                            <div class="card-header-action">
                                <a data-collapse="#filter-card" class="btn btn-icon btn-info" href="#"><i
                                        class="fas fa-minus"></i></a>
                            </div>
                        </div>
                        <div class="collapse show" id="filter-card">
                            <div class="card-body">
                                <form action="" method="get" class="">
                                    <div class="row my-2">
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label for="fatura_adi">Fatura Numarası</label>
                                                <input id="fatura_adi" type="text" name="fatura_adi"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label for="unvan">Ad/Soyad/Unvan</label>
                                                <input id="unvan" type="text" name="unvan" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label for="vergi_dairesi">Vergi Dairesi</label>
                                                <input id="vergi_dairesi" type="text" name="vergi_dairesi"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label for="vergi_no">Vergi Numarası</label>
                                                <input id="vergi_no" type="text" name="vergi_no" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row my-2"
                                         style="display: flex; flex-direction: row;align-items: center;">
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label for="ay">Ay</label>
                                                <select id="ay" name="ay" class="form-control">
                                                    <option value="">------</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label for="yil">Yıl</label>
                                                <select id="yil" name="yil" class="form-control">
                                                    <option value="">------</option>
                                                    <option value="2023">2023</option>
                                                    <option value="2024">2024</option>
                                                    <option value="2025">2025</option>
                                                    <option value="2026">2026</option>
                                                    <option value="2027">2027</option>
                                                    <option value="2028">2028</option>
                                                    <option value="2029">2029</option>
                                                    <option value="2030">2030</option>
                                                    <option value="2031">2031</option>
                                                    <option value="2032">2032</option>
                                                    <option value="2033">2033</option>
                                                    <option value="2034">2034</option>
                                                    <option value="2035">2035</option>
                                                    <option value="2036">2036</option>
                                                    <option value="2037">2037</option>
                                                    <option value="2038">2038</option>
                                                    <option value="2039">2039</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label for="desc">Sıralama</label>
                                                <select id="desc" name="desc" class="form-control">
                                                    <option value="">------</option>
                                                    <option value="created_at">En Eski Tarih</option>
                                                    <option value="-created_at">En Yeni Tarih</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="buttons float-right">
                                                <button type="submit" class="btn btn-warning" name="queryBtn">Sorgula
                                                </button>
                                                <button type="reset" class="btn btn-light">Sıfırla</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="buttons">
                                <a href="#" class="btn btn-warning" data-toggle="modal"
                                   data-target="#createBill"><i class="fa fa-plus"></i> Fatura Ekle</a>
                                <a href="{% url 'kesilen_faturalar_export_excel' %}" class="btn btn-success"><i
                                        class="fa fa-file-excel"></i> Excel İndir</a>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-hover text-nowrap">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Fatura Tipi</th>
                                        <th>Fatura No</th>
                                        <th>Ad/Soyad/Ünvan</th>
                                        <th>Vergi Numarası</th>
                                        <th>Vergi Dairesi</th>
                                        <th>Yıl</th>
                                        <th>Ay</th>
                                        <th>KDV Hariç Tutar (TL)</th>
                                        <th>KDV Oranı</th>
                                        <th>KDV Tutarı</th>
                                        <th>Toplam Tutar</th>
                                        <th>Fatura Tarihi</th>
                                        <th>İşlemler</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for fatura in faturalar %}
                                        <tr>
                                            <th>{% if fatura.is_cancelling == True %}<span class="badge badge-danger btn-sm"><i class="fa fa-times"></i></span>{% else %}<span class="badge badge-success btn-sm"><i class="fa fa-check"></i></span>{% endif %}</th>
                                            <td>{{ fatura.bill_type }}</td>
                                            <td>{{ fatura.bill_number }}</td>
                                            <td>{{ fatura.name }}</td>
                                            <td>{{ fatura.tax_number }}</td>
                                            <td>{% if fatura.tax_administration %}
                                                {{ fatura.tax_administration }}{% else %}-{% endif %}</td>
                                            <td>{{ fatura.get_year_display }}</td>
                                            <td>{{ fatura.get_month_display }}</td>
                                            <td>{{ fatura.price }}</td>
                                            <td>{{ fatura.tax_rate }}</td>
                                            <td>{{ fatura.tax_amount|floatformat:2 }}</td>
                                            <td>{{ fatura.price_amount|floatformat:2 }}</td>
                                            <td>{{ fatura.created_at|date:"m-d-Y" }}</td>
                                            <td>

                                                <a href="{% url 'update_kesilen_fatura' fatura.id %}"
                                                   target="_blank"
                                                   class="btn btn-sm btn-success">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a href="{% url 'delete_kesilen_fatura' fatura.id %}"
                                                   class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="11">
                                                    <span
                                                            style="display: block; text-align: center;padding-top: 10px; padding-bottom: 10px;">Herhangi bir veri bulunmamaktadır.</span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <nav aria-label="pagination" class="pagination_area">
                                <div class="row">
                                    {% if faturalar.end_index > 0 %}
                                        <div class="col-sm-12 col-md-5 d-none d-md-block">
                                            <p>Showing {{ faturalar.start_index }} to {{ faturalar.end_index }}
                                                of {{ faturalar.paginator.count }}.</p>
                                        </div>
                                    {% endif %}
                                    {% if faturalar.paginator.num_pages > 1 %}
                                        <div class="col-sm-12 col-md-7 dataTables_pager">
                                            <ul class="pagination float-right">
                                                {% if faturalar.has_previous %}
                                                    <li class="page-item">
                                                        <a class="page-link" data-page="1"
                                                           href="{{ query }}&page={{ faturalar.previous_page_number }}">
                                                            <i class="fa fa-angle-double-left"></i>
                                                        </a>
                                                    </li>
                                                    {% if faturalar.previous_page_number > 1 %}
                                                        <li class="page-item">
                                                            <a class="page-link "
                                                               data-page="{{ faturalar.previous_page_number }}"
                                                               href="{{ query }}&page={{ faturalar.previous_page_number }}">
                                                                <i class="fa fa-angle-left"></i>
                                                            </a>
                                                        </li>
                                                    {% endif %}

                                                {% endif %}

                                                {% if faturalar.previous_page_number > 2 %}
                                                    <li class="page-item">
                                                        <a class="page-link "
                                                           data-page="{{ faturalar.number|add:'-2' }}"
                                                           href="{{ query }}&page={{ faturalar.number|add:'-2' }}"> {{ faturalar.number|add:"-2" }} </a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link "
                                                           data-page="{{ faturalar.number|add:'-1' }}"
                                                           href="{{ query }}&page={{ faturalar.number|add:'-1' }}"> {{ faturalar.number|add:"-1" }} </a>
                                                    </li>
                                                {% endif %}

                                                <li class="page-item active"><span
                                                        class="page-link ">{{ faturalar.number }}</span></li>

                                                {% if faturalar.paginator.num_pages > faturalar.number|add:"2" %}
                                                    <li class="page-item">
                                                        <a class="page-link "
                                                           data-page="{{ faturalar.number|add:'1' }}"
                                                           href="{{ query }}&page={{ faturalar.number|add:'1' }}"> {{ faturalar.number|add:"1" }} </a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link "
                                                           data-page="{{ faturalar.number|add:'2' }}"
                                                           href="{{ query }}&page={{ faturalar.number|add:'2' }}"> {{ faturalar.number|add:"2" }} </a>
                                                    </li>
                                                {% endif %}

                                                {% if faturalar.has_next %}
                                                    <li class="page-item">
                                                        <a class="page-link "
                                                           data-page="{{ faturalar.next_page_number }}"
                                                           href="{{ query }}&page={{ faturalar.next_page_number }}">
                                                            <i class="fa fa-angle-right"></i>
                                                        </a>
                                                    </li>

                                                    <li class="page-item">
                                                        <a class="page-link "
                                                           data-page="{{ faturalar.paginator.num_pages }}"
                                                           href="{{ query }}&page={{ faturalar.paginator.num_pages }}">
                                                            <i class="fa fa-angle-double-right"></i>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="createBill">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Fatura Ekle</h4>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                <label id="{{ field.id_for_label }}">{{ field.label }}</label>
                                {% if field.field.required %}
                                    <span style="color: red;" class="required">*</span>
                                {% endif %}
                                {{ field }}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary btn-block" name="addBtn">Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_script %}

{% endblock %}



