{% extends 'frontend/v_1_0/layout.html' %}
{% load static %}


{% block account %}
    <div class="container container-240">

        <div class="myaccount">
            <ul class="breadcrumb v3">
                <li><a href="#">Anasayfa</a></li>
                <li class="active">Kullanıcı İşlemleri</li>
            </ul>
            <div class="row flex pd">
                <div class="account-element bd-7">
                    <div class="cmt-title text-center abs">
                        <h1 class="page-title v1">Giriş Yap</h1>
                    </div>
                    <div class="page-content">
                        <p>Hesabınıza giriş yapın ve alışverişin keyfini çıkarın.</p>
                        <form class="login-form" method="post" action="#">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="login_email">E-mail <span class="f-red">*</span></label>
                                <input type="email" id="login_email" class="form-control bdr" name="login_email">
                                <label for="login_password">Şifre <span class="f-red">*</span></label>
                                <input type="password" id="login_password" class="form-control bdr"
                                       name="login_password">
                            </div>
                            <div class="flex lr">
                                <button type="submit" class="btn btn-submit btn-gradient" name="login_btn">
                                    Giriş Yap
                                </button>
                            </div>
                        </form>
                        <a href="#" class="btn-lostpwd spc">Şifremi unuttum</a>
                    </div>
                </div>
                <div class="account-element bd-7 e-left">
                    <div class="cmt-title text-center abs">
                        <h1 class="page-title v1">Kayıt Ol</h1>
                    </div>
                    <div class="page-content">
                        <p>Kaydını oluştur, en uygun alışverişin tadını çıkar.</p>
                        <form class="login-form" method="post" action="#">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="register_first_name">Ad <span class="f-red">*</span></label>
                                <input type="text" id="register_first_name" class="form-control bdr"
                                       name="register_first_name">
                                <label for="register_last_name">Soyad <span class="f-red">*</span></label>
                                <input type="text" id="register_last_name" class="form-control bdr"
                                       name="register_last_name">
                                <label for="register_email">Email <span class="f-red">*</span></label>
                                <input type="text" id="register_email" class="form-control bdr" name="register_email">
                                <label for="register_mobile">Cep Telefonu <span class="f-red">*</span></label>
                                <input type="text" id="register_mobile" class="form-control bdr" name="register_mobile" placeholder="(555) 555-5555">
                                <label for="register_password">Şifre <span class="f-red">*</span></label>
                                <input type="password" id="register_password" class="form-control bdr"
                                       name="register_password">
                            </div>
                            <div class="flex lr">
                                <button type="submit" class="btn btn-submit btn-gradient" name="register_btn">
                                    Kayıt Ol
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="e-category">
        <div class="container container-240">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h1 class="cate-title">Featured Products</h1>
                    <div class="cate-item">
                        <div class="product-img">
                            <a href="#"><img src="img/product/usb.jpg" alt="" class="img-reponsive"></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="#">Epson Home Cinema 5040UB </a></h3>
                            <div class="product-price v2"><span>$780.00</span></div>
                        </div>
                    </div>

                    <div class="cate-item">
                        <div class="product-img">
                            <a href="#"><img src="img/product/macbook.jpg" alt="" class="img-reponsive"></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="#">Epson Home Cinema 5040UB </a></h3>
                            <div class="product-price v2"><span>$780.00</span></div>
                        </div>
                    </div>

                    <div class="cate-item">
                        <div class="product-img">
                            <a href="#"><img src="img/product/flycam.jpg" alt="" class="img-reponsive"></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="#">Epson Home Cinema 5040UB </a></h3>
                            <div class="product-price v2"><span>$780.00</span></div>
                        </div>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h1 class="cate-title">Top Rated Products</h1>
                    <div class="cate-item">
                        <div class="product-img">
                            <a href="#"><img src="img/product/samsung.jpg" alt="" class="img-reponsive"></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="#">Epson Home Cinema 5040UB </a></h3>
                            <div class="product-price v2"><span>$780.00</span></div>
                        </div>
                    </div>

                    <div class="cate-item">
                        <div class="product-img">
                            <a href="#"><img src="img/product/headphone2.jpg" alt="" class="img-reponsive"></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="#">Epson Home Cinema 5040UB </a></h3>
                            <div class="product-price v2"><span>$780.00</span></div>
                        </div>
                    </div>

                    <div class="cate-item">
                        <div class="product-img">
                            <a href="#"><img src="img/product/anker.jpg" alt="" class="img-reponsive"></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="#">Epson Home Cinema 5040UB </a></h3>
                            <div class="product-price v2"><span>$780.00</span></div>
                        </div>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h1 class="cate-title">Top Selling Products</h1>
                    <div class="cate-item">
                        <div class="product-img">
                            <a href="#"><img src="img/product/headphone.jpg" alt="" class="img-reponsive"></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="#">Epson Home Cinema 5040UB </a></h3>
                            <div class="product-price v2"><span>$780.00</span></div>
                        </div>
                    </div>

                    <div class="cate-item">
                        <div class="product-img">
                            <a href="#"><img src="img/product/samsung2.jpg" alt="" class="img-reponsive"></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="#">Epson Home Cinema 5040UB </a></h3>
                            <div class="product-price v2"><span>$780.00</span></div>
                        </div>
                    </div>

                    <div class="cate-item">
                        <div class="product-img">
                            <a href="#"><img src="img/product/sound.jpg" alt="" class="img-reponsive"></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="#">Epson Home Cinema 5040UB </a></h3>
                            <div class="product-price v2"><span>$780.00</span></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="feature">
        <div class="container container-240">
            <div class="feature-inside">
                <div class="feature-block text-center">
                    <div class="feature-block-img"><img src="img/feature/truck.png" alt="" class="img-reponsive"></div>
                    <div class="feature-info">
                        <h3>Worldwide Delivery</h3>
                        <p>With sites in 5 languages, we ship to over 200 countries & regions.</p>
                    </div>
                </div>

                <div class="feature-block text-center">
                    <div class="feature-block-img"><img src="img/feature/credit-card.png" alt="" class="img-reponsive">
                    </div>
                    <div class="feature-info">
                        <h3>Safe Payment</h3>
                        <p>Pay with the world’s most popular and secure payment methods.</p>
                    </div>
                </div>

                <div class="feature-block text-center">
                    <div class="feature-block-img"><img src="img/feature/safety.png" alt="" class="img-reponsive"></div>
                    <div class="feature-info">
                        <h3>Shop with Confidence</h3>
                        <p>Our Buyer Protection covers your purchase from click to delivery.</p>
                    </div>
                </div>

                <div class="feature-block text-center">
                    <div class="feature-block-img"><img src="img/feature/telephone.png" alt="" class="img-reponsive">
                    </div>
                    <div class="feature-info">
                        <h3>24/7 Help Center</h3>
                        <p>Round-the-clock assistance for a smooth shopping experience.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('register_mobile').addEventListener('input', function (e) {
            var x = e.target.value.replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
            e.target.value = !x[2] ? x[1] : '(' + x[1] + ') ' + x[2] + (x[3] ? '-' + x[3] : '');
        });
    </script>
{% endblock %}