{% extends 'frontend/v_1_0/layout.html' %}
{% load static %}

{% block title %}<title>{{ slider.title }}</title>{% endblock %}

{% block slider %}
    <hr>
    <div class="container container-240">
        <div class="blog spc1 mb-30">
            <ul class="breadcrumb">
                <li><a href="{% url 'mainpage' %}">Anasayfa</a></li>
                <li class="active">{{ slider.title }}</li>
            </ul>
            <div class="blog-single-post">
                <div class="row">
                    <div class="blog-content  col-lg-12  col-xs-12">
                        <div class="blog-post-item v2">
                            <div class="blog-img">
                                <a href="{% url 'slider_info' slider.slug %}" class="hover-images"><img
                                        src="{{ slider.get_image }}" alt=""
                                        class="img-reponsive"></a>
                                <div class="blog-post-date abs v2">
                                    {{ slider.created_at }}
                                </div>
                            </div>
                            <div class="blog-info-bd mt-10">
                                <div class="blog-info">
                                    <h3 class="blog-post-title v2">{{ slider.title }}</h3>
                                    <div class="blog-post-desc mt-20">
                                        <p>{{ slider.content|safe }}</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="e-category mt-30">
            <div class="container container-240">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        {% include 'frontend/partials/../partials/__top_like_product.html' %}
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        {% include 'frontend/partials/../partials/__top_rated_product.html' %}
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        {% include 'frontend/partials/../partials/__top_selling_product.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}