{% extends 'frontend/v_2_0/base.html' %}
{% load static %}

{% block title %}<title>Opss, bir hata ile karşılaşıldı</title>{% endblock %}

{% block error %}
    <div class="page-container error">
        <!-- ~~~~~~~~~~~~~~~~~ Error static content section [START] ~~~~~~~~~~~~~~~~~ -->
        <div class="page-section static-message">
            <div class="page-margin">
                <div class="page-margin__content">
                    <div class="page-section__body">
                        <div class="error-page">
                            <div class="error-page__code">
                                <img src="{% static 'frontend/images/dist/info-gf/500-error.png' %}" alt="IMG">
                            </div>
                            <div class="error-page__body">
                                <h2>
                                    Oops, Bir Hata Oluştu!
                                </h2>
                                <p>
                                    İsteğiniz işlenirken sunucu bilinmeyen bir nedenle çöktü. Sayfayı yenileyin veya
                                    hata
                                    tekrarlanırsa bizimle iletişime geçin veya bir süre bekleyip tekrar deneyin.
                                </p>
                                <div class="btn-controls">
                                    <div class="btn-control__item">
                                        <a href="{% url 'mainpage' %}" class="a-block">
                                            <div class="btn btn-primary btn-icon btn-lg outline">
                                            <span class="text m-0">
                                                    Anasayfaya Git
                                                </span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}