<div class="cookie__wrapper">
    <header>
        <i class="bi bi-cookie"></i>
        <h2>Çerez Politakası</h2>
    </header>
    <div class="cookie__body">
        <p>Daha üstün, daha verimli ve daha iyi bir alışveriş deneyimi yaşamanıza yardımcı olmak amacıyla yasal düzenlemelere uygun bazı çerezler (cookie) kullanılmaktadır.
        <a href="{% url 'cookies' %}">Daha detaylı bilgi</a></p>
    </div>
    <div class="cookie__button" id="cookieAcceptBtn">
        <button class="btn btn-primary btn-icon">Anladım</button>
    </div>
</div>