{% extends 'backend/adminpage/layout.html' %}
{% load static %}

{% block title %}<title>Trendyol Komisyon Oranları</title>{% endblock %}

{% block trendyol %}
    <link rel="stylesheet" href="{% static 'adminpage/css/category.css' %}">
    <style>
        .errorlist{
            display: none;
        }
    </style>

    <div class="waiting">
        <div class="spinner-border text-danger" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <h4>Lütfen Bekleyiniz...</h4>
    </div>

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Trendyol Komisyon Oranları</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'mainpage' %}">Anasayfa</a></li>
                        <li class="breadcrumb-item active">Komisyon Oranı Ekle</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"><b>Komisyon Ekle</b></h3>
                        </div>
                        <div class="card-body">
                            <form action="" method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-primary btn-block" name="addBtn">Ekle</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" onkeyup="searchFunction();" id="search"
                                           class="form-control float-right"
                                           placeholder="Arama">

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0"
                             style="min-height: 500px;height: auto;max-height: 750px;">
                            <table class="table table-head-fixed text-nowrap" id="categoryTable">
                                <thead>
                                <tr>
                                    <th class="select-row" style="text-align: start; vertical-align: middle">&nbsp;</th>
                                    <th style="text-align: start; vertical-align: middle">Kategori Adı</th>
                                    <th style="text-align: start; vertical-align: middle">Komisyon Tutarı</th>
                                    <th style="text-align: start; vertical-align: middle">Oluşturulma Tarihi</th>
                                    <th style="text-align: start; vertical-align: middle">Güncellenme Tarihi</th>
                                    <th style="text-align: start; vertical-align: middle"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for komisyon in komisyonlar %}
                                    <tr>
                                        <td class="select-row" style="text-align: start; vertical-align: middle; border: 0;">
                                            <input type="checkbox" name="select_komisyon" value="{{ komisyon.id }}"
                                                   data-filter="komisyon" class="select-checkbox">
                                        </td>
                                        <td style="text-align: start; vertical-align: middle"><b>{{ komisyon.kategori_adi }}</b>
                                        </td>
                                        <td style="text-align: start; vertical-align: middle">{{ komisyon.komisyon_tutari }}
                                        <td style="text-align: start; vertical-align: middle">{{ komisyon.create_at }}
                                        <td style="text-align: start; vertical-align: middle">{{ komisyon.update_at }}
                                        </td>
                                        <td style="text-align: start; vertical-align: middle">
                                            <a href="{% url 'trendyol_komisyon_detay' komisyon.id %}" class="btn btn-primary btn-block">
                                                Gör
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <span id="no-data"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <a href="{% url 'trendyol_komisyon_export_excel' %}" class="btn btn-success">Excel İndir</a>
                            <a href="{% url 'trendyol_komisyon_export_pdf' %}" class="btn btn-primary">PDF İndir <span class="right badge badge-danger">Test</span></a>
                            <button class="btn btn-warning" id="selectRow">Seç</button>
                            <button class="btn btn-warning" id="deleteRow" data-toggle="modal" data-bs-toggle="modal"
                                    data-bs-target="#modal-select-delete">Seçilileri Sil
                            </button>
                            <button class="btn btn-default" id="cancelRow">İptal Et</button>
                            <button class="btn btn-danger" data-toggle="modal" data-bs-toggle="modal"
                                    data-bs-target="#modal-all-delete">Tümünü Sil
                            </button>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="modal-all-delete">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Emin misin?</h4>
                                <button type="button" class="close" data-bs-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Tümünü silmek istediğine emin misin?
                            </div>
                            <div class="modal-footer justify-content-between">
                                <a href="{% url 'trendyol_komisyon_hepsini_sil' %}" class="btn btn-danger"
                                   data-dismiss="modal">
                                    Sil
                                </a>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <div class="modal fade" id="modal-select-delete">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Emin misin?</h4>
                                <button type="button" class="close" data-bs-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Seçili komisyonlar silinecektir.</p>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button id="deleteNow" class="btn btn-danger"
                                        data-dismiss="modal">
                                    Sil
                                </button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
            </div>

        </div>
    </section>

    <script>
        function searchFunction() {
            let input, filter, table, tr, td, j;
            input = document.getElementById("search");
            filter = input.value.toLowerCase();
            table = document.getElementById("categoryTable");
            tr = table.getElementsByTagName("tr");

            for (j = 0; j < tr.length; j++) {
                td = tr[j].getElementsByTagName("td");
                msg = document.getElementById("no-data");

                if (td.length > 0) {
                    if (td[0].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[1].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[2].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[3].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[4].innerHTML.toLocaleLowerCase().indexOf(filter) > -1) {
                        tr[j].style.display = ""
                        msg.innerHTML = ""
                    } else {
                        tr[j].style.display = "none"
                    }
                }

                if (td.length == 0) {
                    msg.innerHTML = "Aramanızla eşleşen kayıt bulunamadı."
                }

            }
        }

        $(document).ready(function () {
            $(".waiting").hide()
            $("#deleteRow").hide();
            $("#cancelRow").hide()
            $("#selectRow").on('click', function () {
                $("#cancelRow").show()
                $(".select-row").css('display', 'block')
                $("#selectRow").hide()
                $("#deleteRow").show();
                $("#cancelRow").on('click', function () {
                    $("#selectRow").show();
                    $("#cancelRow").hide();
                    $("#deleteRow").hide();
                    $(".select-row").css('display', 'none')
                })
            })
        });

        $("#deleteRow").on('click', function () {
            var _filterObj = {};
            $(".select-checkbox").each(function (index, ele) {
                var _filterVal = $(this).val();
                var _filterKey = $(this).data('filter');
                _filterObj[_filterKey] = Array.from(document.querySelectorAll('input[data-filter=' + _filterKey + ']:checked')).map(function (el) {
                    return el.value;
                });
            });
            $("#deleteNow").on('click', function () {
                console.log(_filterObj)
                $.ajax({
                    url: `/yonetim/trendyol/komisyon-oranlari/secili-komisyon-sil/`,
                    data: _filterObj,
                    dataType: 'json',
                    beforeSend: function () {
                        $(".waiting").show()
                    },
                    success: function (data) {
                        $(".waiting").hide()
                        location.reload();
                    }
                });
            });
        })


    </script>


{% endblock %}