{% extends 'backend/adminpage/layout.html' %}
{% load static %}

{% block title %}<title>Trendyol Siparişleri</title>{% endblock %}

{% block orders %}

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Trendyol Siparişleri</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'mainpage' %}">Anasayfa</a></li>
                        <li class="breadcrumb-item active">Trendyol Siparişleri</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 mb-3">
                    <a href="{% url 'get_trendyol_orders' %}" class="btn rounded-5 btn-primary" id="getTrendyolOrders">Siparişleri Getir</a>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 250px;">
                                    <input type="text" name="table_search" id="search" onkeyup="searchFunction();"
                                           class="form-control float-right"
                                           placeholder="Sipariş Arama">

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap" id="userTable">
                                <thead>
                                <tr>
                                    <th>Sipariş Numarası</th>
                                    <th>Paket Numarası</th>
                                    <th>Alıcı</th>
                                    <th>Ürün Adı</th>
                                    <th>Adet</th>
                                    <th>Barkod</th>
                                    <th>Stok Kodu</th>
                                    <th>Birim Fiyat</th>
                                    <th>İndirim</th>
                                    <th>Satış Tutarı</th>
                                    <th>Sipariş Tarihi</th>
                                    <th>Durum</th>
                                    <th>İşlem</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <td>{{ order.order_number }}</td>
                                        <td>{{ order.packet_number }}</td>
                                        <td>{{ order.buyer }}</td>
                                        <td>{{ order.title }}</td>
                                        <td>{{ order.quantity }}</td>
                                        <td>{{ order.barcode }}</td>
                                        <td>{{ order.stock_code }}</td>
                                        <td>{{ order.unit_price }}</td>
                                        <td>{{ order.discount_amount }}</td>
                                        <td>{{ order.sales_amount }}</td>
                                        <td>{{ order.order_date }}</td>
                                        <td>{{ order.status }}</td>
                                        <td>
                                            <a href="{% url 'trendyol_order_detail' order.id %}" class="btn btn-primary btn-sm btn-block">Gör</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div id="no-data" style="width: 100%; text-align: center; margin-top: 5px; margin-bottom: 5px;"></div>
                        </div>
                        <div class="card-footer p-0">
                            <div class="mailbox-controls">
                                <div class="float-right">
                                    {{ orders.number }} / {{ orders.paginator.num_pages }}
                                    <div class="btn-group">
                                        {% if orders.has_previous %}
                                            <a href="?page={{ orders.previous_page_number }}"
                                               class="btn btn-default btn-sm">
                                                <i class="fas fa-chevron-left"></i>
                                            </a>
                                        {% endif %}
                                        {% if orders.has_next %}
                                            <a href="?page={{ orders.next_page_number }}"
                                               class="btn btn-default btn-sm">
                                                <i class="fas fa-chevron-right"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script>
    function searchFunction() {
            let input, filter, table, tr, td, j;
            input = document.getElementById("search");
            filter = input.value.toLowerCase();
            table = document.getElementById("userTable");
            tr = table.getElementsByTagName("tr");

            for (j = 0; j < tr.length; j++) {
                td = tr[j].getElementsByTagName("td");
                msg = document.getElementById("no-data");

                if (td.length > 0) {
                    if (td[0].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[1].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[2].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[3].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[4].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[5].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[6].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[7].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[8].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[9].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[10].innerHTML.toLocaleLowerCase().indexOf(filter) > -1) {
                        tr[j].style.display = ""
                        msg.innerHTML = ""
                    } else {
                        tr[j].style.display = "none"
                    }
                }

                if (td.length == 0) {
                    msg.innerHTML = "Aramanızla eşleşen kayıt bulunamadı."
                }

            }
        }
    </script>
{% endblock %}