{% extends 'backend/adminpage/layout.html' %}
{% load static %}

{% block title %}<title>Trendyol Hesap Yönetimi - Ürün Silme</title>{% endblock %}

{% block trendyol %}

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Trendyol Hesap Yönetimi - Ürün Silme</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'mainpage' %}">Anasayfa</a></li>
                        <li class="breadcrumb-item active">Ürün Silme</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-12">
                    <div class="info-box bg-primary">
                        <div class="info-box-content">
                            <form action="" method="post">
                                {% csrf_token %}
                                <button type="submit" name="inactiveDeleteBtn" class="info-box-text btn text-white" style="background: none; outline: none;height: 100%; width: 100%; text-align: center;">Aktif Olmayan Ürünleri Sil</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-12">
                    <div class="info-box bg-danger">
                        <div class="info-box-content">
                            <form action="" method="post">
                                {% csrf_token %}
                                <button type="submit" name="allDeleteBtn" class="info-box-text btn text-white" style="background: none; outline: none;height: 100%; width: 100%; text-align: center;">Tüm Ürünleri Sil</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}