{% extends 'backend/adminpage/layout.html' %}
{% load static %}

{% block title %}<title>{{ category.title }}</title>{% endblock %}

{% block trendyol %}

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">{{ category.title }}</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'mainpage' %}">Anasayfa</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'trendyol_add_product' %}">Ürün Girişi</a></li>
                        <li class="breadcrumb-item"><a
                                href="{% url 'trendyol_add_product_giyim_category1' category.subcategory.category_no %}">{{ category.subcategory.title }}
                            Kategorileri</a></li>
                        <li class="breadcrumb-item active">{{ category.title }}</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <section class="content">
        <div class="container-fluid">
            <div class="row">
                {% if category.title == 'Ceket-Mont-Kaban' %}
                    <div class="col-md-3 col-sm-4 col-6">
                        <div class="info-box bg-purple">
                            <div class="info-box-content">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Ceket" name="category_title">
                                    <input type="hidden" value="Ceket" name="product_title">
                                    <button class="btn btn-light" name="sendTrendyol" type="submit"
                                            style="outline: none; background: none;width: 100%; height: 100%; border: none;color: #fff;font-weight: bold; font-size: 1.5rem">
                                        Ceket Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-6">
                        <div class="info-box bg-success">
                            <div class="info-box-content">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Mont" name="category_title">
                                    <input type="hidden" value="Mont" name="product_title">
                                    <button class="btn btn-light" name="sendTrendyol" type="submit"
                                            style="outline: none; background: none;width: 100%; height: 100%; border: none;color: #fff;font-weight: bold; font-size: 1.5rem">
                                        Mont Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-6">
                        <div class="info-box bg-warning">
                            <div class="info-box-content">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Kaban" name="category_title">
                                    <input type="hidden" value="Kaban" name="product_title">
                                    <button class="btn btn-light" name="sendTrendyol" type="submit"
                                            style="outline: none; background: none;width: 100%; height: 100%; border: none;color: #fff;font-weight: bold; font-size: 1.5rem">
                                        Kaban Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% elif category.title == 'Atlet-Büstiyer' %}
                    <div class="col-md-3 col-sm-4 col-6">
                        <div class="info-box bg-warning">
                            <div class="info-box-content">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Atlet" name="category_title">
                                    <input type="hidden" value="Atlet" name="product_title">
                                    <button class="btn btn-light" name="sendTrendyol" type="submit"
                                            style="outline: none; background: none;width: 100%; height: 100%; border: none;color: #fff;font-weight: bold; font-size: 1.5rem">
                                        Atlet Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-6">
                        <div class="info-box bg-info">
                            <div class="info-box-content">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Büstiyer" name="category_title">
                                    <input type="hidden" value="Büstiyer" name="product_title">
                                    <button class="btn btn-light" name="sendTrendyol" type="submit"
                                            style="outline: none; background: none;width: 100%; height: 100%; border: none;color: #fff;font-weight: bold; font-size: 1.5rem">
                                        Büstiyer Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% elif category.title == 'Bluz-Body-Triko' %}
                    <div class="col-md-3 col-sm-4 col-6">
                        <div class="info-box bg-info">
                            <div class="info-box-content">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Bluz" name="category_title">
                                    <input type="hidden" value="Bluz" name="product_title">
                                    <button class="btn btn-light" name="sendTrendyol" type="submit"
                                            style="outline: none; background: none;width: 100%; height: 100%; border: none;color: #fff;font-weight: bold; font-size: 1.5rem">
                                        Bluz Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-6">
                        <div class="info-box bg-orange">
                            <div class="info-box-content">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Body" name="category_title">
                                    <input type="hidden" value="Body" name="product_title">
                                    <button class="btn btn-light" name="sendTrendyol" type="submit"
                                            style="outline: none; background: none;width: 100%; height: 100%; border: none;color: #fff;font-weight: bold; font-size: 1.5rem">
                                        Body Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-6">
                        <div class="info-box bg-danger">
                            <div class="info-box-content">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Triko" name="category_title">
                                    <input type="hidden" value="Triko" name="product_title">
                                    <button class="btn btn-light" name="sendTrendyol" type="submit"
                                            style="outline: none; background: none;width: 100%; height: 100%; border: none;color: #fff;font-weight: bold; font-size: 1.5rem">
                                        Triko Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% elif category.title == 'Abiye' %}
                    <div class="col-md-3 col-sm-4 col-6">
                        <div class="info-box bg-warning">
                            <div class="info-box-content">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Abiye & Mezuniyet Elbisesi" name="category_title">
                                    <input type="hidden" value="Abiye" name="product_title">
                                    <button class="btn btn-light" name="sendTrendyol" type="submit"
                                            style="outline: none; background: none;width: 100%; height: 100%; border: none;color: #fff;font-weight: bold; font-size: 1.5rem">
                                        Abiye Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% elif category.title == 'Babet-Sandelet-Terlik' %}
                    <div class="col-md-3 col-sm-4 col-6">
                        <div class="info-box bg-warning">
                            <div class="info-box-content">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Babet" name="category_title">
                                    <input type="hidden" value="Babet" name="product_title">
                                    <button class="btn btn-light" name="sendTrendyol" type="submit"
                                            style="outline: none; background: none;width: 100%; height: 100%; border: none;color: #fff;font-weight: bold; font-size: 1.5rem">
                                        Babet Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-6">
                        <div class="info-box bg-info">
                            <div class="info-box-content">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Sandalet" name="category_title">
                                    <input type="hidden" value="Sandalet" name="product_title">
                                    <button class="btn btn-light" name="sendTrendyol" type="submit"
                                            style="outline: none; background: none;width: 100%; height: 100%; border: none;color: #fff;font-weight: bold; font-size: 1.5rem">
                                        Sandalet Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-6">
                        <div class="info-box bg-purple">
                            <div class="info-box-content">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Terlik" name="category_title">
                                    <input type="hidden" value="Terlik" name="product_title">
                                    <button class="btn btn-light" name="sendTrendyol" type="submit"
                                            style="outline: none; background: none;width: 100%; height: 100%; border: none;color: #fff;font-weight: bold; font-size: 1.5rem">
                                        Terlik Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% elif category.title == 'Günlük Ayakkabı' %}
                    <div class="col-md-4 col-sm-6 col-12">
                        <div class="info-box bg-warning">
                            <div class="info-box-content">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Casual Ayakkabı" name="category_title">
                                    <input type="hidden" value="Günlük Ayakkabı" name="product_title">
                                    <button class="btn btn-light" name="sendTrendyol" type="submit"
                                            style="outline: none; background: none;width: 100%; height: 100%; border: none;color: #fff;font-weight: bold; font-size: 1.5rem">
                                        Günlük Ayakkabı Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% elif category.title == 'Topuklu Ayakkabı' %}
                    <div class="col-md-4 col-sm-6 col-12">
                        <div class="info-box bg-warning">
                            <div class="info-box-content">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Klasik Topuklu Ayakkabı" name="category_title">
                                    <input type="hidden" value="Topuklu Ayakkabı" name="product_title">
                                    <button class="btn btn-light" name="sendTrendyol" type="submit"
                                            style="outline: none; background: none;width: 100%; height: 100%; border: none;color: #fff;font-weight: bold; font-size: 1.5rem">
                                        Topuklu Ayakkabı Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% elif category.title == 'Şapka-Bandana' %}
                    <div class="col-md-4 col-sm-6 col-12">
                        <div class="info-box bg-warning">
                            <div class="info-box-content">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Şapka" name="category_title">
                                    <input type="hidden" value="Şapka" name="product_title">
                                    <button class="btn btn-light" name="sendTrendyol" type="submit"
                                            style="outline: none; background: none;width: 100%; height: 100%; border: none;color: #fff;font-weight: bold; font-size: 1.5rem">
                                        Şapka Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12">
                        <div class="info-box bg-danger">
                            <div class="info-box-content">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Bandana" name="category_title">
                                    <input type="hidden" value="Bandana" name="product_title">
                                    <button class="btn btn-light" name="sendTrendyol" type="submit"
                                            style="outline: none; background: none;width: 100%; height: 100%; border: none;color: #fff;font-weight: bold; font-size: 1.5rem">
                                        Bandana Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% elif category.title == 'Çanta' %}
                    <div class="col-md-4 col-sm-6 col-12">
                        <div class="info-box bg-warning">
                            <div class="info-box-content">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Sırt Çantası" name="category_title">
                                    <input type="hidden" value="Sırt Çantası" name="product_title">
                                    <button class="btn btn-light" name="sendTrendyol" type="submit"
                                            style="outline: none; background: none;width: 100%; height: 100%; border: none;color: #fff;font-weight: bold; font-size: 1.5rem">
                                        Sırt Çantası Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12">
                        <div class="info-box bg-success">
                            <div class="info-box-content">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Omuz Çantası" name="category_title">
                                    <input type="hidden" value="Omuz Çantası" name="product_title">
                                    <button class="btn btn-light" name="sendTrendyol" type="submit"
                                            style="outline: none; background: none;width: 100%; height: 100%; border: none;color: #fff;font-weight: bold; font-size: 1.5rem">
                                        Omuz Çantası Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% elif category.title == 'Gözlük' %}
                    <div class="col-md-4 col-sm-6 col-12">
                        <div class="info-box bg-warning">
                            <div class="info-box-content">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Güneş Gözlüğü" name="category_title">
                                    <input type="hidden" value="Gözlük" name="product_title">
                                    <button class="btn btn-light" name="sendTrendyol" type="submit"
                                            style="outline: none; background: none;width: 100%; height: 100%; border: none;color: #fff;font-weight: bold; font-size: 1.5rem">
                                        Gözlük Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% elif category.title == 'Atkı-Bere-Şal' %}
                    <div class="col-md-4 col-sm-6 col-12">
                        <div class="info-box bg-warning">
                            <div class="info-box-content">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Atkı" name="category_title">
                                    <input type="hidden" value="Atkı" name="product_title">
                                    <button class="btn btn-light" name="sendTrendyol" type="submit"
                                            style="outline: none; background: none;width: 100%; height: 100%; border: none;color: #fff;font-weight: bold; font-size: 1.5rem">
                                        Atkı Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12">
                        <div class="info-box bg-danger">
                            <div class="info-box-content">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Bere" name="category_title">
                                    <input type="hidden" value="Bere" name="product_title">
                                    <button class="btn btn-light" name="sendTrendyol" type="submit"
                                            style="outline: none; background: none;width: 100%; height: 100%; border: none;color: #fff;font-weight: bold; font-size: 1.5rem">
                                        Bere Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12">
                        <div class="info-box bg-info">
                            <div class="info-box-content">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Şal" name="category_title">
                                    <input type="hidden" value="Şal" name="product_title">
                                    <button class="btn btn-light" name="sendTrendyol" type="submit"
                                            style="outline: none; background: none;width: 100%; height: 100%; border: none;color: #fff;font-weight: bold; font-size: 1.5rem">
                                        Şal Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% elif category.title == 'Sütyen Takımları' %}
                    <div class="col-md-4 col-sm-6 col-12">
                        <div class="info-box bg-warning">
                            <div class="info-box-content">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="Sütyen" name="category_title">
                                    <input type="hidden" value="Sütyen" name="product_title">
                                    <button class="btn btn-light" name="sendTrendyol" type="submit"
                                            style="outline: none; background: none;width: 100%; height: 100%; border: none;color: #fff;font-weight: bold; font-size: 1.5rem">
                                        Sütyen Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% elif category.title == 'Tişort' or category.title == 'Tişört' or category.title == 'T-Shirt' %}
                    <div class="col-md-4 col-sm-6 col-12">
                        <div class="info-box bg-warning">
                            <div class="info-box-content">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="T-Shirt" name="category_title">
                                    <input type="hidden" value="Tişört" name="product_title">
                                    <button class="btn btn-light" name="sendTrendyol" type="submit"
                                            style="outline: none; background: none;width: 100%; height: 100%; border: none;color: #fff;font-weight: bold; font-size: 1.5rem">
                                        T-Shirt Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-2 col-sm-4 col-6">
                        <div class="info-box bg-purple">
                            <div class="info-box-content">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ category.title }}" name="category_title">
                                    <input type="hidden" value="{{ category.title }}" name="product_title">
                                    <button class="btn btn-light" name="sendTrendyol" type="submit"
                                            style="outline: none; background: none;width: 100%; height: 100%; border: none;color: #fff;font-weight: bold; font-size: 1.5rem">
                                        {{ category.title }} Yükle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>


{% endblock %}