{% extends 'backend/adminpage/layout.html' %}
{% load static %}

{% block title %}<title>Giyim Ürün Girişi</title>{% endblock %}

{% block trendyol %}

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Giyim Ürün Girişi</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'mainpage' %}">Anasayfa</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'trendyol_add_product' %}">Ürün Girişi</a></li>
                        <li class="breadcrumb-item active">Giyim Ürün Girişi</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-sm-3 col-6">
                    <div class="info-box bg-info">
                        <div class="info-box-content">
                            <a href="{% url 'trendyol_add_product_giyim_category1' 1 %}" class="info-box-text text-white">Üst Giyim</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-3 col-6">
                    <div class="info-box bg-success">
                        <div class="info-box-content">
                            <a href="{% url 'trendyol_add_product_giyim_category1' 2 %}" class="info-box-text text-white">Alt Giyim</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-3 col-6">
                    <div class="info-box bg-primary">
                        <div class="info-box-content">
                            <a href="{% url 'trendyol_add_product_giyim_category1' 3 %}" class="info-box-text text-white">Eşofman-Pijama</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-3 col-6">
                    <div class="info-box bg-warning">
                        <div class="info-box-content">
                            <a href="{% url 'trendyol_add_product_giyim_category1' 4 %}" class="info-box-text text-white">Elbise-Tulum</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-3 col-6">
                    <div class="info-box bg-danger">
                        <div class="info-box-content">
                            <a href="{% url 'trendyol_add_product_giyim_category1' 5 %}" class="info-box-text text-white">Ayakkabı</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-3 col-6">
                    <div class="info-box bg-dark">
                        <div class="info-box-content">
                            <a href="{% url 'trendyol_add_product_giyim_category1' 6 %}" class="info-box-text text-white">Aksesuar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-3 col-6">
                    <div class="info-box bg-gradient-fuchsia">
                        <div class="info-box-content">
                            <a href="{% url 'trendyol_add_product_giyim_category1' 7 %}" class="info-box-text text-white">İç Giyim</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}