{% extends 'frontend/v_1_0/layout.html' %}
{% load static %}

{% block title %}<title>{{ request.user.get_full_name }} - Soru ve Taleplerim</title>{% endblock %}
{% block profile %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/venobox.min.css' %}">
    <hr>
    <div class="container container-240 page-container profile mt-20">
        <div class="page-section reviews">
            <div class="page-margin">
                <div class="page-margin__content">
                    <div class="page-section__body">
                        <div class="profile-page__body">
                            <div class="row">
                                <div class="col-lg-3">
                                    {% include 'frontend/pages/profile/partials/partials/_sidebar.html' %}
                                </div>
                                <div class="col-lg-9">
                                    <div class="profile-page__header">
                                        <h3>
                                            {{ request.user.get_full_name }} − Soru ve Taleplerim <sup
                                                class="sec-text-color text-600">{{ question_count }}</sup>
                                        </h3>
                                    </div>
                                    <div class="profile-page__content">
                                        <div class="reviews__list">
                                            {% for q in question %}
                                                <div class="orders__list-item">
                                                    <div class="order-item">
                                                        <div class="order-item__body">
                                                            <div class="row align-items-center">
                                                                <div class="col-lg-12">
                                                                    <div class="row"><p>Q: {{ q.question }}</p></div>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <div class="row">
                                                                        <p>A: {% if q.answer %}{{ q.answer }}{% else %}Henüz cevap verilmedi...{% endif %}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% empty %}
                                                <div class="d-block">
                                                    <div class="placeholder-message">
                                                        <div class="icon">
                                                    <span>
                                                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none"
                                                             xmlns="https://www.w3.org/2000/svg">
                                                            <path d="M18 36C27.9411 36 36 27.9411 36 18C36 8.05887 27.9411 0 18 0C8.05887 0 0 8.05887 0 18C0 27.9411 8.05887 36 18 36Z"
                                                                  fill="#FFCC4D"/>
                                                            <path d="M24.5 19C27.5376 19 30 16.5376 30 13.5C30 10.4624 27.5376 8 24.5 8C21.4624 8 19 10.4624 19 13.5C19 16.5376 21.4624 19 24.5 19Z"
                                                                  fill="#F4F7F9"/>
                                                            <path d="M11.5 19C14.5376 19 17 16.5376 17 13.5C17 10.4624 14.5376 8 11.5 8C8.46243 8 6 10.4624 6 13.5C6 16.5376 8.46243 19 11.5 19Z"
                                                                  fill="#F4F7F9"/>
                                                            <path d="M23.109 23.424C20.346 22.757 14.236 23.364 11.947 27.829C11.865 27.987 11.907 28.182 12.047 28.293C12.115 28.348 12.198 28.375 12.281 28.375C12.366 28.375 12.452 28.346 12.522 28.288C15.606 25.708 19.958 25.708 22.558 25.708C24.193 25.708 25.094 25.708 25.094 25C25.094 24.292 24.389 23.732 23.109 23.424ZM10.5 13C11.881 13 13 11.881 13 10.5C13 9.24799 12.077 8.21999 10.876 8.03799C10.086 8.12699 9.35 8.38599 8.698 8.77399C8.268 9.22299 8 9.82899 8 10.5C8 11.881 9.119 13 10.5 13ZM23.5 13C24.881 13 26 11.881 26 10.5C26 9.24799 25.077 8.21999 23.876 8.03799C23.087 8.12699 22.35 8.38599 21.699 8.77399C21.268 9.22299 21 9.82899 21 10.5C21 11.881 22.119 13 23.5 13Z"
                                                                  fill="#65471B"/>
                                                        </svg>
                                                    </span>
                                                        </div>
                                                        <h2>
                                                            Hiç Sorunuz Yok
                                                        </h2>
                                                        <p>
                                                            Herhangi bir ürün için soru talebiniz bulunmamaktadır.
                                                        </p>
                                                        <p>
                                                            İlgili ürünle ilgili sorularınızı ürün detay sayfasında yer
                                                            alan "Soru ve Cevaplar" bölümünde tarafımıza
                                                            iletebilirsiniz. Keyifli alışverişler dileriz.
                                                        </p>
                                                        <div class="btn-controls">
                                                            <div class="btn-control__item">
                                                                <a href="{% url 'mainpage' %}" class="a-block">
                                                                    <div class="btn btn-primary btn-icon btn-lg">
                                                                <span class="icon">
                                                                    <svg xmlns="https://www.w3.org/2000/svg" width="24"
                                                                         height="24" viewBox="0 0 24 24" fill="none"
                                                                         stroke="currentColor" stroke-width="2"
                                                                         stroke-linecap="round" stroke-linejoin="round"
                                                                         class="feather feather-arrow-up-right">
                                                                        <line x1="7" y1="17" x2="17" y2="7"></line>
                                                                        <polyline points="7 7 17 7 17 17"></polyline>
                                                                    </svg>
                                                                </span>
                                                                        <span class="text">
                                                                   Hadi Alışverişe başlayalım
                                                                </span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'plugins/venobox.min.js' %}"></script>
    <script>
        if ($('.venobox').length && $.fn.venobox != undefined) {
            $('.venobox').venobox();
        }
    </script>
{% endblock %}